@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&family=Noto+Serif+JP:wght@400;700&family=M+PLUS+1p:wght@400;500;700&display=swap');

/* margin ---------------------------------------- */
.m-0{margin:0!important;}.m-1{margin:1rem!important;}.m-2{margin:2rem!important;}.m-3{margin:3rem!important;}.m-4{margin:4rem!important;}.m-5{margin:5rem!important;}.m-6{margin:6rem!important;}.m-7{margin:7rem!important;}.m-8{margin:8rem!important;}
.mt-0{margin-top:0!important;}.mt-1{margin-top:1rem!important;}.mt-2{margin-top:2rem!important;}.mt-3{margin-top:3rem!important;}.mt-4{margin-top:4rem!important;}.mt-5{margin-top:5rem!important;}.mt-6{margin-top:6rem!important;}.mt-7{margin-top:7rem!important;}.mt-8{margin-top:8rem!important;}
.mb-0{margin-bottom:0!important;}.mb-1{margin-bottom:1rem!important;}.mb-2{margin-bottom:2rem!important;}.mb-3{margin-bottom:3rem!important;}.mb-4{margin-bottom:4rem!important;}.mb-5{margin-bottom:5rem!important;}.mb-6{margin-bottom:6rem!important;}.mb-7{margin-bottom:7rem!important;}.mb-8{margin-bottom:8rem!important;}
.mr-0{margin-right:0!important;}.mr-1{margin-right:1rem!important;}.mr-2{margin-right:2rem!important;}.mr-3{margin-right:3rem!important;}.mr-4{margin-right:4rem!important;}.mr-5{margin-right:5rem!important;}.mr-6{margin-right:6rem!important;}.mr-7{margin-right:7rem!important;}.mr-8{margin-right:8rem!important;}
.ml-0{margin-left:0!important;}.ml-1{margin-left:1rem!important;}.ml-2{margin-left:2rem!important;}.ml-3{margin-left:3rem!important;}.ml-4{margin-left:4rem!important;}.ml-5{margin-left:5rem!important;}.ml-6{margin-left:6rem!important;}.ml-7{margin-left:7rem!important;}.ml-8{margin-left:8rem!important;}
.mt-s{margin-top:5px!important;}
.mr-s{margin-right:5px!important;}
.ml-s{margin-left:5px!important;}
.mb-s{margin-bottom:5px!important;}

/* padding ---------------------------------------- */
.p-0{padding:0!important;}.p-1{padding:1rem!important;}.p-2{padding:2rem!important;}.p-3{padding:3rem!important;}.p-4{padding:4rem!important;}.p-5{padding:5rem!important;}.p-6{padding:6rem!important;}.p-7{padding:7rem!important;}.p-8{padding:8rem!important;}
.pt-0{padding-top:0!important;}.pt-1{padding-top:1rem!important;}.pt-2{padding-top:2rem!important;}.pt-3{padding-top:3rem!important;}.pt-4{padding-top:4rem!important;}.pt-5{padding-top:5rem!important;}.pt-6{padding-top:6rem!important;}.pt-7{padding-top:7rem!important;}.pt-8{padding-top:8rem!important;}
.pb-0{padding-bottom:0!important;}.pb-1{padding-bottom:1rem!important;}.pb-2{padding-bottom:2rem!important;}.pb-3{padding-bottom:3rem!important;}.pb-4{padding-bottom:4rem!important;}.pb-5{padding-bottom:5rem!important;}.pb-6{padding-bottom:6rem!important;}.pb-7{padding-bottom:7rem!important;}.pb-8{padding-bottom:8rem!important;}
.pr-0{padding-right:0!important;}.pr-1{padding-right:1rem!important;}.pr-2{padding-right:2rem!important;}.pr-3{padding-right:3rem!important;}.pr-4{padding-right:4rem!important;}.pr-5{padding-right:5rem!important;}.pr-6{padding-right:6rem!important;}.pr-7{padding-right:7rem!important;}.pr-8{padding-right:8rem!important;}
.pl-0{padding-left:0!important;}.pl-1{padding-left:1rem!important;}.pl-2{padding-left:2rem!important;}.pl-3{padding-left:3rem!important;}.pl-4{padding-left:4rem!important;}.pl-5{padding-left:5rem!important;}.pl-6{padding-left:6rem!important;}.pl-7{padding-left:7rem!important;}.pl-8{padding-left:8rem!important;}
.p-s{padding:5px!important;}
.pt-s{padding-top:5px!important;}
.pr-s{padding-right:5px!important;}
.pl-s{padding-left:5px!important;}
.pb-s{padding-bottom:5px!important;}

/* -------------------------------------------------- */
/* common */
/* -------------------------------------------------- */
.text-center{text-align:center!important;}
.text-right{text-align:right!important;}
.text-left{text-align:left!important;}
.text-bold{font-weight:700;}
.text-normal{font-weight:normal;}

.v-sp {display: none;}

main {background: #F4F4F4;}

/* -------------------------------------------------- */
/* wrapper */
/* -------------------------------------------------- */
#wrapper {color: #333; font-family: 'M PLUS 1p', sans-serif; font-size:16px; font-weight: 400; line-height: 1.625; letter-spacing: 0.05em;}
#wrapper .serif {font-family: 'Noto Serif JP',"游明朝体","Yu Mincho",YuMincho,"ヒラギノ明朝 Pro","Hiragino Mincho Pro","MS P明朝","MS PMincho",serif;}
#wrapper a:hover{opacity:0.7;}
#wrapper a img:hover{opacity:0.7;}

/* -------------------------------------------------- */
/* common */
/* -------------------------------------------------- */

/* -------------------------------------------------- */
/* block-mv */
/* -------------------------------------------------- */
#block-mv {position: relative; height: 520px; padding: 0 20px;}
#block-mv .img {position: absolute; left: 0; top: 0; width: 100%; height: 100%;}
#block-mv .img img {position: absolute; left: 0; top: 0; width: 100%; height: 100%; object-fit: cover;}
#block-mv .inner {position: relative; max-width: 1230px; height: 100%; margin: auto;}
#block-mv .inner .logo {position: absolute; left: 0; top: 0; width: 194px; z-index: 1;}

/* -------------------------------------------------- */
/* block-contents */
/* -------------------------------------------------- */
#block-contents {position: relative; max-width: 830px; margin: -100px auto 0; border-radius: 11px; box-sizing: border-box; background-color: #fff;}
#block-contents .top {margin-bottom: 45px; padding: 25px 35px 0;}
#block-contents .top_ttl {padding-bottom: 15px; margin-bottom: 15px; font-size: 26px; font-weight: 500; line-height: 1.5; border-bottom: 1px solid #707070;}
#block-contents .top_date {display: flex; justify-content: space-between; align-items: center;}
#block-contents .top_date .member {display: flex; align-items: center;}
#block-contents .top_date .member > li {padding: 3px 10px; font-size: 13px; line-height: 1; background-color: #F2F2F2;}
#block-contents .top_date .member > li + li {margin-left: 10px;}
#block-contents .top_date .date {font-weight: 700;}
#block-contents .under {padding: 35px; text-align: center;}
#block-contents .under_sub {margin-bottom: 1em; font-size: 20px; font-weight: 500;}
#block-contents .under_num {width: 82px; padding: 5px; margin: auto; color: #fff; font-size: 18px; text-align: center; line-height: 1; background-color: #B5983F;}
#block-contents .under_ttl {color: #B5983F; font-size: 30px; font-weight: 500; letter-spacing: 0.1em;}
#block-contents .detail {padding: 0 35px 50px;}
#block-contents .detail > p + *,
#block-contents .detail > figure + * {margin-top: 1em;}
#block-contents .detail > * + figure {margin-top: 2em;}
#block-contents .detail .menu {padding: 30px 30px 80px; margin-top: 60px; text-align: center; background-color: #FAF7EF;}
#block-contents .detail .menu_h2 {margin-bottom: 30px; color: #B5983F; font-size: 24px; font-weight: 700; letter-spacing: 0.1em; text-decoration: underline;}
#block-contents .detail .menu_h3 {color: #B5983F; font-size: 20px; font-weight: 500;}
#block-contents .detail .menu p {line-height: 1.625;}
#block-contents .detail .menu p a {text-decoration: underline;}
#block-contents .detail .menu p + .menu_h3 {margin-top: 1em;}
#block-contents .detail .member {margin: 80px 0 50px;}
#block-contents .detail .member_h4 {margin-bottom: 30px; color: #BF9C46; font-size: 20px; font-weight: 500; text-align: center; letter-spacing: 0.1em;}
#block-contents .detail .member_list > li {display: flex; justify-content: space-between; align-items: flex-start; padding: 15px 25px; border: 1px solid #B3963D; border-radius: 13px;}
#block-contents .detail .member_list > li + li {margin-top: 15px;}
#block-contents .detail .member_list > li figure {width: 100px;}
#block-contents .detail .member_list > li .prof {width: 200px; margin-left: 25px;}
#block-contents .detail .member_list > li .prof .position {display: inline-block; padding: 0 15px;}
#block-contents .detail .member_list > li .prof .position-host {color: #fff; background-color: #B3963D;}
#block-contents .detail .member_list > li .prof .position-guest {color: #777; background-color: #EDE8DB;}
#block-contents .detail .member_list > li .prof .name {font-size: 22px; font-weight: 700; letter-spacing: 0.1em;}
#block-contents .detail .member_list > li .prof .job {font-size: 13px; letter-spacing: 0.1em;}
#block-contents .detail .member_list > li .txt {flex: 1; margin-left: 10px} 
#block-contents .detail .talk > dt {color: #B3963D; font-weight: 500;}
#block-contents .detail .talk > dd + dt {margin-top: 1em;}
#block-contents .detail .recipe {margin-top: 80px; background-color: #FAF7EF;}
#block-contents .detail .recipe_ttl {position: relative; padding: 15px; color: #B3963D; font-weight: 500; text-align: center; cursor: pointer;}
#block-contents .detail .recipe_ttl::after {content: ""; position: absolute; top: 50%; right: 35px; width: 8px; height: 8px; margin-top: -8px; border-bottom: 1px solid #B3963D; border-right: 1px solid #B3963D; transform: rotate(45deg); transition: .2s linear;}
#block-contents .detail .recipe_ttl.open::after {margin-top: -4px; transform: rotate(-135deg);}
#block-contents .detail .recipe_detail {padding: 0 40px 30px; line-height: 1.625; display: none;}
#block-contents .detail .recipe_detail .heading {width: 100%;}
#block-contents .detail .recipe_detail .ingredients {display: flex; justify-content: space-between; flex-wrap: wrap;}
#block-contents .detail .recipe_detail .ingredients .box {width: calc(50% - 10px);}
#block-contents .detail .recipe_detail .make {margin-top: 40px;}
#block-contents .detail .recipe_detail .make ol > li {margin-left: 1.5em; list-style-type: decimal;}
#block-contents .order {padding: 30px 0 75px; margin: 0 0 50px; background-color: #F7F3E9;}
#block-contents .orderTtl {position: relative; padding-bottom: 5px; margin-bottom: 30px; color: #000; font-size: 26px; font-weight: 500; text-align: center; line-height: 1.6;}
#block-contents .orderTtl::before {content: ""; position: absolute; left: 50%; bottom: 0; width: 62px; height: 2px; background-color: #BF9C46; transform: translateX(-50%);}
#block-contents .orderList {max-width: 650px; margin: 30px auto 0;}
#block-contents .orderList ul {display: flex; flex-wrap: wrap; gap: 20px;}
#block-contents .orderList ul > li {width: calc(50% - 10px);}
#block-contents .orderList ul > li a {position: relative; display: block; height: 100%; padding: 10px 20px 15px 20px; letter-spacing: 0.1em; border: 1px solid #707070; background-color: #fff; box-sizing: border-box;}
#block-contents .orderList ul > li a::after {content: ""; position: absolute; right: 5px; bottom: 5px; width: 26px; height: 26px; background: url(../images/arrow_link.png) left top / 100% auto no-repeat;}
#block-contents .orderList ul > li .name {padding-bottom: 5px; margin-bottom: 5px; font-size: 18px; border-bottom: 1px solid #707070;}
#block-contents .orderList ul > li .price {font-weight: 500;}
#block-contents .orderItem {max-width: 700px; margin: auto; background-color: #fff; box-shadow: 0px 3px 6px #00000071;}
#block-contents .orderItem + .orderItem {margin-top: 40px;}
#block-contents .orderItem a {display: flex; justify-content: space-between; align-items: center; padding: 20px; color: #333;}
#block-contents .orderItem .img {width: 29%; margin-right: 20px;}
#block-contents .orderItem.otoku .img {position: relative;}
#block-contents .orderItem.otoku .img::before {content: ""; position: absolute; right: 15px; bottom: 15px; width: 60px; height: 60px; background: url(../images/otoku.png) left top / 100% auto no-repeat;}
#block-contents .orderItem .inner {width: 71%;}
#block-contents .orderItem .inner .name {padding-bottom: 10px; margin-bottom: 10px; font-size: 23px; line-height: 1.2; border-bottom: 1px solid #707070;}
#block-contents .orderItem .inner .name small {display: block; font-size: 20px;}
#block-contents .orderItem .inner .price {font-size: 18px; font-weight: 500;}
#block-contents .orderItem.otoku .inner .price::before {content: "ご自宅用お得PRICE"; display: inline-block; padding: 3px 8px; margin-right: 10px; color: #8B1B1B; font-size: 13px; font-weight: 400; letter-spacing: 0.1em; background-color: #EDE8DB; vertical-align: text-bottom;}
#block-contents .orderItem .inner .price .num {font-size: 24px;}
#block-contents .orderItem .inner .btn {position: relative; max-width: 220px; padding: 8px; margin: 18px auto 0; color: #fff; font-size: 18px; text-align: center; background-color: #333;}
#block-contents .orderItem .inner .btn-end {pointer-events: none; background-color: #888888;}
#block-contents .page {padding: 0 35px 65px;}
#block-contents .page_next {font-size: 18px; text-align: center; letter-spacing: 0.1em;}
#block-contents .page_next a {text-decoration: underline;}
#block-contents .page_list {display: flex; justify-content: center; margin-top: 15px;}
#block-contents .page_list > li {width: 30px;}
#block-contents .page_list > li + li {margin-left: 20px;}
#block-contents .page_list > li .current,
#block-contents .page_list > li a {display: flex; justify-content: center; align-items: center; height: 30px; color: #fff; font-size: 18px;}
#block-contents .page_list > li .current {background-color: #B3963D;}
#block-contents .page_list > li a {background-color: #777;}


@media screen and (max-width: 1270px) {
	/* -------------------------------------------------- */
	/* block-mv */
	/* -------------------------------------------------- */
	#block-mv .inner .logo {width: 16%;}
}

@media screen and (max-width: 860px) {
	/* -------------------------------------------------- */
	/* block-mv */
	/* -------------------------------------------------- */
	#block-mv {height: 330px;}

	/* -------------------------------------------------- */
	/* block-contents */
	/* -------------------------------------------------- */
	#block-contents {margin: -100px 20px 0;}
}

@media screen and (max-width: 767px) {
	/* -------------------------------------------------- */
	/* common */
	/* -------------------------------------------------- */
	.v-pc {display: none;}
	.v-sp {display: block;}

	/* -------------------------------------------------- */
	/* block-mv */
	/* -------------------------------------------------- */
	#block-mv {height: 260px; padding: 0 18px;}
	#block-mv .inner .logo {width: 25%;}

	/* -------------------------------------------------- */
	/* block-contents */
	/* -------------------------------------------------- */
	#block-contents {margin: 20px 0 0; border-radius: 0;}
	#block-contents .top {padding: 12px 15px 20px; margin-bottom: 0;}
	#block-contents .top_ttl {font-size: 18px;}
	#block-contents .top_date {display: block;}
	#block-contents .top_date .member > li {padding: 3px 5px; font-size: 14px;}
	#block-contents .top_date .member > li + li {margin-left: 4px;}
	#block-contents .top_date .date {margin-top: 10px; text-align: right;}
	#block-contents .under {padding: 18px 15px 25px;}
	#block-contents .under_sub {font-size: 16px;}
	#block-contents .under_num {width: 55px; margin-bottom: 10px; font-size: 16px;}
	#block-contents .under_ttl {font-size: 20px;}
	#block-contents .detail {padding: 0 15px 35px;}
	#block-contents .detail .menu {padding: 25px 10px 45px; margin-top: 30px;}
	#block-contents .detail .menu_h2 {margin-bottom: 15px; font-size: 18px;}
	#block-contents .detail .menu_h3 {font-size: 16px;}
	#block-contents .detail .menu p {font-size: 14px;}
	#block-contents .detail .member {margin: 50px 0 60px;}
	#block-contents .detail .member_h4 {margin-bottom: 15px; font-size: 18px;}
	#block-contents .detail .member_list > li {padding: 10px 10px 25px; flex-wrap: wrap; border-radius: 13px;}
	#block-contents .detail .member_list > li figure {width: 70px;}
	#block-contents .detail .member_list > li .prof {width: calc(100% - 90px); margin-left: 0;}
	#block-contents .detail .member_list > li .prof .position {padding: 0 10px; font-size: 14px;}
	#block-contents .detail .member_list > li .prof .name {font-size: 18px;}
	#block-contents .detail .member_list > li .prof .job {font-size: 14px;}
	#block-contents .detail .member_list > li .txt {flex: auto; width: 100%; margin-top: 15px; margin-left: 0;}
	#block-contents .detail .member_list > li .txt p {color: #777;}
	#block-contents .detail .recipe {margin-top: 30px;}
	#block-contents .detail .recipe_detail {padding: 20px 15px 25px;}
	#block-contents .detail .recipe_detail .ingredients {display: block;}
	#block-contents .detail .recipe_detail .ingredients .box {width: 100%;}
	#block-contents .detail .recipe_detail .make {margin-top: 25px;}
	#block-contents .order {padding: 20px 15px 45px; border-radius: 0;}
	#block-contents .orderTtl {font-size: 21px;}
	#block-contents .orderTtl::before {width: 46px; height: 1px;}
	#block-contents .orderList {margin-top: 20px;}
	#block-contents .orderList ul {gap: 10px;}
	#block-contents .orderList ul > li {width: calc(50% - 5px);}
	#block-contents .orderList ul > li a {padding: 6px 10px 12px; letter-spacing: 0.05em;}
	#block-contents .orderList ul > li .name {font-size: 14px;}
	#block-contents .orderList ul > li .price {font-size: 12px;}
	#block-contents .orderList ul > li a::after {right: 3px; bottom: 3px; width: 17px; height: 17px;}
	#block-contents .orderItem {position: relative; margin: 15px 0 0; padding-bottom: 60px;}
	#block-contents .orderItem a {padding: 15px 12px;}
	#block-contents .orderItem .img {width: 37%; top:-10px; margin-right: 0px;}
	#block-contents .orderItem.otoku .img::before {top: auto; bottom: 5px; right: 5px; width: 50px; height: 50px;} 
	#block-contents .orderItem .inner {width: 54%; padding: 10px 0;}
	#block-contents .orderItem .inner .name small {font-size: 16px;}
	#block-contents .orderItem .inner .name {font-size: 20px;}
	#block-contents .orderItem .inner .price {font-size: 14px;}
	#block-contents .orderItem .inner .price .num {font-size: 19px;}
	#block-contents .orderItem .inner .btn {position: absolute; left: 50%; bottom: 20px; width: 205px; max-width: none; margin: 0; font-size: 15px; transform: translateX(-50%);}
	#block-contents .page_next {font-size: 16px;}
	#block-contents .page_list > li {width: 20px;}
	#block-contents .page_list > li + li {margin-left: 10px;}
	#block-contents .page_list > li .current,
	#block-contents .page_list > li a {height: 20px; font-size: 12px;}
}