@charset "utf-8";
/* 基本設定：縦積みレイアウト */
#block-contents .mothersday {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin-top: 45px;
    background-color: #FEF0F3; 
    padding-top:40px;
}



/* タイトル (H3) */
#block-contents .mothersday .ttl {
    color: #AD2440;
    font-size: 32px;
    text-align: center;
    margin-bottom: 25px;
    font-weight:bold;
}

/* 本文 (P) */
#block-contents .mothersday .lead {
    color: #333;
    font-size: 20px;
    text-align: center;
    line-height: 1.6;
    margin-bottom: 40px;
}

/* 画像共通設定 (影 & 横幅) */
#block-contents .mothersday .image-box {
    width: 100%;
    max-width: 470px; /* PC最大幅 */
    margin-bottom: 60px;
}

#block-contents .mothersday .image-box img {
    width: 100%;
    height: auto;
    display: block;
    box-shadow: 0 10px 20px rgba(0,0,0,0.15); /* 影の指定 */
}

/* ポイントセクション */
#block-contents .mothersday .point-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#block-contents .mothersday .point-tag {
    color: #fff;
    background-color: #AD2440;
    padding: 2px 20px;
    border-radius: 100px; /* 角丸 */
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
}

#block-contents .mothersday .point-ttl {
    color: #333;
    font-size: 24px;
    text-align: center;
    margin-bottom: 10px;
}

.color-wine {
    color: #AD2440 !important;
}

.orderItem.is-mothersday a {
    background-color: #FEF0F3
}

/* --- レスポンシブ (768px以下) --- */
@media screen and (max-width: 768px) {
    #block-contents .mothersday {
        padding: 40px 20px 0;
    }

    #block-contents .mothersday .ttl {
        font-size: 26px; /* スマホ用に少し縮小 */
    }

    #block-contents .mothersday .lead {
        font-size: 18px;
        br { display: none; } /* スマホでは改行解除、または調整 */
    }

    #block-contents .mothersday .point-ttl {
        font-size: 22px;
    }

    #block-contents .mothersday .image-box {
        max-width: 100%; /* スマホでは横幅いっぱいに */
    }
}


/* 母の日バッジ設定 */
#block-mv .inner .mother-badge {
    position: absolute;
    z-index: 10; 
    pointer-events: none; 
}

/* PCサイズ：右上に配置 */
@media screen and (min-width: 768px) {
    #block-mv .inner .mother-badge {
        top: 0;
        right: 0;
        width: 150px; 
    }
}


@media screen and (max-width: 767px) {
    #block-mv .inner .mother-badge {
        top: 0;
        right: 0;
        width: 90px; 
    }
}