@charset "utf-8";

/* --------------------------------------------------- */

/* normalize

/* --------------------------------------------------- */

#sel-header article,#sel-header aside,#sel-header details,#sel-header figcaption,#sel-header figure,#sel-header footer,#sel-header header,#sel-header hgroup,#sel-header main,#sel-header nav,#sel-header section,#sel-header summary,
#sel-topicPath article,#sel-topicPath aside,#sel-topicPath details,#sel-topicPath figcaption,#sel-topicPath figure,#sel-topicPath footer,#sel-topicPath header,#sel-topicPath hgroup,#sel-topicPath main,#sel-topicPath nav,#sel-topicPath section,#sel-topicPath summary,
#sel-sidebar article,#sel-sidebar aside,#sel-sidebar details,#sel-sidebar figcaption,#sel-sidebar figure,#sel-sidebar footer,#sel-sidebar header,#sel-sidebar hgroup,#sel-sidebar main,#sel-sidebar nav,#sel-sidebar section,#sel-sidebar summary,
#sel-footer article,#sel-footer aside,#sel-footer details,#sel-footer figcaption,#sel-footer figure,#sel-footer footer,#sel-footer header,#sel-footer hgroup,#sel-footer main,#sel-footer nav,#sel-footer section,#sel-footer summary,
#sel-main article,#sel-main aside,#sel-main details,#sel-main figcaption,#sel-main figure,#sel-main footer,#sel-main header,#sel-main hgroup,#sel-main main,#sel-main nav,#sel-main section,#sel-main summary,
#sel-mainR article,#sel-mainR aside,#sel-mainR details,#sel-mainR figcaption,#sel-mainR figure,#sel-mainR footer,#sel-mainR header,#sel-mainR hgroup,#sel-mainR main,#sel-mainR nav,#sel-mainR section,#sel-mainR summary {
	display:block
}
#sel-header audio,#sel-header canvas,#sel-header video,
#sel-topicPath audio,#sel-topicPath canvas,#sel-topicPath video,
#sel-sidebar audio,#sel-sidebar canvas,#sel-sidebar video,
#sel-footer audio,#sel-footer canvas,#sel-footer video,
#sel-main audio,#sel-main canvas,#sel-main video,
#sel-mainR audio,#sel-mainR canvas,#sel-mainR video{
	display:inline-block
}
#sel-header audio:not([controls]),
#sel-topicPath audio:not([controls]),
#sel-sidebar audio:not([controls]),
#sel-footer audio:not([controls]),
#sel-main audio:not([controls]),
#sel-mainR audio:not([controls]){
	display:none;height:0
}
#sel-header [hidden],#sel-header template,
#sel-topicPath [hidden],#sel-topicPath template,
#sel-sidebar [hidden],#sel-sidebar template,
#sel-footer [hidden],#sel-footer template,
#sel-main [hidden],#sel-main template,
#sel-mainR [hidden],#sel-mainR template{
	display:none
}
body{margin:0;background:none !important;}
#sel-header a,
#sel-topicPath a,
#sel-sidebar a,
#sel-footer a,
#sel-main a,
#sel-mainR a{
	background:transparent
}
#sel-header a:focus,
#sel-topicPath a:focus,
#sel-sidebar a:focus,
#sel-footer a:focus,
#sel-main a:focus,
#sel-mainR a:focus{
	outline:thin dotted
}
#sel-header a:active,#sel-header a:hover,
#sel-topicPath a:active,#sel-topicPath a:hover,
#sel-sidebar a:active,#sel-sidebar a:hover,
#sel-footer a:active,#sel-footer a:hover,
#sel-main a:active,#sel-main a:hover,
#sel-mainR a:active,#sel-mainR a:hover{
	outline:0
}
#sel-header h1,
#sel-topicPath h1,
#sel-sidebar h1,
#sel-footer h1,
#sel-main h1,
#sel-mainR h1{
	font-size:2em;margin:.67em 0
}
#sel-header abbr[title],
#sel-topicPath abbr[title],
#sel-sidebar abbr[title],
#sel-footer abbr[title],
#sel-main abbr[title],
#sel-mainR abbr[title]{
	border-bottom:1px dotted
}
#sel-header b,#sel-header strong,
#sel-topicPath b,#sel-topicPath strong,
#sel-sidebar b,#sel-sidebar strong,
#sel-footer b,#sel-footer strong,
#sel-main b,#sel-main strong,
#sel-mainR b,#sel-mainR strong{
	font-weight:bold
}
#sel-header dfn,
#sel-topicPath dfn,
#sel-sidebar dfn,
#sel-footer dfn,
#sel-main dfn,
#sel-mainR dfn{
	font-style:italic
}
#sel-header hr,
#sel-topicPath hr,
#sel-sidebar hr,
#sel-footer hr,
#sel-main hr,
#sel-mainR hr{
	-moz-box-sizing:content-box;box-sizing:content-box;height:0
}
#sel-header mark,
#sel-topicPath mark,
#sel-sidebar mark,
#sel-footer mark,
#sel-main mark,
#sel-mainR mark{
	background:#ff0;color:#000
}
#sel-header code,#sel-header kbd,#sel-header pre,#sel-header samp,
#sel-topicPath code,#sel-topicPath kbd,#sel-topicPath pre,#sel-topicPath samp,
#sel-sidebar code,#sel-sidebar kbd,#sel-sidebar pre,#sel-sidebar samp,
#sel-footer code,#sel-footer kbd,#sel-footer pre,#sel-footer samp,
#sel-main code,#sel-main kbd,#sel-main pre,#sel-main samp,
#sel-mainR code,#sel-mainR kbd,#sel-mainR pre,#sel-mainR samp{
	font-family:monospace,serif;font-size:1em
}
#sel-header pre,
#sel-topicPath pre,
#sel-sidebar pre,
#sel-footer pre,
#sel-main pre,
#sel-mainR pre{
	white-space:pre-wrap
}
#sel-header q,
#sel-topicPath q,
#sel-sidebar q,
#sel-footer q,
#sel-main q,
#sel-mainR q{
	quotes:"\201C" "\201D" "\2018" "\2019"
}
#sel-header small,
#sel-topicPath small,
#sel-sidebar small,
#sel-footer small,
#sel-main small,
#sel-mainR small{
	font-size:80%
}
#sel-header sub,#sel-header sup,
#sel-topicPath sub,#sel-topicPath sup,
#sel-sidebar sub,#sel-sidebar sup,
#sel-footer sub,#sel-footer sup,
#sel-main sub,#sel-main sup,
#sel-mainR sub,#sel-mainR sup{
	font-size:75%;line-height:0;position:relative;vertical-align:baseline
}
#sel-header sup,
#sel-topicPath sup,
#sel-sidebar sup,
#sel-footer sup,
#sel-main sup,
#sel-mainR sup{
	top:-.5em
}
#sel-header sub,
#sel-topicPath sub,
#sel-sidebar sub,
#sel-footer sub,
#sel-main sub,
#sel-mainR sub{
	bottom:-.25em
}
#sel-header img,
#sel-topicPath img,
#sel-sidebar img,
#sel-footer img,
#sel-main img,
#sel-mainR img{
	border:0
}
#sel-header svg:not(:root),
#sel-topicPath svg:not(:root),
#sel-sidebar svg:not(:root),
#sel-footer svg:not(:root),
#sel-main svg:not(:root),
#sel-mainR svg:not(:root){
	overflow:hidden
}
#sel-header figure,
#sel-topicPath figure,
#sel-sidebar figure,
#sel-footer figure,
#sel-main figure,
#sel-mainR figure{
	margin:0
}
#sel-header fieldset,
#sel-topicPath fieldset,
#sel-sidebar fieldset,
#sel-footer fieldset,
#sel-main fieldset,
#sel-mainR fieldset{
	border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em
}
#sel-header legend,
#sel-topicPath legend,
#sel-sidebar legend,
#sel-footer legend,
#sel-main legend,
#sel-mainR legend{
	border:0;padding:0
}
#sel-header button,#sel-header input,#sel-header select,#sel-header textarea,
#sel-topicPath button,#sel-topicPath input,#sel-topicPath select,#sel-topicPath textarea,
#sel-sidebar button,#sel-sidebar input,#sel-sidebar select,#sel-sidebar textarea,
#sel-footer button,#sel-footer input,#sel-footer select,#sel-footer textarea,
#sel-main button,#sel-main input,#sel-main select,#sel-main textarea,
#sel-mainR button,#sel-mainR input,#sel-mainR select,#sel-mainR textarea{
	font-family:inherit;font-size:100%;margin:0
}
#sel-header button,#sel-header input,
#sel-topicPath button,#sel-topicPath input,
#sel-sidebar button,#sel-sidebar input,
#sel-footer button,#sel-footer input,
#sel-main button,#sel-main input,
#sel-mainR button,#sel-mainR input{
	line-height:normal
}
#sel-header button,#sel-header select,
#sel-topicPath button,#sel-topicPath select,
#sel-sidebar button,#sel-sidebar select,
#sel-footer button,#sel-footer select,
#sel-main button,#sel-main select,
#sel-mainR button,#sel-mainR select{
	text-transform:none
}
#sel-header button,#sel-header input[type="button"],#sel-header input[type="reset"],#sel-header input[type="submit"],
#sel-topicPath button,#sel-topicPath input[type="button"],#sel-topicPath input[type="reset"],#sel-topicPath input[type="submit"],
#sel-sidebar button,#sel-sidebar input[type="button"],#sel-sidebar input[type="reset"],#sel-sidebar input[type="submit"],
#sel-footer button,#sel-footer input[type="button"],#sel-footer input[type="reset"],#sel-footer input[type="submit"],
#sel-main button,#sel-main input[type="button"],#sel-main input[type="reset"],#sel-main input[type="submit"],
#sel-mainR button,#sel-mainR input[type="button"],#sel-mainR input[type="reset"],#sel-mainR input[type="submit"]{
	-webkit-appearance:button;cursor:pointer
}
#sel-header button[disabled],#sel-header input[disabled],
#sel-topicPath button[disabled],#sel-topicPath input[disabled],
#sel-sidebar button[disabled],#sel-sidebar input[disabled],
#sel-footer button[disabled],#sel-footer input[disabled],
#sel-main button[disabled],#sel-main input[disabled],
#sel-mainR button[disabled],#sel-mainR input[disabled]{
	cursor:default
}
#sel-header input[type="checkbox"],#sel-header input[type="radio"],
#sel-topicPath input[type="checkbox"],#sel-topicPath input[type="radio"],
#sel-sidebar input[type="checkbox"],#sel-sidebar input[type="radio"],
#sel-footer input[type="checkbox"],#sel-footer input[type="radio"],
#sel-main input[type="checkbox"],#sel-main input[type="radio"],
#sel-mainR input[type="checkbox"],#sel-mainR input[type="radio"]{
	box-sizing:border-box;padding:0
}
#sel-header input[type="search"],
#sel-topicPath input[type="search"],
#sel-sidebar input[type="search"],
#sel-footer input[type="search"],
#sel-main input[type="search"],
#sel-mainR input[type="search"]{
	-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box
}
#sel-header input[type="search"]::-webkit-search-cancel-button,#sel-header input[type="search"]::-webkit-search-decoration,
#sel-topicPath input[type="search"]::-webkit-search-cancel-button,#sel-topicPath input[type="search"]::-webkit-search-decoration,
#sel-sidebar input[type="search"]::-webkit-search-cancel-button,#sel-sidebar input[type="search"]::-webkit-search-decoration,
#sel-footer input[type="search"]::-webkit-search-cancel-button,#sel-footer input[type="search"]::-webkit-search-decoration,
#sel-main input[type="search"]::-webkit-search-cancel-button,#sel-main input[type="search"]::-webkit-search-decoration,
#sel-mainR input[type="search"]::-webkit-search-cancel-button,#sel-mainR input[type="search"]::-webkit-search-decoration{
	-webkit-appearance:none
}
#sel-header button::-moz-focus-inner,#sel-header input::-moz-focus-inner,
#sel-topicPath button::-moz-focus-inner,#sel-topicPath input::-moz-focus-inner,
#sel-sidebar button::-moz-focus-inner,#sel-sidebar input::-moz-focus-inner,
#sel-footer button::-moz-focus-inner,#sel-footer input::-moz-focus-inner,
#sel-main button::-moz-focus-inner,#sel-main input::-moz-focus-inner,
#sel-mainR button::-moz-focus-inner,#sel-mainR input::-moz-focus-inner{
	border:0;padding:0
}
#sel-header textarea,
#sel-topicPath textarea,
#sel-sidebar textarea,
#sel-footer textarea,
#sel-main textarea,
#sel-mainR textarea{
	overflow:auto;vertical-align:top
}
#sel-header table,
#sel-topicPath table,
#sel-sidebar table,
#sel-footer table,
#sel-main table,
#sel-mainR table{
	border-collapse:collapse;border-spacing:0
}

/* --------------------------------------------------- */

/* base

/* --------------------------------------------------- */

#sel-header,
#sel-topicPath,
#sel-sidebar,
#sel-footer {
	color: #333;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size: 13px;
  line-height: 1.62;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
  word-wrap: break-word;
  word-break: normal;
}
#sel-main,
#sel-mainR {
	color: #333;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size: 14px;
  line-height: 1.62;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
  word-wrap: break-word;
  word-break: normal;
}
*+html #sel-header,
*+html #sel-topicPath,
*+html #sel-sidebar,
*+html #sel-footer,
*+html #sel-main,
*+html #sel-mainR {
	font-size: 88%;
  letter-spacing: 0;
}
#sel-header a,
#sel-topicPath a,
#sel-sidebar a,
#sel-footer a,
#sel-main a,
#sel-mainR a {
	color: #b98124;
	text-decoration: none;
}
#sel-header a:hover,
#sel-topicPath a:hover,
#sel-sidebar a:hover,
#sel-footer a:hover,
#sel-main a:hover {
	text-decoration: underline;
}
#sel-header a, #sel-header a:focus,
#sel-topicPath a, #sel-topicPath a:focus,
#sel-sidebar a, #sel-sidebar a:focus,
#sel-footer a, #sel-footer a:focus,
#sel-main a, #sel-main a:focus,
#sel-mainR a, #sel-mainR a:focus {
	outline: none;
}
#sel-header h1, #sel-header h2, #sel-header h3, #sel-header h4, #sel-header h5, #sel-header h6, #sel-header p, #sel-header table, #sel-header dl, #sel-header ul, #sel-header ol, #sel-header pre,
#sel-topicPath h1, #sel-topicPath h2, #sel-topicPath h3, #sel-topicPath h4, #sel-topicPath h5, #sel-topicPath h6, #sel-topicPath p, #sel-topicPath table, #sel-topicPath dl, #sel-topicPath ul, #sel-topicPath ol, #sel-topicPath pre,
#sel-sidebar h1, #sel-sidebar h2, #sel-sidebar h3, #sel-sidebar h4, #sel-sidebar h5, #sel-sidebar h6, #sel-sidebar p, #sel-sidebar table, #sel-sidebar dl, #sel-sidebar ul, #sel-sidebar ol, #sel-sidebar pre,
#sel-footer h1, #sel-footer h2, #sel-footer h3, #sel-footer h4, #sel-footer h5, #sel-footer h6, #sel-footer p, #sel-footer table, #sel-footer dl, #sel-footer ul, #sel-footer ol, #sel-footer pre,
#sel-main h1, #sel-main h2, #sel-main h3, #sel-main h4, #sel-main h5, #sel-main h6, #sel-main p, #sel-main table, #sel-main dl, #sel-main ul, #sel-main ol, #sel-main pre,
#sel-mainR h1, #sel-mainR h2, #sel-mainR h3, #sel-mainR h4, #sel-mainR h5, #sel-mainR h6, #sel-mainR p, #sel-mainR table, #sel-mainR dl, #sel-mainR ul, #sel-mainR ol, #sel-mainR pre {
	margin: 0;
}
#sel-header h1, #sel-header h2, #sel-header h3, #sel-header h4, #sel-header h5, #sel-header h6,
#sel-topicPath h1, #sel-topicPath h2, #sel-topicPath h3, #sel-topicPath h4, #sel-topicPath h5, #sel-topicPath h6,
#sel-sidebar h1, #sel-sidebar h2, #sel-sidebar h3, #sel-sidebar h4, #sel-sidebar h5, #sel-sidebar h6,
#sel-footer h1, #sel-footer h2, #sel-footer h3, #sel-footer h4, #sel-footer h5, #sel-footer h6,
#sel-main h1, #sel-main h2, #sel-main h3, #sel-main h4, #sel-main h5, #sel-main h6,
#sel-mainR h1, #sel-mainR h2, #sel-mainR h3, #sel-mainR h4, #sel-mainR h5, #sel-mainR h6 {
	font-size: 1em;
}
#sel-header p, #sel-header li, #sel-header dt, #sel-header dd, #sel-header th, #sel-header td, #sel-header pre,
#sel-topicPath p, #sel-topicPath li, #sel-topicPath dt, #sel-topicPath dd, #sel-topicPath th, #sel-topicPath td, #sel-topicPath pre,
#sel-sidebar p, #sel-sidebar li, #sel-sidebar dt, #sel-sidebar dd, #sel-sidebar th, #sel-sidebar td, #sel-sidebar pre,
#sel-footer p, #sel-footer li, #sel-footer dt, #sel-footer dd, #sel-footer th, #sel-footer td, #sel-footer pre,
#sel-main p, #sel-main li, #sel-main dt, #sel-main dd, #sel-main th, #sel-main td, #sel-main pre,
#sel-mainR p, #sel-mainR li, #sel-mainR dt, #sel-mainR dd, #sel-mainR th, #sel-mainR td, #sel-mainR pre {
	-ms-line-break: strict;
	line-break: strict;
	-ms-word-break: break-strict;
	word-break: break-strict;
}
#sel-header img, #sel-header input,
#sel-topicPath img, #sel-topicPath input,
#sel-sidebar img, #sel-sidebar input,
#sel-footer img, #sel-footer input,
#sel-main img, #sel-main input,
#sel-mainR img, #sel-mainR input {
	vertical-align: middle;
}
#sel-header ul, #sel-header ol,
#sel-topicPath ul, #sel-topicPath ol,
#sel-sidebar ul, #sel-sidebar ol,
#sel-footer ul, #sel-footer ol,
#sel-main ul, #sel-main ol,
#sel-mainR ul, #sel-mainR ol {
	list-style: none;
	padding: 0;
}
#sel-header dd,
#sel-topicPath dd,
#sel-sidebar dd,
#sel-footer dd,
#sel-main dd,
#sel-mainR dd {
	margin: 0;
}

/* fontSize(Base:14px)=====

	10px 	72%
	11px 	79%
	12px 	86%
	13px 	93%
	14px 	100%
	15px 	108%
	16px 	115%
	17px 	122%
	18px 	129%
	19px 	136%
	20px 	143%
	21px 	150%
	22px 	158%
	23px 	165%
	24px 	172%
	25px 	179%
	26px 	186%
========================= */


/* --------------------------------------------------- */

/* layout

/* --------------------------------------------------- */

/* header
-------------------------------------------- */
#sel-header {
	background:url(../../assets-sel/img/common/bg-hd-01.png) top repeat-x;
	color: #1f1f1f;
	position: relative;
	z-index: 997;
	background-color: #fff;
}
	/* box/nav */
	#sel-header #sel-hdNav > li {
		float: left;
		margin: 0 0 0 30px;
		margin-left:9px;
		width:192px;
		height: 55px;
	}
	#sel-header #sel-hdNav > li:first-child {
		margin: 0;
	}
	#sel-header #sel-hdNav > li:last-child {
		width: 115px;
    float: right;
	}
	/* button */
	#sel-header .sel-hdButton {
		background:url(../../assets-sel/img/common/nv-01.png) top no-repeat;
		display: block;
		height: 55px;
		width:192px;
	}
	#sel-header .sel-hdNonButton {
		background:url(../../assets-sel/img/common/nv-01.png) top no-repeat;
		display: block;
		height: 55px;
		width:192px;
	}
	#sel-header .sel-hdNonButton.sel-hdBoxCNo {
		background:url(../../assets-sel/img/common/nv-02.png) top no-repeat;
		display: block;
		height: 55px;
		width:115px;
	}
	#sel-header .sel-hdGourmet {
		background-position: 0px 0px;
	}
	#sel-header .sel-hdGourmet:hover,
	#sel-header .sel-hdGourmet.active,
  #sel-header .sel-hdGourmet.active_02 {
		background-position: -0px -55px;
	}
	#sel-header .sel-hdGoods {
		background-position: -201px 0px;
	}
	#sel-header .sel-hdGoods:hover,
	#sel-header .sel-hdGoods.active,
  #sel-header .sel-hdGoods.active_02 {
		background-position: -201px -55px;
	}
	#sel-header .sel-hdHigh {
		background-position: -402px 0px;
	}
	#sel-header .sel-hdHigh:hover,
	#sel-header .sel-hdHigh.active,
	#sel-header .sel-hdHigh.active_02 {
		background-position: -402px -55px;
	}
	#sel-header .sel-hdBoxCNo {
		background-position: 0px 0px;
	}
	#sel-header .sel-hdBoxCNo:hover,
	#sel-header .sel-hdBoxCNo.active {
		background-position: 0px -55px;
	}
	#sel-header .sel-hdOutlet {
		background-position: -603px 0px;
	}
	#sel-header .sel-hdOutlet:hover,
	#sel-header .sel-hdOutlet.active {
		background-position: -603px -55px;
	}
	/* panel */
	#sel-header .sel-hdPanel {
		background: #fff;
		display: none;
		left: 0;
		position: absolute;
		width: 100%;
		z-index: 998;
	}
		#sel-header .sel-hdPanel > div {
			padding: 38px 0 8px 12px;
			position: relative;
			width: 996px;
		}
	/* close */
	#sel-header .sel-hdClose {
		background: url(../../assets-sel/img/common/bt-close-01.png);
		height: 14px;
		width: 14px;
		position: absolute;
		right: 0;
		top: 20px;
	}
	/* table */
	#sel-header table {
		width: 100%;
	}
	#sel-header th,
	#sel-header td {
		padding: 0;
		text-align: left;
		vertical-align: top;
	}
		#sel-header th a {
			font-weight: normal;
		}
	#sel-header tbody th,
	#sel-header tbody td {
		padding-bottom: 30px;
		padding-top: 30px;
		width:832px;
	}
	#sel-header tbody th.first-child,
	#sel-header tbody td:first-child {
		width: 164px;
	}
	/* list */
	#sel-header .sel-hdListA {
		margin: -10px 0 0 0;
	}
		#sel-header .sel-hdListA li {
			margin: 10px 0 0;
		}
	#sel-header .sel-hdListB {
		width:832px;
	}
		#sel-header .sel-hdListB li {
			float: left;
			margin: 0 0 17px 13px;
			width: 156px;
		}
		#sel-header .sel-hdListB li.sel-hdListBNo {
			margin: 0;
		}
		#sel-header .sel-hdListB .sel-hdImage {
			margin: 0 0 7px;
		}
	#sel-header .sel-hdImage {
		position: relative;
	}
		#sel-header .sel-hdImage:hover img {
			filter: alpha(opacity=60);
			opacity: .6;
		}
	#sel-header .sel-hdName {
		font-weight: bold;
	}
	/* banner */
	#sel-header #sel-hdBoxA {
		background: none;
	}
	 #sel-header	#sel-hdBoxA > div {
			padding: 0 7px 0 12px;
      width: 100%;
      min-width: 996px;
      box-sizing: border-box;
		}
	#sel-header #sel-hdTagline {
		font-size: 85%;
		font-weight: normal;
		line-height: 46px;
	}
	#sel-header #sel-hdNavA {

    text-align: right;
    float: right;
	}
		#sel-header #sel-hdNavA li {
      font-size: 93%;
      margin-left: 20px;
		}
	#sel-header #sel-hdMyMenu {
		position: relative;
		z-index: 999;
	}
		#sel-header #sel-hdMyMenu > a {
			background: url(../../assets-sel/img/common/ic-arrow-01.png) 100% 50% no-repeat;
			color: #1f1f1f;
			display: block;
			padding: 0 17px 0 0;
		}
		#sel-header #sel-hdMyMenu > a:hover {
			text-decoration: none;
		}
		#sel-header #sel-hdMyMenu div {
			background: url(../../assets-sel/img/common/bg-mymenu-01.png) no-repeat;
			display: none;
			margin: 15px 0 0 -35px;
			padding: 8px 0 0;
			position: absolute;
			width: 160px;
		}
		#sel-header #sel-hdMyMenu ul {
			background: #fff;
			border: 1px solid #d3d3d3;
			border-top: 0;
			font-size: 109%;
			padding: 15px;
			text-align: left;
		}
		#sel-header #sel-hdMyMenu li {
			margin: 8px 0 0;
		}
		#sel-header #sel-hdMyMenu li:first-child {
			margin: 0;
		}
		#sel-header #sel-hdMyMenu img {
			display: inline;
			margin: 10px 0 0;
		}

	#sel-header #sel-hdBoxB {
		padding: 30px 0 15px 12px;
    width: 100%;
    min-width: 996px;
    box-sizing: border-box;
	}
	#sel-header #sel-hdBoxC {
		margin: 0 0 33px;
	}
		#sel-header #sel-hdBoxC p {
			width: 290px;
			padding-left:10px;
		}
		#sel-header #sel-hdBoxC p img {
			max-width:100%;
			height:auto;
		}
		#sel-header #sel-hdBoxC p.txt {

			/*padding-left:30px;　セレクトショップロゴver　*/
			padding-left: 25px;
      font-size: 0.8em;
			line-height: 1.3;
			display:inline-block;
      vertical-align: middle;
      width: auto;
		}
		#sel-header #sel-hdBoxC ul {
			text-align: right;
      float: right;
      margin-top: 5px;
      margin-right: 7px;
		}
		#sel-header #sel-hdBoxC li {
			font-size: 88%;
			line-height: 1.34;

			margin: 0 0 0 5px;
			padding: 0 0 0 10px;
		}
		#sel-header #sel-hdBoxC li:first-child {
      border: 0;
      padding: 0;
      margin: 0;
		}
		#sel-header #sel-hdBoxC li.sel-hdBoxCNo {
			border: 0;
		}
		#sel-header #sel-hdBoxC a {
			color: #202020;
		}
	#sel-header #sel-hdBoxD {
		margin: 0 0 10px;
	}
	/* inline */
	#sel-header #sel-hdBoxA > div,
	#sel-header #sel-hdBoxC {
		letter-spacing: -.36em;
  }

  #sel-header #sel-hdBoxC {
    width: 100%;
    min-width: 996px;
    box-sizing: border-box;
  }
	#sel-header #sel-hdTagline,
	#sel-header #sel-hdNavA,
	#sel-header #sel-hdNavA > li,
	#sel-header #sel-hdBoxC p {
	display: inline-block;
	letter-spacing: normal;
	vertical-align: middle;
	}
	#sel-header #sel-hdBoxC ul,
	#sel-header #sel-hdBoxC li {
	display: inline-block;
	letter-spacing: normal;
	vertical-align: middle;
	}
	*+html #sel-header #sel-hdTagline,
	*+html #sel-header #sel-hdNavA,
	*+html #sel-header #sel-hdNavA > li,
	*+html #sel-header #sel-hdBoxC p,
	*+html #sel-header #sel-hdBoxC ul,
	*+html #sel-header #sel-hdBoxC li {
		display: inline;
		zoom: 1;
	}

/* wrapper
-------------------------------------------- */
#sel-wrapper {
	padding: 0 0 80px 12px;
	position: relative;
}

/* container
-------------------------------------------- */
#sel-containerA {
	width: 996px;
}

/* topicpath
-------------------------------------------- */
#sel-topicPath {
	height:40px;
	padding:0;
  margin:0;
}
  #sel-topicPath li {
    display: inline;
    font-size: 93%;
  }
  #sel-topicPath li:after {
    content:">";
    padding: 0 5px 0 5px;
  }
  #sel-topicPath li:last-child {
    font-weight: bold;
  }
  #sel-topicPath li:last-child:after {
    content:""
  }

/* wrapMain
-------------------------------------------- */
#sel-wrapMain {
	width: 996px;
	float: right;
}

/* main
-------------------------------------------- */
#sel-main {
	float: right;
	width: 996px;
}

/* sidebar
-------------------------------------------- */
#sel-sidebar {
	float: left;
	width: 210px;
}
	#sel-sidebar a:hover img {
		opacity:0.7;
	}
	#sel-sidebar .sel-sbServise {
		background:url(../../assets-sel/img/common/bg-side-service-01.png) top no-repeat;
		padding:10px;
		margin-top: 50px;
	}
	#sel-sidebar .sel-sbServise dt {
		text-align:center;
		margin:8px 0 10px 0;
	}
	#sel-sidebar .sel-sbServise dd {
		text-align:center;
	}
	#sel-sidebar .sel-sbServise dd li {
		margin-top:7px;
	}
	#sel-sidebar .sel-sbListA {
		margin-top: 0;
		border-top: 1px solid #d2c6b2;
		border-bottom: 1px solid #d2c6b2;
	}
		#sel-sidebar .sel-sbListA > dt {
			padding: 20px 0 15px;
      font-weight: bold;
		}
		#sel-sidebar .sel-sbListA > dd {
			padding: 0 0 20px;
		}
			#sel-sidebar .sel-sbListA dd dl {
				margin: -20px 0 0;
			}
			#sel-sidebar .sel-sbListA dd dt {
				margin: 20px 0 10px;
			}
		#sel-sidebar .sel-sbListA a {
			display: block;
			padding: 3px 0;
			text-decoration: none;
		}
		#sel-sidebar .sel-sbListA a:hover {
			background: #f0f0f0;
		}
		#sel-sidebar .sel-sbListB ul,
		#sel-sidebar .sel-sbListC ul {
			display: none;
			padding: 0 0 0 15px;
		}
		#sel-sidebar .sel-sbListB > li > a,
		#sel-sidebar .sel-sbListB > li > a:hover,
		#sel-sidebar .sel-sbListC > li > a,
		#sel-sidebar .sel-sbListC > li > a:hover {
			background-image: url(../../assets-sel/img/common/ic-arrow-01.png);
			background-position: 190px .8em;
			background-repeat: no-repeat;
      font-weight: bold;
			padding-right: 25px;
		}
		#sel-sidebar .sel-sbListC > li > a.no-arrow,
		#sel-sidebar .sel-sbListC > li > a.no-arrow:hover {
			background-image:none;
		}
		#sel-sidebar .sel-sbListB > li > .open,
		#sel-sidebar .sel-sbListB > li > .open:hover,
		#sel-sidebar .sel-sbListC > li > .open,
		#sel-sidebar .sel-sbListC > li > .open:hover {
			background-image: url(../../assets-sel/img/common/ic-arrow-02.png);
		}
	#sel-sidebar .sel-sbListD {
		margin-top: 60px;
	}
		#sel-sidebar .sel-sbListD dt {
			font-size:100%;
      font-weight: bold;
    }
    #sel-sidebar .sel-sbListD p {
			margin: 10px 0 0;
		}
			#sel-sidebar .sel-sbListD > dd > ul > li {
				padding: 9px 0 0;
			}
	#sel-sidebar .sel-sbListE {
		margin: 50px 0px 30px;
	}
		#sel-sidebar .sel-sbListE li {
		margin: 0px 0px 10px;
	}
			#sel-sidebar .sel-sbListE li a:hover img {
				opacity:0.7;	}

	#sel-sidebar .sel-sbRank {
		margin-top: 60px;
	}
		#sel-sidebar .sel-sbRank dt {
			font-size: 100%;
      font-weight: bold;
			color:#664714;
			background-color:#f9f4ea;
			padding:5px;
			text-align:center;
    }
    #sel-sidebar .sel-sbRank p {
			margin: 10px 0 0;
		}
			#sel-sidebar .sel-sbRank > dd > ul > li {
				padding: 28px 0 0;
				position:relative;
			}
			#sel-sidebar .sel-sbRank li .sel-sbRankBox {
			position:relative;
			}
			#sel-sidebar .sel-sbRank li .sel-sbRankIc {
				position:absolute;
				top:8px;
				left:5px;
				z-index:10;
			}
			#sel-sidebar .sel-sbRankBox dt {
				background-color:#FFFFFF;
				text-align:left;
				color:#d09128;
				padding:10px 0 0 0;
			}


/* pickup
-------------------------------------------- */
.pickup-pc {
	background-color: #f6e6d3;
	width: 100%;
	padding: 20px;
	box-sizing: border-box;
	margin: 35px 0;
}

.pickup-pc h3 {
	font-size: 28px;
	text-align: center;
	color: #000;
	margin: 0 0 20px;
	font-family: "ŢâĚŔÄŤ", YuMincho, "ĽŇĽéĽŽĽÎĚŔÄŤ ProN W3", "Hiragino Mincho ProN", "HGĚŔÄŤE", "ŁÍŁÓ ŁĐĚŔÄŤ", "ŁÍŁÓ ĚŔÄŤ", serif;
	font-weight: normal;
}
.pickup-pc ul {
	padding-left: 0;
	margin: 0;
}
.pickup-pc > ul > li .pickup-item:after,
.pickup-pc > ul:after {
  content: '';
  display: block;
  clear: both;
}
.pickup-pc > ul > li {
	width: 345px;
	float: left;
	background-color: #fff;
	position: relative;
	padding: 15px;
	box-sizing: border-box;
}
.pickup-pc > ul > li:first-child {
	margin-right: 20px;
}
.pickup-pc > ul > li a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
}

.pickup-pc .item-area {
	width: 200px;
	float: left;
}
.pickup-pc .item-area .image {
	margin: 0 auto 10px;
}
.pickup-pc .new-icon {
	position: absolute;
	top: 0;
	left: 0;
}
.pickup-pc .icon-area {
	width: 105px;
	height: 320px;
	float: right;
	position: relative;
}
.pickup-pc .item-area p {
	margin: 0;
	font-size: 13px;
}
.pickup-pc .item-area p.name {
	font-size: 17px;
}
.pickup-pc .item-area p.price {
	font-size: 18px;
	margin: 5px 0;
}
.pickup-pc .item-area p.price span {
	font-size: 12px;
}
.pickup-pc .season {
	width: 100%;
	margin: 10px 0 0;
	padding-top: 10px;
	border-top: 1px solid #ccc;
	color: #36add9;
}
.pickup-pc .icon-area ul {
	text-align: center;
}
.pickup-pc .icon-area ul li {
	display: inline-block;
	width: 50px;
}
.pickup-pc .icon-area .capacity {
	position: absolute;
	right: 4px;
	bottom: 70px;
	height: 60px;
	margin: 0;
}
.pickup-pc .icon-area .packing {
	position: absolute;
	right: 4px;
	bottom: 0;
	height: 60px;
	margin: 0;
}

/* footer
-------------------------------------------- */
#sel-footer {
	background:url(../../assets-sel/img/common/bg-fotter-01.png) bottom repeat-x;
	position: relative;
	height:538px;
}
	#sel-footer .sel-ftBoxA {
		padding-left: 12px;
		padding-top:55px;
		width: 996px;
	}
	#sel-footer .sel-ftBoxA a {
		color:#efd492;
	}
	#sel-footer .sel-ftBoxB {
		padding-left: 12px;
		padding-top:20px;
		width: 996px;
	}
	#sel-footer .sel-ftNav {
		margin-top:30px;
	}
		#sel-footer .sel-ftNav li {
			font-size: 93%;
			line-height: 1;
			border-left: 1px solid #c1c1c1;
			display: inline;
			padding: 0 10px 0 15px;
		}
		#sel-footer .sel-ftNav li:first-child {
			border: 0;
			padding-left: 0;
		}
#sel-footer .sel-ftWrap {
	margin:0;
	}
#sel-footer .sel-ftWrap #sel-ftGuide {
	float: left;
	padding: 26px;
	width: 138px;
	border:1px solid #FFFFFF;
}
#sel-footer .sel-ftWrap #sel-ftGuide a {
	color:#fff;
}
	#sel-footer .sel-ftWrap #sel-ftGuide dt {
		margin: 0;
    font-weight: bold;
		color:#FFFFFF;
		background-image: url(../../assets-sel/img/common/ic-fotter-guide-01.png);
		background-position: 0px .0em;
		background-repeat: no-repeat;
		height:29px;
		padding-left:27px;
		padding-top:5px;
	}
	#sel-footer .sel-ftWrap #sel-ftGuide li {
		margin: 10px 0 0;
	}
#sel-footer .sel-ftWrap #sel-ftServise {
	float: right;
	width: 688px;
	padding:20px 38px;
	border:1px solid #FFFFFF;
}
	#sel-footer .sel-ftWrap #sel-ftServise > dl {
		float:left;
	}
	#sel-footer .sel-ftWrap #sel-ftServise > dl.sel-ftServiseNo,
	#sel-footer .sel-ftWrap #sel-ftServise li.sel-ftServiseNo {
		padding-left:10px;
	}
	#sel-footer .sel-ftWrap #sel-ftServise li {
		float:left;
		padding-left:0px;
	}
	#sel-footer .sel-ftWrap #sel-ftServise dt {
		color:#FFFFFF;
		font-weight:bold;
		margin-bottom:15px;
	}
	#sel-footer .sel-ftWrap #sel-ftServise p {
		margin-top:5px;
	}
#sel-footer #sel-ftPagetop {
	left: 961px;
	position: absolute;
	top: -24px;
}
#sel-footer #sel-ftLogo {
	float: right;
}
#sel-footer #sel-ftTagline {
	margin: 20px 0 25px;
	letter-spacing: -.36em;
}
	#sel-footer #sel-ftTagline p {
		font-size: 93%;
		display: inline-block;
		letter-spacing: normal;
		vertical-align: bottom;
		width: 70px;
	}
	*+html #sel-footer #sel-ftTagline p {
		display: inline;
	}
	#sel-footer #sel-ftTagline p:first-child {
		margin: 0 16px 0 0;
		width: 910px;
	}
#sel-footer #sel-ftCopyright {
	color: #989898;
	font-size: 93%;
}

/* overlay
-------------------------------------------- */
#sel-overlay {
	background: #000;
	filter: alpha(opacity=60);
	height: 100%;
	left: 0;
	opacity: .6;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 900;
}

/* wrapMain
-------------------------------------------- */
#sel-wrapMainR {
	width: 756px;
	float: right;
}
/* main
-------------------------------------------- */
#sel-mainR {
  width: 756px;
  float: right;
}

/* --------------------------------------------------- */

/* general

/* --------------------------------------------------- */

/* clearfix
-------------------------------------------- */
.clearfix:after {
	clear: both;
	content: "";
	display: block;
}
*+html .clearfix {
	zoom: 1;
}

/* replace image
-------------------------------------------- */
.rplImg,
.rplImgs a {
	display: block;
	letter-spacing: -1em;
	overflow: hidden;
	text-indent: 200%;
	white-space: nowrap;
}

/* hover image
-------------------------------------------- */
.hvrImgA:hover,
.hvrImgsA a:hover img {
	filter: alpha(opacity=80);
	opacity: .8;
}

/* column
-------------------------------------------- */
.upd-columnAL,
.upd-columnBL {
  float: left;
}
.upd-columnAR,
.upd-columnBR {
  float: right;
}

/* hx
-------------------------------------------- */
/* table
-------------------------------------------- */
/* ul
-------------------------------------------- */
/* font size
-------------------------------------------- */
#sel-main .sel-small,
#sel-mainR .sel-small {
  font-size: 86%;
}

/* align
-------------------------------------------- */
.upd-center {
  text-align: center;
}
.upd-right {
  text-align: right;
}


#sel-hdBoxC .blog a {
  display: block;
  width: 115px;
  height: 40px;
  background-color: #f28b24;
  background-image: url(../img/common_new/header_blog_txt.png);
  background-position: center center;
  background-repeat: no-repeat;
  text-indent: -9999px;
  -webkit-transition: opacity 0.3s ease 0s;
  -moz-transition: opacity 0.3s ease 0s;
  -ms-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
  background-size: 73%;
}
#sel-header #sel-hdBoxC li.movie {
  margin-left: 0;
  padding-left: 5px;
}
#sel-hdBoxC .movie a {
  display: block;
  width: 115px;
  height: 40px;
  background-color: #f28b24;
  background-image: url(../img/common_new/header_movie_txt.png);
  background-position: center center;
  background-repeat: no-repeat;
  text-indent: -9999px;
  -webkit-transition: opacity 0.3s ease 0s;
  -moz-transition: opacity 0.3s ease 0s;
  -ms-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
  background-size: 85%;
}
#sel-hdBoxC .movie a span,
#sel-hdBoxC .blog a span {
  opacity: 0;
}
.vi-content {
  position: absolute;
  top: 0px;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 0 auto;
}
.vi {
  position: relative;
  margin: 0;
  padding: 0;
  height: 760px;
  box-sizing: border-box;
}

@media only screen and (max-width: 1024px) {
  .vi-content {
    position: absolute;
    top: 50px;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0 auto;
  }

  .vi {
    height: 550px;
  }

}