@charset "utf-8";

/* --------------------------------------------------- */

/* normalize

/* --------------------------------------------------- */

ul {
  list-style: none;
}

#sel-header #sel-hdBoxB {
  padding-bottom: 20px;
}
#sel-toppage #contents {
  width: 1008px;
  padding-left: 10px;
  box-sizing: border-box;
  margin: 0;
}





/* ----------------------------------------
 * VI
 * ------------------------------------- */
 .rtc-bnr {
  margin: 0px 0 40px;
  width: 1008px;
  padding-left: 10px;
  box-sizing: border-box;
}

.rtc-bnr.pc-only ul {
  margin: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-left: 0;
}


.head-text {
  border-top: 1px solid #ead9c0;
  width: 100%;
  margin-top: 20px;
}
.head-text > p {
  margin: 30px 0 5px;
  text-align: center;
  font-weight: bold;
  font-size: 13px;
  letter-spacing: 0.05em;
}
.head-text > h2 {
  margin: 0;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 0.05em;
}
.top-sake .head-text {
  border-top: 0;
}
.rtc-bnr.pc-only .top-sake ul {
  margin-top: 25px;
}
.top-gourmet ul,
.top-goods ul {
  padding-left: 0;
  margin: 25px 0 0;
}
.sel-ranking ul {
  padding: 0;
}
.top-gourmet ul li,
.top-goods ul li,
.sel-ranking ul li {
  width: 186px;
  float: left;
  margin-right: 16px;
}
.top-gourmet ul li:nth-child(5),
.top-gourmet ul li:nth-child(10),
.top-goods ul li:nth-child(5),
.top-goods ul li:nth-child(10),
.sel-ranking ul li:nth-child(5) {
  margin-right: 0;
}
.top-gourmet ul li img,
.top-goods ul li img,
.sel-ranking ul li a img {
  width: 100%;
  height: auto;
}
.top-gourmet .sel-hdImage,
.top-goods .sel-hdImage {
  margin: 0;
}
.top-gourmet .sel-hdName,
.top-goods .sel-hdName {
  margin: 5px 0 20px;
  line-height: 1em;
}
.top-gourmet .sel-hdName a,
.top-goods .sel-hdName a {
  color: #b8802d;
  font-size: 13px;
  text-decoration: none;
}
.top-kiwami .image {
  width: 100%;
  height: 394px;
  margin: 25px 0 0;
}
.top-kiwami a {
  height: 100%;
  width: 100%;
  display: block;
}
.top-kiwami img {
  width: 100%;
  height: auto;
}

#sel-toppage .bn-area {
  background-color: #e5dfc5;
  padding: 35px 0;
  margin: 50px 0 0;
}
#sel-toppage .bn-area ul {
  padding: 0;
  text-align: center;
}
#sel-toppage .bn-area ul li {
  display: inline-block;
  width: 231px;
  vertical-align: top;
}
#sel-toppage .bn-area ul li:nth-child(2) {
  padding: 0 40px;
  margin: 0 40px;
  border-left: 2px solid #f2efe2;
  border-right: 2px solid #f2efe2;
}
#sel-toppage .bn-area ul li img {
  margin-bottom: 15px;
}
#sel-toppage .bn-area ul li a {
  font-size: 12px;
  text-decoration: none;
  color: #000;
  display: block;
  line-height: 1em;
}
#sel-toppage .bn-area ul li a strong {
  font-size: 16px;
  margin-top: 10px;
  display: block;
  font-weight: normal;
}
.sel-ranking {
  margin-top: 50px;
}
.sel-ranking h4 {
  margin: 0 0 25px;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 0.05em;
  border-bottom: 1px solid #dcdcdc;
  padding-bottom: 20px;
  line-height: 1em;
}
.sel-ranking ul li {
  position: relative;
}
.sel-ranking ul li > a {
  height: 100%;
  width: 100%;
  display: block;
}
.sel-ranking ul li dt {
  margin-top: 12px;
}
.sel-ranking ul li dt a {
  font-size: 13px;
  font-weight: bold;
  color: #b8802d;
  display: block;
  margin-bottom: 5px;
  text-decoration: none;
  line-height: 1.5em;
}
.sel-ranking ul li dd {
  font-size: 13px;
  margin: 0;

}
.sel-sbRankIc {
  position: absolute;
  left: 5px;
  top: -3px;
  margin: 0;
}
footer {
  margin-top: 50px;
}
@media screen and (min-width: 600px) {
  .sp-only {
    display: none;
  }
  #header_sp {
    display: none;
  }
  .rtc-bnr li a {
    width: 325px;
    display: block;
  }
  .rtc-bnr li a img {
    width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 599px) {
  .pc-only,
  #header_pc {
    display: none;
  }
  #sp-header #logo {
    width: 43%;
  }
  .sp-headerMenu a {
    height: 100%;
    width: 100%;
    display: block;
  }
  .rtc-bnr {
    margin: 0px;
    width: 100%;
    padding-left: 0;
    box-sizing: border-box;
  }
  .rtc-bnr .clone {
    display: none;
  }
  #sel-toppage #contents {
    width: 100%;
    padding: 20px 0 35px;
    box-sizing: border-box;
    margin: 0;
    border-top: 5px solid #b8802d;
  }
  .head-text {
    border-top: 1px solid #ead9c0;
    width: 100%;
    margin-top: 20px;
  }
  .top-sake ul {
    margin: 25px 13px 45px;
  }
  .top-sake ul li {
    margin-bottom: 13px;
  }
  .top-sake ul li img {
    width: 100%;
    height: auto;
  }
  .top-gourmet .head-text {
    margin-top: 0;
    border-top: 0;
  }
  .top-gourmet .head-text > p {
    margin-top: 0;
  }
  .head-text > h2 {
    margin: 0;
    text-align: center;
    font-size: 18px;
    font-weight: normal;
    letter-spacing: 0.02em;
  }
  .head-text > p {
    margin: 20px 0 5px;
    text-align: center;
    font-weight: bold;
    font-size: 11px;
    letter-spacing: 0.05em;
  }
  .top-gourmet ul,
  .top-goods ul {
    padding: 0 13px;
    width: 100%;
    box-sizing: border-box;
  }
  .top-gourmet ul li,
  .top-goods ul li,
  .sel-ranking ul li {
    width: 48.5%;
    float: left;
    margin-right: 3%;
  }
  .top-gourmet ul li:nth-child(5),
  .top-gourmet ul li:nth-child(10),
  .top-goods ul li:nth-child(5),
  .top-goods ul li:nth-child(10),
  .sel-ranking ul li:nth-child(5) {
    margin-right: 3%;
  }
  .top-gourmet ul li:nth-child(even),
  .top-goods ul li:nth-child(even),
  .sel-ranking ul li:nth-child(even) {
    margin-right: 0;
  }
  .top-gourmet .sel-hdName,
  .top-goods .sel-hdName {
    height: 50px;
    width: 100%;
    margin: 0 0 6%;
    background: -moz-linear-gradient(top, #af8b0d, #dbb12e);
    background: -webkit-linear-gradient(top, #af8b0d, #dbb12e);
    background: linear-gradient(to bottom, #af8b0d, #dbb12e);

  }
  .top-gourmet .sel-hdName a,
  .top-goods .sel-hdName a {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-size: 13px;
    line-height: 50px;
    position: relative;
  }
  .top-gourmet .sel-hdName a span,
  .top-goods .sel-hdName a span {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 5px;
    margin: auto;
    background-image: url(../../assets-sel-sp/img/top/btn-arrow.png);
    height: 12px;
    width: 7px;
    z-index: 100;
    display: block;
    background-size: 100%;
  }

  .top-gourmet ul li:nth-child(10) a,
  .top-goods ul li:nth-child(10) a {
    line-height: 1.2em;
    padding-top: 9px;
    height: 41px;
  }
  .top-gourmet .sel-hdImage,
  .top-goods .sel-hdImage {
    display: none;
  }
  .top-gourmet .sp-image img,
  .top-goods .sp-image img {
    width: 100%;
    height: auto;
    margin-top: 25px;
  }
  .top-kiwami .image {
    height: auto;
  }
  #sel-toppage .bn-area {
    background-color: #fff;
    padding: 30px 13px 35px;
    margin: 0;
  }
  #sel-toppage .bn-area ul {
    margin: 0;
  }
  #sel-toppage .bn-area ul li {
    display: block;
    width: 100%;
  }
  #sel-toppage .bn-area ul li img {
    width: 100%;
    height: auto;
    margin-bottom: 0;
  }
  #sel-toppage .bn-area ul li:nth-child(2) {
    padding: 0;
    margin: 15px 0;
    border-left: 0px;
    border-right: 0px;
  }
  #sel-toppage .bn-area ul li a span {
    display: none;
  }

  .sel-ranking {
    padding: 0 13px;
    width: 100%;
    box-sizing: border-box;
    margin-top: 0;
  }
  .sel-ranking h3 {
    margin: 0 0 25px;
    text-align: center;
    font-size: 18px;
    font-weight: normal;
    letter-spacing: 0.05em;
    border-bottom: 1px solid #dcdcdc;
    padding-bottom: 20px;
    line-height: 1em;
  }
  .sel-ranking ul {
    padding: 0;
    margin: 0;
  }
  .sel-ranking ul li {
    margin-bottom: 25px;
  }
  .sel-ranking ul li dt a {
    font-size: 11px;
    font-weight: bold;
    color: #b8802d;
    display: block;
    margin-bottom: 0px;
    text-decoration: none;
        text-decoration-color: currentcolor;
        text-decoration-line: none;
        text-decoration-style: solid;
    line-height: 1.5em;
  }
  .sel-ranking ul li dt {
    margin-top: 10px;
  }
  .sel-ranking ul li dd {
    font-size: 11px;
    margin: 0;
  }
  footer {
    margin-top: 0px;
  }

  .footer-nav{
    background: -moz-linear-gradient(top, #644619, #3f2b0e);
    background: -webkit-linear-gradient(top, #644619, #3f2b0e);
    background: linear-gradient(to bottom, #644619, #3f2b0e);
  }
  .footer-nav-guide dt {
    color: #fff;
  }
  .footer-nav-guide ul a {
    position: relative;
    display: block;
    height: 33px;
    line-height: 33px;
    color: #fff;
  }
  .footer-nav-guide ul a::after {
    content: "";
    position: absolute;
    top: 12px;
    right: 5px;
    display: block;
    width: 0;
    height: 0;
    border: 4px solid transparent;
    border-left: 4px solid #fff;
  }
  .footer-nav-guide ul {
    border-top: 1px solid #866331;
  }
  .footer-nav-guide ul li {
    border-bottom: 1px solid #6c5027;
  }
}