@charset "utf-8";

* {
  letter-spacing: 0.1em;
}

.clearfix {
  clear: both;
}

.notice {
  position: relative;
  padding: 15px;
  color: #fff;
  text-align: center;
  background-color: #d08e29;
  z-index: 99;
  cursor: pointer;
}

#sel-wrapMainR {
  background: none;
  padding: 0;
  overflow:hidden;
  width: 100%;
}

#sel-containerA {
  width: 100%;
}

#sel-wrapper {
  padding: 0;
}

.header-nav .nav-main .tokusyu {
  display: block;
  box-sizing: border-box;
  text-align: center;
  background: #e8462e;
}
.header-nav .nav-main .tokusyu a {
  display: block;
  color: #fff;
  font-weight: 700;
  letter-spacing: .02em;
  width: 100%;
  height: 100%;
  padding: .7em 20px .7em 20px;
  box-sizing: border-box;
  position: relative;
}
.header-nav .nav-main .tokusyu a:hover {
  background: #e27c6c;
}


.mv .inner a:hover,
.wrapper .rank .inner a:hover {
  opacity: .7;
  transition: .2s;
}
.mv .inner {
  text-align: center;
}
.mv .inner p {
  font-size: 18px;
  color: #fff;
  text-shadow:4px 4px 4px rgba(0, 0, 0, .5);
}
.mv .inner .item_all {
  display: inline-block;
  font-size: 18px;
  text-align: center;
  color: #fff;
  margin: 25px 0 8px;
  padding: 10px 30px;
  background: #000;
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, .6);
  font-family: "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
  letter-spacing: 0.1em;
}
.mv .inner ul li {
  position: relative;
  font-size: 16px;
  text-align: center;
  color: #000;
  margin: 16px 12px 8px;
  background: rgba(255, 255, 255, .8);
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, .5);
  font-family: "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
  letter-spacing: 0.1em;
}
.mv .inner ul li a {
  display: block;
  padding: 10px 30px;
}
.mv .inner .pickup {
  position: absolute;
  content: "";
  background: url("../images/top/pickup.png")no-repeat;
  top: -20px;
  left: -20px;
  width: 72px;
  height: 72px;
}

.wrapper p,dd {
  line-height: 1.8;
}

.bg_white {
  position: relative;
}

.wrapper .news {
  position: relative;
  background: #333333;
}

.contact {
  position: relative;
  background: #fff;
}

.rank {
  position: relative;
  background: #fff;
}

/* .wrapper:nth-of-type(n+2) {
  margin-top: 20px;
} */

.wrapper h3 {
  text-align: center;
  font-weight: 400;
  letter-spacing: 2px;
  position: relative;
  display: flex;
  align-items: center;
	font-size: 27px;
}

.wrapper h4 {
  text-align: center;
  font-weight: 400;
  letter-spacing: 2px;
  position: relative;
  align-items: center;
  color: #000;
  font-size: 27px;
  font-family: "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
}

.inner .sub_ttl {
  color: #5f266c;
  font-size: 18px;
  letter-spacing: 0.1em;
  text-align: center;
}

.wrapper h3:before {
	margin-right: 0.6em;
}
.wrapper h3:after {
	margin-left: 0.6em;
}

.wrapper h3:before,
.wrapper h3:after {
  content: "";
  flex-grow: 1;
  height: 1px;
  background: #444;
  display: block;
}

.wrapper .rank .inner p {
  font-size: 14px;
}
.wrapper .rank .inner ul dl {
  position: relative;
  display: flex;
  flex-direction: column;
  position: relative;
}
.wrapper .rank .inner ul dl:before {
  content: "";
  text-align: left;
  position: absolute;
  top: 10px;
  left: 10px;
  width: 38px;
  height: 38px;
  background-position: left top;
  background-size: 100% auto;
  z-index: 99;
}
.wrapper .rank .inner ul dl.rank12:before {
  width: 46px;
  height: 46px;
}
.wrapper .rank .inner ul li:nth-of-type(1) dl:before {
  background-image: url(../images/top/no1.png);
}
.wrapper .rank .inner ul li:nth-of-type(2) dl:before {
  background-image: url(../images/top/no2.png);
}
.wrapper .rank .inner ul li:nth-of-type(3) dl:before {
  background-image: url(../images/top/no3.png);
}
.wrapper .rank .inner ul li:nth-of-type(4) dl:before {
  background-image: url(../images/top/no4.png);
}
.wrapper .rank .inner ul li:nth-of-type(5) dl:before {
  background-image: url(../images/top/no5.png);
}
.wrapper .rank .inner ul dl dt {
  border: 1px solid #e5e5e5;
}
.wrapper .rank .inner ul dl dd {
  margin-top: 12px;
  padding: 0 2px;
  font-size: 12px;
  text-align: left;
  line-height: 1.5;
  font-family: 'Hiragino Kaku Gothic Pro','ヒラギノ角ゴ Pro W6','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
}
.wrapper .rank .inner ul dl .price {
  margin-top: auto;
  padding: 6px 0 0;
  font-size: 14px;
  text-align: right;
  font-weight: bold;
  color: #000;
}
.wrapper .rank .inner ul dl .item_name {
  font-size: 14px;
  /* font-weight: bold; */
}
.wrapper .rank .inner ul li.soldout dt {
  position: relative;
	background: #fff;
}
.wrapper .rank .inner ul li.soldout dt img {
  opacity: .4;
}
.wrapper .rank .inner ul li.soldout dt:before {
  content: "販売終了";
  position: absolute;
  top: 50%;
  left: 50%;
  display: inline-block;
  width: 7em;
  height: 1.5em;
  margin: -1em 0 0 -4.25em;
  padding: .5em;
  background: #9b8239;
  border: solid 2px #fff;
  color: #fff;
  line-height: 1.5;
  font-family: 'Hiragino Kaku Gothic Pro','ヒラギノ角ゴ Pro W6','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
  font-size: 1rem;
	z-index: 1;
}

.wrapper .item-block {
  position: relative;
  margin-top: 40px;
  background-size: 100% auto;
  background-position: left top;
  background-repeat: no-repeat;
}
.wrapper .item-block * {
  letter-spacing: 0;
}
.wrapper .item-block-nashi {
  background-image: url(../images/top/bg_block-nashi.jpg);
}
.wrapper .item-block-ringo {
  background-image: url(../images/top/bg_block-ringo.jpg);
}
.wrapper .item-block-budou {
  background-image: url(../images/top/bg_block-budou.jpg);
}
.wrapper .item-block-kaki {
  background-image: url(../images/top/bg_block-kaki.jpg);
}
.wrapper .item-block h4 {
  position: absolute;
  top: -40px;
  color: rgba(255,255,255,0.5);
  font-size: 350px;
  line-height: 1;
}
.wrapper .item-block-nashi h4,
.wrapper .item-block-budou h4 {
  right: 0;
}
.wrapper .item-block-ringo h4,
.wrapper .item-block-kaki h4 {
  left: 260px;
}
.wrapper .item-list {
  position: relative;
  margin: 150px 90px 0;
  background-color: #fff;
}
.wrapper .item-list a {
  position: relative;
  display: block;
}
.wrapper .item-list a.preparation {
  pointer-events: none;
}
.wrapper .item-list a.preparation:before {
  content: "販売準備中";
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 30px;
  color: #fff;
  background-color: rgba(0,0,0,0.5);
}
.wrapper .item-list a:hover .item-btn {
  transition: .2s;
  opacity: .7;
}
.wrapper .item-text {
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper .item-text-inner {
  text-align: center;
}
.wrapper .item-text-inner p {
  line-height: 1.3;
}
.wrapper .item-caption {
  color: #777;
  font-size: 30px;
  font-family: "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
  font-weight: bold;
}
.wrapper .item-press {
  display: block;
  margin: 0 auto 10px;
}
.wrapper .item-price {
  margin-top: 1em;
  font-size: 20px;
  font-weight: bold;
}
.wrapper .item-price span {
  display: block;
  font-size: 18px;
}
.wrapper .item-btn {
  display: inline-block;
  margin-top: 10px;
  text-align: center;
  padding: 10px 40px;
  color: #fff;
  font-size: 16px;
  line-height: 1;
  background-color: #CC6600;
}
.wrapper .item-top a {
  display: flex;
  border: 1px solid #999;
}
.wrapper .item-top figure,
.wrapper .item-top .item-text {
  width: 50%;
}
.wrapper .item-top figure {
  overflow: hidden;
}
.wrapper .item-top figure img {
  max-width: none;
  height: 100%;
}
.wrapper .item-top .item-text {
  padding: 30px;
}
.wrapper .item-bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.wrapper .item-bottom a {
  width: 48%;
  border: 1px solid #999;
}
.wrapper .item-bottom .item-text {
  padding: 25px 20px;
}
.wrapper .item-btn-all {
  margin-top: 48px;
  text-align: center;
}
.wrapper .item-btn-all a {
  display: inline-block;
  padding: 10px 50px;
  color: #fff;
  font-size: 20px;
  line-height: 1;
  background-color: #000;
}
.wrapper .item-btn-all a:hover {
  transition: .2s;
  opacity: .7;
}
.wrapper .item-acclaimed {
  margin-top: 25px;
  padding: 25px 20px;
  background-color: #E2E0C5;
}
.wrapper .item-acclaimed h5 {
  position: relative;
  margin-bottom: 25px;
  color: #666633;
  font-size: 32px;
  text-align: center;
}
.wrapper .item-acclaimed h5:before,
.wrapper .item-acclaimed h5:after {
  content: "";
  position: absolute;
  top: 50%;
  width: 80px;
  height: 1px;
  margin-top: -1px;
  background-color: #666633;
}
.wrapper .item-acclaimed h5:before {
  left: 10%;
}
.wrapper .item-acclaimed h5:after {
  right: 10%;
}
.wrapper .item-acclaimedCol {
  display: flex;
}
.wrapper .item-acclaimedBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}
.wrapper .item-acclaimedBox figure {
  width: 44%;
}
.wrapper .item-acclaimedText {
  width: 54%;
}
.wrapper .item-acclaimedText .product {
  color: #666633;
  font-size: 22px;
  font-weight: bold;
  line-height: 1.3;
}
.wrapper .item-acclaimedText .comment {
  font-size: 18px;
  line-height: 1.6;
}
.wrapper .item-acclaimedText .name {
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
}

.pagetop_btn .inner {
  text-align: center;
  margin: 40px 0;
}
.pagetop_btn .inner a {
  padding: 16px 24px;
  color: #fff;
  background: #000;
  border: 1px solid #000;
  font-size: 18px;
  text-align: center;
  font-family: "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
}
.pagetop_btn .inner a:before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 14px;
  margin: -3px 8px 0 0px;
  background: url("../images/arrow_back.png") no-repeat;
  background-size: contain;
  vertical-align: middle;
}
.pagetop_btn .inner a:hover {
  opacity: .6;
}


@-webkit-keyframes slideRightBg {
  0% {
    opacity: 0;
    left: -50%;
  }

  100% {
    opacity: 1;
    left: 0;
  }
}

@keyframes slideRightBg {
  0% {
    opacity: 0;
    left: -50%;
  }

  100% {
    opacity: 1;
    left: 0;
  }
}


@media screen and (min-width:768px) {

  #sel-wrapMainR {
    background: none;
    padding-top: 0;
  }

  .is-pc {
    display: block;
  }

  .is-tab {
    display: block;
  }

  .is-sp {
    display: none;
  }

  .img_sp {
    display: none;
  }

  .mv {
    background: url("../images/top/mv.png") center center no-repeat;
    background-size: cover;
    height: 344px;
  }

  .mv .inner h2 {
    text-align: center;
  }

  .mv .inner h2 img{
    width: 549px;
    padding-top: 40px;
  }

  .mv .inner div>a img {
  width: 400px;
  }

  .mv .inner ul {
    max-width: 768px;
    margin: 0 auto;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
  }

  .mv .inner ul li {
    width: 50%;
  }

  .wrapper h3 img {
    height: 24px;
  }

  section {
    padding: 40px 0 64px;
  }

  .wrapper .news {
    padding: 12px 0;
  }

  .wrapper .contact {
		padding-top: 20px;
		padding-bottom: 20px;
  }

  .wrapper .rank .inner ul li {
    width: 184px;
    text-align: center;
  }

  .wrapper .rank .inner ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 8px;
  }

  .wrapper .rank .inner li {
    margin-top: 28px;
  }

  .wrapper .rank .inner>p {
    text-align: center;
    margin-bottom: 8px;
  }

  .wrapper .rank .inner ul dl .item_name {
    /* height: 76px; */
  }

  .wrapper .rank .inner>p img {
    width: 36px;
  }

}

@media screen and (min-width: 1000px) {

  .mv .inner {
    max-width: 1220px;
    margin: 0 auto;
    padding-left: 260px;
  }
  
  .wrapper .inner {
    max-width: 1220px;
    margin: 0 auto;
    padding-left: 260px;
  }
}

@media screen and (max-width: 1200px) {
  .is-tab {
    display: none;
  }
}

@media screen and (max-width: 999px) {
  .wrapper .inner {
    padding: 6%;
  }
}

@media screen and (max-width: 1024px) and (orientation: portrait) {
  .mv .inner {
    width: 100%;
    margin: 0;
  }

  .wrapper .inner{
    width: 100%;
    margin: 0;
    padding: 0 20px;
  }
}

@media screen and (max-width:767px) {

  .img_pc {
    display: none;
  }

  .is-tab {
    display: none;
  }

  .is-pc {
    display: none;
  }

  .is-sp {
    display: block;
  }

  .wrapper {
    /* padding: 4%; */
  }

  .wrapper .inner{
    padding: 6%;
  }

  .wrapper .news .inner{
    padding: 14px 6%;
  }

  .wrapper .inner h3 {
    font-size: 20px;
    padding-top: 20px;
  }

  .wrapper .inner h4 {
    font-size: 22px;
    /* padding-top: 20px; */
  }

   .mv {
    background: url("../images/top/mv_s.png") no-repeat;
    background-size: cover;
    height: 300px;
  }
  .mv .inner {
    width: 100%;
    margin: 0 auto;
  }
  .mv .inner p {
  font-size: 15px;
  color: #fff;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, .5);
  margin-top: 16px;
  }
  .mv .inner h2 {
    text-align: center;
    padding: 0 5%;
  }
  .mv .inner h2 img{
    padding-top: 72px;
  }
  .mv .inner h3 {
  font-family: "ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO";
  font-size: 15px;
  text-align: center;
  color: #fff;
  margin: 16px 0 8px;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, .5);
  }
  .mv .inner>a img {
  /* width: 400px; */
  }
  .mv .inner .item_all {
    font-size: 14px;
    padding: 10px 24px;
  }
  .mv .inner ul {
    /* width: 400px; */
    margin: 24px auto 0;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .mv .inner ul li:nth-child(1) {
    width: 100%;
  }
  .mv .inner ul li {
    margin: 6px;
    font-size: 14px;
  }
  .mv .inner ul li a {
    padding: 10px 24px;
  }

  .wrapper h3:before {
    content: "";
    flex-grow: 1;
    height: 1px;
    background: #444;
    display: block;
    margin-left: -50%;
  }

  .wrapper h3:after {
    content: "";
    flex-grow: 1;
    height: 1px;
    background: #444;
    display: block;
    margin-right: -50%;
  }

  .wrapper .rank {
    padding-bottom: 48px;
  }

  /* .wrapper .rank .inner ul figure img {
    height: 32px !important;
  } */

  .wrapper .rank .inner>p {
    text-align: center;
    padding-bottom: 12px;
  }

  .wrapper .rank .inner>p img {
    width: 36px;
  }


  .wrapper h3 img {
    height: 22px !important;
  }

  .wrapper h3 {
    font-size: 20px;
    font-weight: bold;
  }

  .wrapper .rank .inner ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 12px;
  }
  .wrapper .rank .inner li {
    width: 48%;
    text-align: center;
    margin-top: 20px;
  }
  .wrapper .rank .inner ul dl .price {
    font-weight: bold;
  }
  .wrapper .rank .inner ul dl .item_name {
    font-weight: normal;
  }

  .wrapper .item-block {
    margin-top: 20px;
  }
  .wrapper .item-block:first-of-type {
    margin-top: 0;
  }
  .wrapper .item-block:last-of-type {
    margin-bottom: 30px;
  }
  .wrapper .item-block h4 {
    top: -10px;
    font-size: 80px;
  }
  .wrapper .item-block-ringo h4, 
  .wrapper .item-block-kaki h4 {
    left: 0;
  }
  .wrapper .item-list {
    margin: 35px 0 0;
  }
  .wrapper .item-list a.preparation:before {
    font-size: 18px;
  }
  .wrapper .item-caption {
    font-size: 14px;
  }
  .wrapper .item-caption br {
    display: none;
  }
  .wrapper .item-price {
    font-size: 12px;
  }
  .wrapper .item-price span {
    font-size: 12px;
  }
  .wrapper .item-btn {
    display: block;
    padding: 5px;
    font-size: 11px;
  }
  .wrapper .item-top figure {
    position: relative;
  }
  .wrapper .item-top figure img {
    position: absolute;
    max-width: none !important;
    height: 100% !important;
    top: 0;
    left: 0;
    margin-left: -25%;
  }
  .wrapper .item-top .item-text {
    padding: 15px;
  }
  .wrapper .item-bottom .item-text {
    padding: 10px;
  }
  .wrapper .item-btn-all {
    margin-top: 20px;
  }
  .wrapper .item-btn-all a {
    font-size: 16px;
  }
  .wrapper .item-acclaimed {
    margin-top: 15px;
    padding: 10px 0 20px;
  }
  .wrapper .item-acclaimed h5 {
    font-size: 16px;
    margin-bottom: 15px;
  }
  .wrapper .item-acclaimed h5:before, 
  .wrapper .item-acclaimed h5:after {
    width: 10%;
  }
  .wrapper .item-acclaimed h5:before {
    left: 0;
  }
  .wrapper .item-acclaimed h5:after {
    right: 0;
  }
  .wrapper .item-acclaimedCol {
    display: block;
  }
  .wrapper .item-acclaimedBox {
    width: 100%;
    padding: 0 2%;
  }
  .wrapper .item-acclaimedBox + .item-acclaimedBox {
    margin-top: 15px;
  }
  .wrapper .item-acclaimedBox figure {
    width: 40%;
  }
  .wrapper .item-acclaimedText {
    width: 55%;
  }
  .wrapper .item-acclaimedText .product {
    font-size: 14px;
  }
  .wrapper .item-acclaimedText .comment {
    font-size: 12px;
  }
  .wrapper .item-acclaimedText .name {
    font-size: 12px;
  }
}

@media screen and (min-width: 768px) and (max-width: 999px) {

  .notice {
    margin-top: 65px;
  }

  .wrapper .rank .inner ul li {
    width: 176px;
  }

  .wrapper .rank .inner ul li {
    width: 176px;
  }

  
  .wrapper .item-block h4 {
    font-size: 250px;
  }
  .wrapper .item-block-ringo h4, 
  .wrapper .item-block-kaki h4 {
    left: 0;
  }
  .wrapper .item-list {
    margin: 100px 60px 0;
  }
  .wrapper .item-caption {
    font-size: 26px;
  }
  .wrapper .item-top figure {
    position: relative;
  }
  .wrapper .item-top figure img {
    position: absolute;
    left: 0;
    top: 0;
  }
  .wrapper .item-acclaimed h5:before {
    left: 0;
  }
  .wrapper .item-acclaimed h5:after {
    right: 0;
  }
}

@media all and (-ms-high-contrast:none) {
  .wrapper h4 {
    font-family: "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
    padding-top: 4px;
  }

  .rank dl img {
    flex-shrink: 0;
    height: 176px;
    width: 176px; 
  }

}

@-moz-document url-prefix() {
}