@charset "utf-8";

.float_left {
	width:423px;
	text-align:center;
	box-sizing:border-box;
	display:table-cell;
	vertical-align:middle;
}

.float_rignt {
	padding-left:30px;
	width:calc(100% - 423px);
	box-sizing:border-box;
	display:table-cell;
	vertical-align:middle;
}
