@charset "utf-8";
@import "//use.fontawesome.com/releases/v5.0.6/css/all.css";

/* --------------------------------------------------- */
/* common
/* --------------------------------------------------- */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0}
html{width:100%;height:100%}
body{min-width:1000px}
@font-face{font-family:"Yu Gothic";src:local("Yu Gothic Medium");font-weight:100}
@font-face{font-family:"Yu Gothic";src:local("Yu Gothic Medium");font-weight:200}
@font-face{font-family:"Yu Gothic";src:local("Yu Gothic Medium");font-weight:300}
@font-face{font-family:"Yu Gothic";src:local("Yu Gothic Medium");font-weight:400}
@font-face{font-family:"Yu Gothic";src:local("Yu Gothic Medium");font-weight:500}
@font-face{font-family:"Yu Gothic";src:local("Yu Gothic Bold");font-weight:700}
@font-face{font-family:"Helvetica Neue";src:local("Helvetica Neue Regular");font-weight:100}
@font-face{font-family:"Helvetica Neue";src:local("Helvetica Neue Regular");font-weight:200}

#chugen { line-height: 1.5em; font-size: 16px; position: relative; letter-spacing: 0.1em;}
#chugen ol,#chugen ul { list-style: none;}
#chugen .sanserif,#chugen .sanserif *,#chugen .btn, #chugen .point p, #chugen .badge p,#experience02 p, #experience02 a {font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic", YuGothic, Verdana, Meiryo, sans-serif;}
#chugen a:link,#chugen a:visited{ color: #222;}

/*main*/
.container{width:100%;max-width:1040px;padding:0 20px;margin:auto;position:relative;box-sizing:border-box;}
.main-block{color:#000;font-size:16px;line-height:1.6;font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic", YuGothic, Verdana, Meiryo, sans-serif;font-weight:500;}
.main-block a{color:#222;text-decoration:none!important;transition:.3s;}
.main-block a:hover{opacity:0.7;}
.clearfix:after{content: "";clear: both;display: block;}

.no-pc{display:none;}
.no-sp{display:block;}

/* bg */
.bg-white {background-color: #fff;}

/*img*/
img{width:auto;max-width:100%;-webkit-backface-visibility:hidden;box-sizing: border-box;}
.img-left {float: left;margin-right: 30px;}
.img-right {float: right;margin-left: 30px;}
div.img-right,div.img-left {text-align: center;}

/*txt*/
.txt_l{text-align:left!important;}
.txt_c{text-align:center!important;}
.txt_r{text-align:right!important;}
.f-bold{font-weight:bold;}
.f-min{font-family:游明朝, "Yu Mincho", YuMincho, "Hiragino Mincho ProN", HGS明朝E, メイリオ, Meiryo, serif;}
.f-en{font-family: arial, sans-serif;}
.article_txt{line-height:1.8em;text-align:center;}
.c-blue {color: #2a81ca!important;}
.c-red {color: #df1822 !important;}
.c-purple {color: #6871be!important;}

/* clearfix */
.clearfix:after,.inner:after,.col-group:after{	content: "";	display: block;	clear: both;}

/* btn */
#chugen .common-btn {margin-top: 60px; text-align: center;}
#chugen .common-btn .btn {display: inline-block; padding: 20px 30px; color: #fff; font-size: 22px; line-height: 1; background-color: #000;}


/* anchorlink */
.anchorlink {
  margin-top: -120px;
  padding-top: 120px;
}

/* --------------------------------------------------- */
/* mv
/* --------------------------------------------------- */
#mv {position: relative;}
#mv .mv_sliderItem {position: relative; max-width: 1000px; margin: 0 8px;}
#mv .mv_sliderItem .btn {position: absolute; right: 0; bottom: 25px; width: 230px;}
#mv .mv_sliderItem .btn a {display: flex; align-items: center; height: 50px; padding: 0 30px; color: #fff; font-size: 12px; text-decoration: none; line-height: 1.6; letter-spacing: 0.1em; background-color: #c28f33; transition:.3s;}
#mv .mv_sliderItem .btn a:after {content: ""; position: absolute; top: 50%; right: 15px; width: 9px; height: 9px; margin-top: -4.5px; border-top: 1px solid #fff; border-right: 1px solid #fff;; transform:rotate(45deg);}
#mv .mv_sliderItem .btn a:hover {opacity:0.9;}
#mv .mv_slider .slick-dots {position: absolute; left: 50%; bottom: 30px; display: flex; justify-content: center; transform: translateX(-50%);}
#mv .mv_slider .slick-dots > li {font-size: 0; line-height: 1;}
#mv .mv_slider .slick-dots > li + li {margin-left: 20px;}
#mv .mv_slider .slick-dots > li > button {width: 5px; height: 5px; padding: 0; margin: 0; text-indent: -9999px; border-radius: 50%; border: none; background-color: #fff; cursor: pointer;}
#mv .mv_ttl {position: absolute; left: 50%; top: 40px; width: 19%; transform: translateX(-50%);}
#mv .mv_insta {background-color: #333;}
#mv .mv_insta > .container {display: flex; align-items: center; padding: 10px 20px;}
#mv .mv_insta .logo {padding: 0 20px 0 10px;}
#mv .mv_insta .logo > img {display: block;}
#mv .mv_insta .link {font-size: 14px; line-height: 1; letter-spacing: 0.1em;}
#mv .mv_insta .link a {color: #fff; text-decoration: underline;}

/* --------------------------------------------------- */
/* #page-nav
/* --------------------------------------------------- */
#page-nav {text-align:center;padding:25px 0;}
#page-nav .page-nav-link{position:relative;display:flex;justify-content:space-between}
#page-nav .page-nav-link li{position:relative;width:23.8%;height:88px;background-color:#33c4c4;}
#page-nav .page-nav-link li a{position:relative;width:100%;height:100%;display:flex;justify-content:center;align-items:center;color: #fff;}
#page-nav .page-nav-link li a:after{content:"";position:absolute; left: 50%; bottom: 10px; width: 0; height: 0; margin-left: -7.5px; border-left: 7.5px solid transparent; border-right: 7.5px solid transparent; border-top: 7.5px solid #fff;}
#page-nav .page-nav-link li .txt{padding:10px 10px 30px;font-weight:400}
#page-nav .page-nav-link li p{font-size: 20px; line-height: 1;}
#page-nav .page-nav-link li p span {display: block; font-size: 14px; line-height: 1.5;}
#page-nav.fixed{left:0;position:fixed;top:0;width:100%;padding:15px 0 20px;z-index:50;background-color: #fff;}

/* --------------------------------------------------- */
/* .ranking
/* --------------------------------------------------- */
.ranking {padding: 50px 0 100px;}
.ranking h2{font-size:30px;margin-bottom:40px;text-align:center;line-height:1.3;letter-spacing: 0.1em;}
.ranking h2 span {display: block; margin-bottom: 0.5em; font-size: 24px;}
.ranking_figure {margin-bottom: 40px; text-align: center;}
.ranking_item {display: flex; flex-wrap: wrap; gap: 40px 2%;}
.ranking_item > li {width: 32%;}
.ranking_item > li > a {position: relative; display: block;}
.ranking_item > li .category {position: absolute; left: 15px; top: 15px; height: 35px; padding: 0 20px; color: #fff; font-family: fot-tsukuardgothic-std, sans-serif; font-size: 20px; font-weight: 700; text-align: center; line-height: 1; background-color: #c28f33; border-radius: 18px; letter-spacing: 0; z-index: 1;}
.ranking_item > li .category .num {font-size: 30px;}
.ranking_item > li .img {position: relative;}
.ranking_item > li .img > img {display: block;}
.ranking_item > li .img .name {position: absolute; left: 0; bottom: 0; width: 100%; padding: 10px 15px; color: #009191; font-size: 18px; font-weight: bold; line-height: 1.5; background-color: rgba(255,255,255,0.8); box-sizing: border-box;}
.ranking_item > li .detail {padding: 15px 20px 30px; color: #919191; font-size: 16px; line-height: 1.625; background-color: #fff;}
.ranking_item > li .detail .more {margin-top: 1em; font-weight: bold; text-align: right; letter-spacing: 0;}
.ranking_item > li .detail .more a {color: #919191 !important; text-decoration: underline !important;}

/* --------------------------------------------------- */
/* #glad
/* --------------------------------------------------- */
#glad {background-color: #c4ffff;}

/* --------------------------------------------------- */
/* #seasonal
/* --------------------------------------------------- */
#seasonal {background-color: #dcf1c2;}

/* --------------------------------------------------- */
/* #kiwami
/* --------------------------------------------------- */
#kiwami {padding: 60px 0 100px; background-color: #b39972;}
#kiwami h2 {margin-bottom: 50px; text-align: center;}
#kiwami h3 {color: #b39972; font-size: 26px; text-align: center; line-height: 1.3;}
#kiwami h3 span {display: block; font-size: 20px;}
#kiwami .kiwami_lead {margin-bottom: 1em; color: #fff; font-size: 22px; text-align: center; line-height: 1.5;}
#kiwami .kiwami_block {max-width: 790px; margin: auto; padding: 20px 0; border-radius: 20px; background-color: #fff;}
#kiwami .kiwami_block + .kiwami_block {margin-top: 20px;}
#kiwami .kiwami_block .col-1 {padding: 0 50px;}
#kiwami .kiwami_block .col-1 h3 {margin-bottom: 1em;}
#kiwami .kiwami_block .col-1 .lead {margin-bottom: 50px; color: #666; font-size: 14px; line-height: 1.7;}
#kiwami .kiwami_block .col-1 .figurewrap {display: flex; justify-content: center; padding-bottom: 60px;}
#kiwami .kiwami_block .col-1 .figurewrap figure + figure {margin-left: 25px;}
#kiwami .kiwami_block .col-2 {display: flex; align-items: center;}
#kiwami .kiwami_block .col-2 h3 {width: 50%;}
#kiwami .kiwami_block .col-2 ul {width: 50%; padding: 0 25px;}
#kiwami .kiwami_block .col-2 ul > li {margin-left: 1em; color: #666; font-size: 14px; line-height: 2.4; list-style-type: disc; list-style-position: outside;}

/* --------------------------------------------------- */
/* #giftconcierge
/* --------------------------------------------------- */
#giftconcierge{margin:0;padding:80px 60px;background-color:#e0dec9; color: #666; letter-spacing: 0.05em;}
#giftconcierge h4{margin:0;padding:0;text-align:center}
#giftconcierge .catch{margin:1em 0 0;padding:0;text-align:center; font-size: 17px; font-weight: bold; line-height: 1.75;}
#giftconcierge ul{max-width: 960px; margin:1.5em auto 0;padding:0;display:flex;justify-content:space-between;flex-wrap: wrap;}
#giftconcierge ul li{margin:0;padding:20px;background-color:#FFF;width:49%;box-sizing:border-box;position:relative}
#giftconcierge ul li:nth-of-type(n+3) {margin-top: 30px;}
#giftconcierge ul li a{position:absolute;top:0;left:0;width:100%;height:100%;text-indent:-999px}
#giftconcierge ul li a:hover{background-color:#FFF;opacity:.4}
#giftconcierge ul li p{margin:10px 0 0;padding:0}
#giftconcierge ul li p.image{margin:0;text-align:center;overflow:hidden;padding: 0 30px;}
#giftconcierge ul li p.image img{max-width:100%;height:auto}
#giftconcierge ul li p.title{font-size:17px;font-weight:700; line-height: 1.75;}
#giftconcierge ul li p.lead {font-size: 14px; line-height: 2;}
#giftconcierge ul li p.more {text-align: right; font-size: 14px; font-weight: bold; text-decoration: underline;}

/* =================================================================================== */
/* for PC */
/* =================================================================================== */
@media screen and (max-width:1200px){
  .container{max-width:100%;}

  #chugen * {box-sizing: border-box;}

}

@media screen and (max-width:1024px){
  /* --------------------------------------------------- */
  /* mv
  /* --------------------------------------------------- */
  #mv .mv_sliderItem {margin: 0 12px;}
}

/* =================================================================================== */
/* for SP */
/* =================================================================================== */
@media screen and (max-width:1000px){	body{background:none!important;}}
@media screen and (max-width:599px){
  body{min-width:319px;overflow-x:hidden;}

  /* --------------------------------------------------- */
  /* common
  /* --------------------------------------------------- */
  .container{padding:0 5%;width:100%;}
  .main-block{margin-top:0;overflow-x:hidden;font-size:14px;}

  /*display*/
  .no-pc{display:block!important;}
  .no-sp{display:none!important;}

  /* anchorlink */
  .anchorlink { margin-top: -153px; padding-top: 153px;}

  /* btn */
  #chugen .common-btn {margin-top: 30px;}
  #chugen .common-btn .btn {padding: 10px 15px; font-size: 16px;}

  /* --------------------------------------------------- */
  /* mv
  /* --------------------------------------------------- */
  #mv .mv_sliderItem {max-width: none; width: 300px; margin: 0 8px;}
  #mv .mv_ttl {top: 10px; width: 38%;}
  #mv .mv_sliderItem .img {position: relative; padding-top: 70%; overflow: hidden;}
  #mv .mv_sliderItem .img > img {position: absolute; max-width: none; width: 200%; left: 50%; top: 50%; transform: translate(-50%, -50%);}
  #mv .mv_sliderItem .btn {bottom: 5px; width: auto;}
  #mv .mv_sliderItem .btn a {height: auto; padding: 5px 10px; font-size: 10px; line-height: 1.2;}
  #mv .mv_sliderItem .btn a:after {right: 5px; width: 4.5px; height: 4.5px; margin-top: -2.25px;}
  #mv .mv_insta > .container {justify-content: space-between; padding: 10px;}
  #mv .mv_insta .logo {padding: 0; width: 12%;}
  #mv .mv_insta .link {width: 85%; font-size: 10px;}

  /* --------------------------------------------------- */
  /* #page-nav
  /* --------------------------------------------------- */
  #page-nav {padding: 10px 0;}
  #page-nav .page-nav-link {flex-wrap: wrap;}
  #page-nav .page-nav-link li {height: auto; width: 49%;}
  #page-nav .page-nav-link li:nth-of-type(n+3) {margin-top: 10px;}
  #page-nav .page-nav-link li .txt {padding: 5px 5px 20px;}
  #page-nav .page-nav-link li a:after {bottom: 5px;}
  #page-nav .page-nav-link li p {font-size: 14px;}
  #page-nav .page-nav-link li p span {font-size: 10px;}

  /* --------------------------------------------------- */
  /* .ranking
  /* --------------------------------------------------- */
  .ranking {padding: 25px 0 50px;}
  .ranking h2 {margin-bottom: 20px; font-size: 22px;}
  .ranking h2 span {font-size: 18px;}
  .ranking_figure {margin-bottom: 20px;}
  .ranking_item {gap: 10px 2%;}
  .ranking_item > li {width: 48%;}
  .ranking_item > li .category {left: 5px; top: 5px; height: auto; padding: 2px 5px; font-size: 12px;}
  .ranking_item > li .category .num {font-size: 18px; vertical-align: text-bottom;}
  .ranking_item > li .img .name {padding: 5px 10px; font-size: 12px;}
  .ranking_item > li .detail {padding: 10px 10px 15px; font-size: 11px;}

  /* --------------------------------------------------- */
  /* #kiwami
  /* --------------------------------------------------- */
  #kiwami {padding: 30px 0 50px;}
  #kiwami h2 {margin-bottom: 25px;}
  #kiwami h2 img {width: 56%;}
  #kiwami h3 {width: 100%; margin-bottom: 1em; font-size: 20px;}
  #kiwami h3 span {font-size: 16px;}
  #kiwami .kiwami_lead {font-size: 14px;}
  #kiwami .kiwami_block {border-radius: 10px;}
  #kiwami .kiwami_block .col-1 .lead {margin-bottom: 25px; font-size: 12px;}
  #kiwami .kiwami_block .col-1 {padding: 0 25px;}
  #kiwami .kiwami_block .col-2 {display: block;}
  #kiwami .kiwami_block .col-2 h3 {width: 100%;}
  #kiwami .kiwami_block .col-2 ul {width: 100%;}
  #kiwami .kiwami_block .col-2 ul > li {font-size: 12px;}
  #kiwami .kiwami_block .col-1 .figurewrap {display: block; width: 65%; margin: 0 auto; padding-bottom: 30px;}
  #kiwami .kiwami_block .col-1 .figurewrap figure + figure {margin-left: 0; margin-top: 20px;}

  /* --------------------------------------------------- */
  /* #giftconcierge
  /* --------------------------------------------------- */
  #giftconcierge{margin:0;padding:1.5em 1em 3em}
  #giftconcierge h4 img{max-width:80%}
  #giftconcierge .catch{font-size: 14px;}
  #giftconcierge ul{display:block;margin-top:0}
  #giftconcierge ul li {margin-top:1em;padding:1em;width:100%}
  #giftconcierge ul li a:hover{opacity:0}
  #giftconcierge ul li p{margin:8px 0 0}
  #giftconcierge ul li p.image{height:auto;padding: 0 10px;}
  #giftconcierge ul li p.image img{max-width:80%}
  #giftconcierge ul li p.title{font-size:1em}
  #giftconcierge ul li p.lead{font-size:.9em}

}

/* ----------------------------------------
* pagetop
* ------------------------------------- */
#pagetop{position:fixed;bottom:20px;right: 40px;z-index:999}
@media screen and (max-width:599px) {
  #pagetop{right:10px;bottom:10px;/*display:none!important*/width: 44px;}
}

/* ----------------------------------------
* slick-slider
* ------------------------------------- */
