@charset "utf-8";

#sel-wrapMainR {
    background: none;
}

.unit {

}

.acd-check {
    display: none;
}



.acd-label div>img {
    padding-right: 16px;
}

.acd-content {
    border-right: 1px solid #e8462e;
    border-left: 1px solid #e8462e;
    border-bottom: 1px solid #e8462e;
    display: block;
    height: 0;
    opacity: 0;
    transition: .5s;
    visibility: hidden;
}

.acd-check:checked+.acd-label:after {
    color: #fff;
    content: '\f077';
}

.acd-check:checked+.acd-label+.acd-content {
    height: auto;
    opacity: 1;
    visibility: visible;
    background: #fff8eb;
}

.acd-content h5 {
    position: relative;
    background: #ffec94;
    width: 100%;
    font-family: "Montserrat", "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
    padding: 12px 4px 12px 3.3em;
    font-size: 20px;
    font-weight: bold;
    top: -1px;
}

.acd-content h5::before {
	  content: '';
    position: absolute;
    display: inline-block;
    width: 2em;
    height: 2em;
    left: 0.8em;
    top: 0.5em;
		background-repeat: no-repeat;
    background-size: contain;
}

.wrapper .acd-content h5.kesyou::before {
    background-image: url(../images/title_kesyou.png);
}
.wrapper .acd-content h5.kiribako::before {
    background-image: url(../images/title_kiribako.png);
}
.wrapper .acd-content h5.diapack::before {
    background-image: url(../images/title_diapack.png);
}
.wrapper .acd-content h5.oki::before {
    background-image: url(../images/title_oki.png);
}
.wrapper .acd-content h5.bara::before {
    background-image: url(../images/title_bara.png);
}

.wrapper .acd-content:nth-of-type(n+2) {

}

.acd-content .unit dl dd {
}
.acd-content .unit .unit_block_1 dt {
	position:relative;
}
.acd-content .unit .unit_block_1 dt .limit {
	display: inline-block;
	width: 82px;
	height: 24px;
	color: #fff;
	text-align:center;
	line-height:24px;
	background: #c9353a;
	border:1px solid #fff;
	border-radius:4px;
	position: absolute;
	left:50%;
	bottom:2px;
	margin-left:-41px;
	box-sizing:border-box;
}

.acd-content .unit.end { position:relative; }
.acd-content .unit.end::before { content:""; display:block; width:100%; height:100%; background:rgba(0,0,0,0.3); position:absolute; top:0; left:0; z-index:1; }
.acd-content .unit.end::after { content:"販売終了"; display:inline-block; position:absolute; top:50%; left:50%; transform:translate(-50%,-50%); font-size:18px; font-weight:bold; color:#fff; z-index:2; white-space:nowrap; }
.acd-content .unit.end a { pointer-events:none; }

.header-nav .nav-main .tokusyu {
    display: block;
    box-sizing: border-box;
    text-align: center;
    background: #e8462e;
}

.header-nav .nav-main .tokusyu a:hover {
    background: #e27c6c;
}

.header-nav .nav-main .tokusyu a {
    display: block;
    color: #fff;
    font-weight: 700;
    letter-spacing: .02em;
    width: 100%;
    height: 100%;
    padding: .7em 20px .7em 20px;
    box-sizing: border-box;
    position: relative;
}

.wrapper p,dd {
    line-height: 1.8;
}

.bg_white {
    position: relative;
    background: #fff;
}

.wrapper:nth-of-type(n+2) {
    margin-top: 20px;
}

.main_ttl {
    width: 100%;
}

.wrapper .acd-label div{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}



.wrapper .acd-label dl dt {
    position: relative;
    font-family: "Montserrat", "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
    font-size: 18px;
    font-weight: bold;
    padding-left: 1.2em;
    margin-bottom: 8px;
}

.wrapper .acd-label dl dt::before {
    content: '';
    position: absolute;
    display: inline-block;
    width: 1em;
    height: 1em;
    left: 0;
    top: 0.5em;
    /* -webkit-transform: translateX(-50%);
    transform: translateX(-50%); */
    background: url(../images/h4_line.png) no-repeat;
    /* border-radius: 2px; */
}

.wrapper .package p {
    font-size: 14px;
}

.wrapper .package ul li p {
    display: inline-block;
    background: #e8462e;
    color: #fff;
    padding: 4px 6px;
    border-radius: 4px;
    font-family: "Montserrat", "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
    font-weight: bold;
}

.wrapper .package ul dl dt {
    margin-top: 10px;
}

.wrapper .package ul dl dd {
    margin-top: 12px;
    padding: 0 2px;
    font-size: 14px;
    text-align: left;
}

.wrapper .package ul li img {
    border-radius: 50%;
}

.wrapper .producer>p {
    font-size: 14px;
}

.modal_trigger {
    margin: 100px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.modal_trigger .modal_btn {
    cursor: pointer;
}

.modal_trigger .modal_btn img:hover {
    opacity: .8;
    transition: .3s;
}

.modal_block .modal_contents p {
    display: inline-block;
    background: #e8462e;
    color: #fff;
    font-size: 14px;
    padding: 4px 8px;
    margin-top: 12px;
}

@-webkit-keyframes slideRightBg {
    0% {
        opacity: 0;
        left: -50%;
    }

    100% {
        opacity: 1;
        left: 0;
    }
}

@keyframes slideRightBg {
    0% {
        opacity: 0;
        left: -50%;
    }

    100% {
        opacity: 1;
        left: 0;
    }
}

.modal_box {
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}

.modal_bg {
    background-color: rgba(30, 30, 30, 0.9);
    height: 100%;
    width: 100%;
}

.modal_inner {
    background-color: #fff;
    left: 50%;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    /* max-width: 900px; */
    width: 750px;
}

.modal_close {
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: -6px;
		color: #fff;
    font-size: 2rem;
}



@media screen and (min-width:600px) {

    #sel-wrapMainR {
        background: none;
        width: 796px;
        padding: 0;
    }

    .img_sp {
        display: none;
    }

    .is_sp {
        display: none;
    }

    .wrapper {
        padding: 20px 20px 40px;
    }

    .mv {
        padding: 0;
    }

    .wrapper section {
        /* padding: 0 20px; */
    }


    .bg_beige {
        position: relative;
        background: #e5e2d7;
        margin-top: -76px !important;
        padding-top: 70px;
        padding-bottom: 44px;
    }

    .white_wave img {
        position: sticky;
        z-index: 999;
    }

    .banner_area {
        margin-top: 20px;
    }

    .wrapper h3 {
        font-family: 'Noto Serif JP', "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
        text-align: center;
        margin: 30px auto 50px;
        font-weight: 400;
        letter-spacing: 2px;
        position: relative;
        display: block;
        width: 260px;
    }
		.wrapper h3.special { width:360px; }

    .wrapper h3.mothers::before {
        content: '';
        background: url(../images/hatsumono/mothers_icon.png) no-repeat;
        background-size: contain;
        position: absolute;
        top: 10px;
        display: inline-block;
        width: 1em;
        height: 1em;
        left: -20px;
    }

    .wrapper h3.hatsumono::before {
        content: '';
        background: url(../images/cherry_icon.png) no-repeat;
        background-size: contain;
        position: absolute;
        top: 10px;
        display: inline-block;
        top: 6px;
        display: inline-block;
        width: 1.3em;
        height: 1.3em;
        left: 50px;
    }

    .wrapper h3::after {
        content: '';
        position: absolute;
        bottom: -12px;
        display: inline-block;
        width: 140px;
        height: 3px;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        background-color: #e8462e;
        /* border-radius: 2px; */
    }

    .wrapper section>div {
        margin-top: 20px;
        overflow: hidden;
    }

    .acd-label {
        border: 1px solid #e8462e;
        background: #fff8eb;
        color: #000;
        display: block;
        padding: 24px 22px;
        position: relative;
        cursor: pointer;
    }

    .acd-label:after {
        background: #e8462e;
        box-sizing: border-box;
        content: '\f078';
        display: block;
        color: #fff;
        font-family: "Font Awesome 5 Free";
        /* height: 100%; */
        padding: 0 20px;
        font-weight: 900;
        position: absolute;
        right: 0;
        top: 42%;
    }

    .acd-label div:after {
        background: #e8462e;
        box-sizing: border-box;
        content: '\f078';
        display: block;
        color: #e8462e;
        font-family: "Font Awesome 5 Free";
        height: 100%;
        padding: 0 20px;
        font-weight: 900;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
    }

    .acd-content .unit .unit_block_1 dl dd {
        font-size: 16px;
        font-weight: bold;
        font-family: "Montserrat", "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
    }

    .acd-content .unit .unit_block_2 img {
        float: left;
    }

    .acd-content .unit .unit_block_2 .price {
        display: inline-block;
        font-size: 18px;
        font-family: "Montserrat", "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
    }

    .acd-content .unit .unit_block_2 .owner {
        font-size: 12px;
        display: inline-block;
        padding: 2px 6px;
        background: #c9353a;
        color: #fff;
				box-sizing: border-box;
    }

    .acd-content .unit .unit_wrap dl {}

    .acd-content .unit .unit_block_1 dt {
        float: left;
				margin-right: 12px;
    }
    .acd-content .unit .unit_block_1 dt img {
        max-width: 100px;
        max-height: 100px;
    }
		.acd-content .unit .unit_block_2 img {
				float: left;
        max-width: 100px;
        max-height: 100px;
        padding-right: 12px;
		}


    .wrapper .acd-label dl {
        margin-right: 60px;
    }

    .wrapper .acd-content .unit {
        width: 50%;
    }

    .acd-content .unit .unit_block_1 dl {
        display: flex;
    }

    .acd-content .unit .unit_block_1 dt {
        margin-bottom: 24px;
    }

    .point_link_btn ul {
        display: flex;
        justify-content: space-between;
    }

    .point_link_btn li {
        width: 350px;
        text-align: center;
        border: 2px solid #d32125;
        border-bottom: 4px solid #d32125;
        height: 50px;
        line-height: 50px;
        margin-right: 2px;
    }

    .point_link_btn li a {
        position: relative;
        display: block;
        text-decoration: none;
        color: #d32125;
        background-color: #fff;
        font-size: 18px;
        letter-spacing: 1px;
        font-family:  'Noto Serif JP', "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
    }

    .point_link_btn li a:hover {
        text-decoration: none;
        color: #fff;
        background-color: #d32125;
        font-weight: bold;
        font-size: 18px;
    }

    .point_link_btn li a::after {
        position: absolute;
        content: "";
        display: inline-block;
        right: 46px;
        width: 18px;
        height: 10px;
        background: url(../images/arrow_off.png) no-repeat;
        background-size: contain;
        margin-left: 0.3em;
        top: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
    }

    .point_link_btn li a:hover::after {
        position: absolute;
        content: "";
        display: inline-block;
        right: 46px;
        width: 18px;
        height: 10px;
        background: url(../images/arrow_active.png) no-repeat;
        background-size: contain;
        margin-left: 0.3em;
        top: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
    }

    .wrapper .acd-content .item_wrap {
        position: relative;
        bottom: -1px;
        display: flex;
        justify-content: flex-start;
        margin: 26px 24px 0;
        padding: 0 0 26px;
        border-bottom: 1px solid #e8462e;
    }

    .wrapper h3 {
        font-size: 26px;
    }

    .wrapper .package ul li {
        width: 126px;
        text-align: center;
    }

    .wrapper .package ul {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 20px;
    }

    .wrapper .package li {
        margin-top: 12px;
    }

    .wrapper .size .size_wrap {
        display: flex;
        justify-content: space-between;
        -webkit-align-items: flex-start;
        align-items: flex-end;
    }

    .wrapper .size_left {
        width: 50%;
    }

    .wrapper .size_left p {
        font-size: 14px;
    }

    .wrapper .size_left dl {
        position: relative;
        background: #e5e2d7;
        margin-top: 24px;
        padding: 14px;
    }

    .wrapper .size_left dl img {
        content: "";
        display: inline-block;
        width: 46px;
        height: 26px;
        position: absolute;
        top: 12px;
        left: 0;
    }

    .wrapper .size_wrap>img {
        width: 46%;
    }

    .wrapper .size_left dl dt {
        font-size: 16px;
        font-weight: bold;
        font-family: "Montserrat", "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
        padding-left: 2.6em;
    }

    .wrapper .size_left dl dd {
        padding-top: 14px;
        font-size: 14px;
        font-family: "Montserrat", "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
    }

    .wrapper .size_left dl dd span {
        margin-left: -0.6em;
    }

    .wrapper .variety ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        -webkit-align-items: flex-start;
        align-items: flex-start;
    }

    .wrapper .variety ul li {
        display: flex;
        align-items: flex-start;
        width: 48%;
        margin-top: 24px;
    }

    .wrapper .variety ul li img {
        padding-right: 12px;
    }

    .wrapper .variety ul li dl dt {
        font-size: 16px;
        font-weight: bold;
        font-family: "Montserrat", "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
    }

    .wrapper .variety ul li dl dd {
        font-size: 14px;
    }

    .wrapper .producer ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 20px;
    }

    .wrapper .producer li {
        width: 24%;
        margin-top: 12px;
    }

    .wrapper .pride .y_txt p {
        font-size: 14px;
        margin-bottom: 26px;
        width: 334px;
        font-family: "Montserrat", "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
    }

    .wrapper .pride p>span {
        font-weight: bold;
        font-family: "Montserrat", "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
    }

    .wrapper .pride>p {
        font-size: 14px;
        margin-top: 26px;
    }

    .wrapper .pride .y_map {
        width: 322px;
    }

    .wrapper .pride .y_map ul {
        display: flex;
        justify-content: space-between;
    }

    .wrapper .pride .y_map ul li {
        margin-top: 12px;
    }

    .wrapper .pride .pride_wrap {
        display: flex;
        justify-content: space-between;
    }

    .modal_block .modal_ttl {
        padding: 8px;
        font-size: 18px;
        color: #fff;
        text-align: center;
        font-weight: bold;
        background: #e8462e;
        font-family: "Montserrat", "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
    }

    .modal_block .modal_contents {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding: 40px;
    }

    .modal_block .modal_contents img {
        width: 44%;
    }

    .modal_block .modal_contents dl {
        width: 52%;
    }

    .modal_block .modal_contents dl dt {
        font-size: 20px;
        font-weight: bold;
        font-family: "Montserrat", "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
    }

    .modal_block .modal_contents dl dd {
        font-size: 14px;
        font-family: "Montserrat", "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
        margin-top: 8px;
    }
}

@media screen and (max-width:599px) {

    .img_pc {
        display: none;
    }

    .wrapper {
        padding: 4% 4% 6%;
    }

    .sp_mv {
        padding: 0;
    }

    .wrapper section {
        padding: 2%;
    }
    
    .bg_beige {
        position: relative;
        background: #e5e2d7;
        margin-top: -36px !important;
        padding-top: 30px;
        padding-bottom: 44px;
    }

    .white_wave img {
        position: sticky;
        z-index: 999;
    }

    .wrapper section>div {
        margin-top: 16px;
        overflow: hidden;
    }

    .banner_area {
        margin-top: 20px;
    }

    .wrapper h3 {
        font-family: 'Noto Serif JP', "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
        text-align: center;
        margin: 16px auto 50px;
        font-weight: 400;
        letter-spacing: 2px;
        position: relative;
        display: block;
        width: 240px;
        font-size: 24px;
    }
	

    .wrapper h3.mothers::before {
        content: '';
        background: url(../images/hatsumono/mothers_icon.png) no-repeat;
        background-size: contain;
        position: absolute;
        top: 10px;
        display: inline-block;
        width: 1em;
        height: 1em;
        left: -20px;
    }

    .wrapper h3.hatsumono::before {
        content: '';
        background: url(../images/cherry_icon.png) no-repeat;
        background-size: contain;
        position: absolute;
        top: 7px;
        display: inline-block;
        width: 1em;
        height: 1em;
        left: 50px;
    }
		.wrapper h3.special { width:300px; max-width:100%; }
		.wrapper h3.hatsumono.special::before { left:30px; }

    .wrapper h3::after {
        content: '';
        position: absolute;
        bottom: -12px;
        display: inline-block;
        width: 140px;
        height: 3px;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        background-color: #d32125;
        /* border-radius: 2px; */
    }

    .acd-label {
        border: 1px solid #e8462e;
        background: #fff8eb;
        color: #000;
        display: block;
        padding: 24px 22px 60px;
        position: relative;
        cursor: pointer;
    }

    .acd-label:after {
        background: #e8462e;
        box-sizing: border-box;
        content: '\f078';
        display: block;
        color: #fff;
        font-family: "Font Awesome 5 Free";
        height: 30px;
        padding: 0 20px;
        font-weight: 900;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateY(0%) translateX(-50%);
        -webkit- transform: translateY(0%) translateX(-50%);
    }

    .acd-label div:after {
        background: #e8462e;
        box-sizing: border-box;
        content: '\f078';
        display: block;
        color: #e8462e;
        font-family: "Font Awesome 5 Free";
        width: 100%;
        height: 40px;
        padding: 0 20px;
        font-weight: 900;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateY(0%) translateX(-50%);
        -webkit- transform: translateY(0%) translateX(-50%);
    }

    .wrapper .acd-label dl {
        /* margin-right: 60px; */
    }

    .wrapper .acd-content .unit {
        width: 46%;
    }

    .wrapper .acd-content .item_wrap {
        position: relative;
        bottom: -1px;
        display: flex;
        justify-content: space-between;
        margin: 26px 24px 0;
        padding: 0 0 26px;
        border-bottom: 1px solid #e8462e;
    }

    .wrapper h2 img {
        width: 100%;
    }

    .acd-content .unit .unit_block_1 dl {
        /* display: flex; */
    }

    .acd-content .unit .unit_block_1 dt {
        text-align: center;
    }

    .acd-content .unit .unit_block_1 dl dd {
        display: inline-block;
        font-size: 16px;
        font-weight: bold;
        font-family: "Montserrat", "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
        margin-top: 12px;
    }

    .acd-content .unit .unit_block_2 img {
        margin-top: 6px;
    }

    .acd-content .unit .unit_block_2 .price {
        display: inline-block;
        margin-top: 8px;
        font-size: 15px;
        font-weight: bold;
        font-family: "Montserrat", "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
    }

    .acd-content .unit .unit_block_2 .owner {
        font-size: 12px;
        display: inline-block;
        margin-top: 8px;
        padding: 4px 8px;
        width: 100%;
        background: #c9353a;
        color: #fff;
				box-sizing: border-box;
    }

    .acd-content .unit .unit_wrap dl {}

    .acd-content .unit img {
        max-width: 100px;
        max-height: 100px;
    }


    .point_link_btn ul {
    }

    .point_link_btn li {
        text-align: center;
        border: 2px solid #d32125;
        border-bottom: 4px solid #d32125;
        height: 50px;
        line-height: 50px;
    }

    .point_link_btn li:last-child {
        margin-top: 12px;
    }

    .point_link_btn li a {
        position: relative;
        display: block;
        text-decoration: none;
        color: #d32125;
        background-color: #fff;
        font-size: 18px;
        letter-spacing: 1px;
        font-weight: 500;
        font-family:  'Noto Serif JP', "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
    }

    .point_link_btn li a:hover {
        text-decoration: none;
        color: #fff;
        background-color: #d32125;
        font-weight: bold;
        font-size: 18px;
    }

    .point_link_btn li a::after {
        position: absolute;
        content: "";
        display: inline-block;
        right: 46px;
        width: 18px;
        height: 10px;
        background: url(../images/arrow_off.png) no-repeat;
        background-size: contain;
        margin-left: 0.3em;
        top: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
    }

    .point_link_btn li a:hover::after {
        position: absolute;
        content: "";
        display: inline-block;
        right: 46px;
        width: 18px;
        height: 10px;
        background: url(../images/arrow_active.png) no-repeat;
        background-size: contain;
        margin-left: 0.3em;
        top: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
    }

    .wrapper .package ul {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 12px;
    }

    .wrapper .package li {
        width: 46%;
        text-align: center;
        margin-top: 20px;
    }

    .wrapper .size .size_wrap {
    }

    .wrapper .size_left {
    }

    .wrapper .size_left p {
        font-size: 14px;
    }

    .wrapper .size_left dl {
        position: relative;
        background: #e5e2d7;
        margin-top: 24px;
        padding: 14px;
    }

    .wrapper .size_left dl img {
        content: "";
        display: inline-block;
        width: 46px;
        height: 26px;
        position: absolute;
        top: 12px;
        left: 0;
    }

    .wrapper .size .size_wrap>img {
        width: 100%;
        margin-top: 24px;
    }

    .wrapper .size_left dl dt {
        font-size: 16px;
        font-weight: bold;
        font-family: "Montserrat", "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
        padding-left: 2.6em;
    }

    .wrapper .size_left dl dd {
        padding-top: 14px;
        font-size: 14px;
        font-family: "Montserrat", "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
    }

    .wrapper .size_left dl dd span {
        margin-left: -0.6em;
    }

    .wrapper .variety ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        -webkit-align-items: flex-start;
        align-items: flex-start;
    }

    .wrapper .variety ul li {
        display: flex;
        align-items: flex-start;
        margin-top: 24px;
    }

    .wrapper .variety ul li img {
        padding-right: 20px;
    }

    .wrapper .variety ul li dl dt {
        font-size: 16px;
        font-weight: bold;
        font-family: "Montserrat", "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
    }

    .wrapper .variety ul li dl dd {
        font-size: 14px;
    }

    .wrapper .producer ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 20px;
    }

    .wrapper .producer li {
        width: 48%;
        margin-top: 12px;
    }

    .wrapper .pride .y_txt p {
        font-size: 14px;
        margin-bottom: 26px;
        font-family: "Montserrat", "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
    }

    .wrapper .pride p>span {
        font-weight: bold;
        font-family: "Montserrat", "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
    }

    .wrapper .pride>p {
        font-size: 14px;
        margin-top: 26px;
    }

    .wrapper .pride .y_map {
        width: 100%;
    }

    .wrapper .pride .y_map ul {
        display: flex;
        justify-content: space-between;
    }

    .wrapper .pride .y_map ul li {
        margin-top: 12px;
    }

    .wrapper .pride .y_map ul li:nth-of-type(n+2) {
        margin-left: 12px;
    }

    .modal_trigger {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    .modal_trigger li {
        width: 47.5%;
        margin-top: 20px;
        max-width: inherit;
    }

    .modal_trigger li+li {
        margin-left: 0;
    }

    .modal_inner {
        width: 90%;
        max-height: 80%;
        overflow-y: scroll;
        /* padding: 25px; */
    }

    .modal_close {
        /*top: 5px;*/
        font-size: 2.2rem;
    }

    .modal_block .modal_ttl {
        padding: 8px;
        font-size: 18px;
        color: #fff;
        text-align: center;
        font-weight: bold;
        background: #e8462e;
        font-family: "Montserrat", "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
    }

    .modal_block .modal_contents {
        /* display: flex;
        justify-content: space-between;
        align-items: flex-start; */
        padding: 25px;
        overflow: scroll;
    }

    .modal_block .modal_contents img {
    }

    .modal_block .modal_contents dl {
    }

    .modal_block .modal_contents dl dt {
        margin-top: 16px;
        font-size: 18px;
        font-weight: bold;
        font-family: "Montserrat", "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
    }

    .modal_block .modal_contents dl dd {
        font-size: 14px;
        font-family: "Montserrat", "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
        margin-top: 8px;
    }

}


@media all and (-ms-high-contrast:none) {

    .wrapper .acd-label dl dt {
        position: relative;
        font-family: "Montserrat", "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
        font-size: 18px;
        font-weight: bold;
        padding-left: 1.2em;
        margin-bottom: 8px;
        padding-top: 3px;
    }

    .wrapper h3 {
        font-family: 'Noto Serif JP', "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
        text-align: center;
        margin: 30px auto 50px;
        font-weight: 400;
        letter-spacing: 2px;
        position: relative;
        display: block;
        width: 260px;
    }

    .wrapper .mothers::before {
        content: '';
        background: url(../images/hatsumono/mothers_icon.png) no-repeat;
        background-size: contain;
        position: absolute;
        top: 4px;
        display: inline-block;
        width: 1em;
        height: 1em;
        left: -20px;
    }

    .wrapper .hatsumono::before {
        content: '';
        background: url(../images/cherry_icon.png) no-repeat;
        background-size: contain;
        position: absolute;
        top: 10px;
        display: inline-block;
        top: -2px;
        display: inline-block;
        width: 1.3em;
        height: 1.3em;
        left: 50px;
    }

    .wrapper h3::after {
        content: '';
        position: absolute;
        bottom: -6px;
        display: inline-block;
        width: 140px;
        height: 3px;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        background-color: #e8462e;
        /* border-radius: 2px; */
    }

    .acd-content h5 {
        position: relative;
        background: #ffec94;
        width: 100%;
        font-family: "Montserrat", "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
        padding: 16px 4px 12px 3.3em;
        font-size: 20px;
        font-weight: bold;
        top: -1px;
    }

    .acd-content .unit .unit_block_2 .owner {
        font-size: 12px;
        display: inline-block;
        padding: 4px 6px 0;
        background: #c9353a;
        color: #fff;
    }
		.modal_close {
        cursor: pointer;
        position: absolute;
        right: 14px;
        top: 5px;
        color: #fff;
        font-size: 2rem;
    }
}