@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&family=Noto+Serif+JP:wght@400;700&display=swap');

body {display: block;}

#wrapper{width:100%;font-family: 'Noto Sans JP','Yu Gothic', 'YuGothic', 'Hiragino Kaku Gothic ProN', 'Meiryo', sans-serif;font-size:18px;color:#333;background:#F2F2F2;}
#wrapper *{box-sizing:border-box;}
#wrapper .serif{font-family: 'Noto Serif JP',"游明朝体","Yu Mincho",YuMincho,"ヒラギノ明朝 Pro","Hiragino Mincho Pro","MS P明朝","MS PMincho",serif;}
#wrapper a:hover{opacity:0.7;}
#wrapper a img:hover{opacity:0.7;}

.container{margin:auto;max-width:1232px;padding:0 4px;}
.container2 {max-width: 1120px; padding: 0 20px; margin: auto;text-align: center;}
.v-pc{display:block!important;}
.v-sp{display:none!important;}
#sp-header{display: none;} 

#mother-wrap{
 width: 100%;
 background: #EDE8DB;
 padding-top: 50px;
}

/* title */
.common-h2 {position: relative; font-size: 30px; font-weight: 700; text-align: center;}
.common-h2::before {content: ""; position: absolute; left: 50%; top: 0; background-size: 100% auto; background-repeat: no-repeat; transform: translateX(-50%);}
.common-h2--ranking {padding-top: 45px;}
.common-h2--ranking::before {width: 51px; height: 34px; background-image: url(../images/202304/icon_ranking.png);}
.common-h2--pickup {padding-top: 55px;}
.common-h2--pickup::before {width: 51px; height: 43px; background-image: url(../images/202304/icon_pickup.png);}
.common-h2--package {padding-top: 60px;}
.common-h2--package::before {width: 45px; height: 49px; background-image: url(../images/202304/icon_package.png);}
.common-h2--search {padding-top: 44px;}
.common-h2--search::before {width: 40px; height: 40px; background-image: url(../images/202304/icon_search.png);}
.common-h2--kodawari {padding-top: 62px;}
.common-h2--kodawari::before {width: 37px; height: 48px; background-image: url(../images/202304/icon_kodawari.png);}

/* banner */
.banner {margin: 20px 0 0;}
.banner_block img {margin: auto;}
.banner_list {display: flex; justify-content: center;}
.banner_list > li {width: calc((100% - 36px) / 3);}
.banner_list > li + li {margin-left: 18px;}

/* --------------------------------------------------------------- */
/* MV */
/* --------------------------------------------------------------- */
#block-mv{position: relative;text-align:center;background:url(../images/bg.jpg) center center / cover no-repeat;}
#block-mv .container{position:relative;padding: 70px 0 70px;z-index: 999;}
#block-mv .mv-logo{position:absolute;top:0;left:0;width: 16%;}
#block-mv .box{text-align: center;}
#block-mv .box .main-ttl {width: 41%; margin: auto;}
#block-mv .box .main-ttl img {width: 208px;}
#block-mv .box .main-lead {position: absolute;top: 50%;right: 5%;writing-mode: tb-rl;text-orientation: upright;transform: translateY(-50%);z-index: 1;text-align: justify;}
#block-mv .box .main-lead span{display: inline-block;color: #fff;font-family: "Zen Old Mincho", serif;font-size: 23px;font-weight: 500;text-shadow: 2px 5px 5px #1b1731;line-height: 1.8;vertical-align: text-top;white-space: nowrap;letter-spacing: 5px;}
#block-mv .btn a{display:inline-block; width: 280px; padding:15px; margin-top:30px; color:#F26262; font-size:18px; text-align: center; line-height: 1; background-color: #fff;}
#block-mv .box .main-lead span big{font-size: 50px;padding-bottom: 10px;}
#block-mv .btn-close a {color: #fff; background-color: rgba(95, 95, 95, 0.79); pointer-events: none;}
#block-mv .btn a:hover {color: #fff; background-color: #F26262; opacity: 1;}
#block-mv .box .banner{position: absolute; top:0;right:0;} 

/* --------------------------------------------------------------- */
/* lead */
/* --------------------------------------------------------------- */
#block-lead{text-align:center;line-height:1.8;padding:40px 0 40px;}
#block-lead p span{background:#ffe5e5;}

/* --------------------------------------------------------------- */
/* ranking */
/* --------------------------------------------------------------- */
#block-ranking{padding:0px 0 0px; background: #F2F2F2;}
#block-ranking .ranking_wrap {margin-top: 40px;}
#block-ranking .ranking_contents {display: flex; justify-content: space-between;}
#block-ranking .ranking_contents + .ranking_contents {margin-top: 75px;}
#block-ranking .ranking_ttl {position: relative; width: 19%; text-align: center; border: 1px solid #BF9C46;background: #fff;}
#block-ranking .ranking_ttl > div {position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); white-space: nowrap;}
#block-ranking .ranking_ttl h3 {position: relative; color: #BF9C46; padding-top: 0px; margin-bottom: 20px; font-size: 20px; font-weight: 700;}
#block-ranking .ranking_ttl h3 p {font-size: 16px; line-height: 1.75;}
#block-ranking .ranking_list {display: flex; justify-content: space-between; width: calc(81% - 40px); counter-reset: ranking 0;}
#block-ranking .ranking_list li {position: relative; width: calc(20.5% - 15px);box-shadow: 3px 3px 3px 1px #ddd;background: #fff;}
#block-ranking .ranking_list li img{object-fit: cover;width: 180px;  height: 180px;}
#block-ranking .ranking_list li::before {counter-increment: ranking 1; content: counter(ranking); position: absolute; display: flex; justify-content: center; align-items: baseline; left: 0; top: 0; width: 32px; height: 32px; font-size: 20px; font-weight: 500; background-color: #E5E5E5;z-index: 999;}
#block-ranking .ranking_list li:first-of-type::before {color: #fff; background-color: #BF9C46;z-index: 999;}
#block-ranking .ranking_list li .txt {padding: 12px 8px;;background: #fff;}
#block-ranking .ranking_list li .txt .name {color: #777; font-size: 14px; line-height: 1.4;padding-bottom: 80px; height: 0px;}
#block-ranking .ranking_list li .price {position: absolute;color: #BF9C46; font-size: 12px;padding-top: 6px;left: 10px;bottom: 5px;}
#block-ranking .ranking_list li .price .num {font-size: 16px; font-weight: 700;}

#block-ranking .ranking_list .close{overflow:hidden;}
#block-ranking .ranking_list .close .mask{width: 100%; height: 100%; position: absolute;background: rgb(189 189 189 / 63%);}
#block-ranking .ranking_list .close a{display: block;pointer-events: none;}
#block-ranking .ranking_list .close .end{width: 90%; left: 5%; margin: auto; top:40%;color: #fff; position: absolute;text-align: center;background: #000;padding: 5px;}


/* --------------------------------------------------------------- */
/* contents */
/* --------------------------------------------------------------- */
#block-contents {padding:0px 0;}
#block-contents .common-h2 {margin-bottom: 25px;}

#block-contents ul > li{background: #fff;}
#block-contents ul > li .txt .catch {padding-bottom: 10px;margin-bottom: 10px;font-size: 18px;border-bottom: 1px solid #707070;text-align: center;}
#block-contents ul {position: relative;}
#block-contents ul .frame {position: relative;width: 100%;height: 0;padding-top: 180px;}
#block-contents ul .menu {position: absolute;left: 0;top: 0;width: 100%;height: 100%;object-fit: cover;}
#block-contents ul .frame .logo {position: absolute; bottom:5%; right: 3%;width: 75px;}
#block-contents ul {display: flex; flex-wrap: wrap; margin-top: 35px;margin-bottom: 60px;}
#block-contents ul li {display: flex;flex-direction: column;position: relative; width: calc(25% - 9px); margin-right: 12px; border: 1px solid #C3C3C3;box-shadow: 3px 3px 3px 1px #ddd;}

#block-contents ul li:nth-of-type(4n) {margin-right: 0;}
#block-contents ul li:nth-of-type(n+5) {margin-top: 40px;}
#block-contents ul li img {object-fit: cover;}
#block-contents ul li .txt {position: relative; padding: 15px 15px 55px 15px;}
#block-contents ul li .txt .name {width: 90%;margin: auto;font-size: 18px; font-weight: bold;text-align: center; letter-spacing: 1px;padding-bottom: 10px;line-height: 26px;}

#block-contents ul li .num {color: #BF9C46; font-size: 23px; font-weight: bold; text-align: center; letter-spacing: 1px;}
#block-contents ul li .price {position: absolute; bottom: 15px; left: 0; right: 0; color: #BF9C46; font-size: 18px; font-weight: bold;text-align: center; letter-spacing: 1px;}

#block-contents ul li .txt .explanation {margin-top: 18px; font-size: 16px; line-height: 1.75;}
#block-contents ul li .txt .btn {position: absolute; left: 20px; bottom: 25px; display: flex; justify-content: center; align-items: center; width: calc(100% - 40px); height: 42px; padding: 10px; color: #333; font-size: 16px; border-radius: 35px; background-color: #E5E5E5;}
#block-contents ul li .txt .btn::after {content: ""; position: absolute; top: 50%; right: 15%; width: 8px; height: 8px; border-top: 1px solid #333; border-right: 1px solid #333; transform: translateY(-40%) rotate(45deg); -webkit-transition: .2s linear; -moz-transition: .2s linear; -o-transition: .2s linear;}
#block-contents ul　li .txt .btn:hover {color: #fff; background-color: #777; opacity: 1;}
#block-contents ul li .txt .btn:hover::after {border-color: #fff;}
#block-contents ul li .txt .btn-end {pointer-events: none; color: #fff; background-color: #777;}
#block-contents ul li .txt .btn-end::after {content: none;}

#block-contents ul .close{overflow:hidden;}
#block-contents ul .close .mask{width: 100%; height: 100%; position: absolute;background: rgb(189 189 189 / 63%);z-index: 998;}
#block-contents ul .close a{display: block;pointer-events: none;}
#block-contents ul .close .end{width: 90%; left: 5%; margin: auto; top:45%;color: #fff; position: absolute;text-align: center;background: #000;padding: 5px;z-index: 999;}

#block-contents ul .close a{color: #fff!important; background-color: rgba(95, 95, 95, 0.79)!important;; pointer-events: none;}
#block-contents ul .close::after{display: none;}

/* ========================================================================================= */
/* SP */
/* ========================================================================================= */
@media screen and (max-width:1240px) {
 
 .sp{display: none;}
 
 #block-mv .mv-logo{width: 20%;}
 #block-mv .container {width: 90%;margin: auto;}
 .container{max-width:1200px;padding:0 5%;}
 
   #block-contents ul .frame{padding-top: 150px;}

	/* --------------------------------------------------------------- */
	/* ranking */
	/* --------------------------------------------------------------- */
	#block-ranking .ranking_contents {display: block;}
	#block-ranking .ranking_list li img{width: 100%;}
	#block-ranking .ranking_ttl {width: 100%; margin-bottom: 20px;}
	#block-ranking .ranking_ttl h3 {display: flex; justify-content: center; align-items: center; margin: 0; padding: 10px 0;}
	#block-ranking .ranking_ttl h3::before {position: static; display: inline-block; margin-right: 15px; transform: none;}
	#block-ranking .ranking_ttl > div {position: static; transform: none;}
	#block-ranking .ranking_ttl > div p {display: none;}
	#block-ranking .ranking_list {width: 100%;}

 #block-contents ul{margin-bottom: 20px;}
 #block-contents ul li .txt{padding-left: 10px;padding-right: 10px;}
 #block-contents ul > li .txt .catch{font-size: 17px;letter-spacing: 0px;}
 #block-contents ul li .txt .name{width: 100%; font-size: 17px;}
 #block-contents ul li .txt .num{font-size: 20px;}
 #block-contents ul li .txt .price{font-size: 15px;}
 
}



@media screen and (max-width: 1000px){
 
  #block-mv .mv-logo{width: 22%;}
 
 #block-ranking .ranking_list li img{height: 150px;}
 
 
 #block-contents ul > li .txt .catch{font-size: 16px;}
 #block-contents ul li .txt .name{font-size: 16px;line-height: 22px;}
 
 #block-contents ul li .num{font-size: 20px;}
 #block-contents ul li .price{font-size: 15px;bottom: 12px;}
 
}

@media screen and (max-width: 900px){
 
 #block-ranking .ranking_list li .txt .name{padding-bottom: 100px;}
 
	/* --------------------------------------------------------------- */
	/* item */
	/* --------------------------------------------------------------- */
	.block-item .item_title .period {width: 100px; height: 100px;}
	.block-item .item_title .period p.heading {font-size: 12px;}
	.block-item .item_title .period p {font-size: 16px;}
	.block-item .item_title .period p .date {font-size: 20px;}
	.block-item .item_list .item-top > li {width: calc((100% - 90px) / 2);}
 .block-item .item_list .item-top h5{font-size: 20px;}
 .block-item .item_list .item-top h6{font-size: 20px;}
 
 #block-contents ul .frame{padding-top: 75%;}
 
 #block-contents ul .frame .logo{width: 65px;}
 
 #block-contents ul li .txt{padding: 15px 10px 43px 10px;}
 #block-contents ul > li .txt .catch{font-size: 15px;}
 #block-contents ul li .txt .name{font-size: 15px;}
}

@media screen and (max-width: 850px){
 
  #block-contents ul .frame{padding-top: 80%;}
 
}

/* --------------------------------------------------------------- */
@media screen and (max-width: 767px){
 
 #block-contents ul .frame{padding-top: 180px;}
 
 #block-ranking .ranking_list li .price{bottom: 10px;}
 
	#wrapper{font-size:11px;letter-spacing:0.04em;}
	.container{padding:0 32px;}
	.container2{padding:0 12px;}
	.v-pc{display:none!important;}
	.v-sp{display:block!important;}
	#wrapper a:hover{opacity:1;}
	#wrapper a img:hover{opacity:1;}
 
 #block-mv .box .main-lead span{font-size: 30px;}

 	/*title */
 	.common-h2 {font-size: 22px;}
	.common-h2--ranking {padding-top: 30px;}
	.common-h2--ranking::before {width: 33.5px; height: 22px;}

	/* banner */
 	.banner_block {padding: 0 4%;}
	 .banner_list > li {width: calc((100% - 13px) / 3);}
	 .banner_list > li + li {margin-left: 6.5px;}
 
	/* --------------------------------------------------------------- */
	/* MV */
	/* --------------------------------------------------------------- */
	#block-mv{background-image:url(../images/bg_sp.jpg);}
	#block-mv .container {padding: 80px 4% 500px;}
	#block-mv .mv-logo {width: 27%;}
	#block-mv .box .main-ttl {width: 80%;}
	#block-mv .box .main-lead {top:45%;left: 50%;right: auto;bottom: 40%; transform: translateX(-50%);}
	#block-mv .box .main-lead span big{font-size: 70px;line-height: 110px;}

	/* --------------------------------------------------------------- */
	/* item */
	/* --------------------------------------------------------------- */
	.block-item {padding: 20px 0;}
	.block-item .item_title h2 {padding-right: 0; font-size: 22px;}
	.block-item .item_title h2 .large {font-size: 37px;}
	.block-item .item_title h2 .sub {font-size: 18px;}
	.block-item .item_title .note {font-size: 12px;}
	.block-item .item_title .period {width: 80px; height: 80px;}
	.block-item .item_title .period p {font-size: 12px;}
	.block-item .item_title .period p.heading {font-size: 10px;}
	.block-item .item_title .period p .date {font-size: 17px;}
	.block-item .item_benefits {margin-top: 20px;}
	.block-item .item_benefits > li {justify-content: space-between; align-items: center; flex-wrap: wrap; width: 100%; padding: 15px;}
	.block-item .item_benefits > li + li {}
	.block-item .item_benefits > li .heading {flex: 1; margin-bottom: 0; font-size: 15px;}
	.block-item .item_benefits > li .heading sub {font-size: 10px;}
 #block-mother .item_benefits > li .heading{font-size: 20px;}
 .block-item .item_benefits > li{margin-left: 10px; margin-right: 10px;}
	.block-item .item_benefits > li .img-1 {width: 80%;margin-top: 10px;}
	.block-item .item_benefits > li .img-2 {width:90%;}
	.block-item .item_benefits > li .note {width: 100%; font-size: 11px;}
	.block-item .item_list {margin-top: 0px; padding: 0px 10px; border-radius: 7.5px;}
	.block-item .item_list .item {flex-wrap: wrap; gap: 30px 10px;}
	.block-item .item_list .item > li .heading {font-size: 15px;}
	.block-item .item_list .item > li .name {font-size: 14px;}
	.block-item .item_list .item > li .feature {gap: 5px 7px;}
	.block-item .item_list .item > li .feature > li {padding: 1px 5px; font-size: 11px;}
	.block-item .item_list .item > li .price {font-size: 11px;}
	.block-item .item_list .item > li .price .num {font-size: 14px;}
	.block-item .item_list .item-top > li {width: 100%;}
	.block-item .item_list .item-top > li a {display: flex; justify-content: space-between;}
	.block-item .item_list .item-top > li .img {width: 50%;}
	.block-item .item_list .item-top > li .inner {width: calc(50% - 10px);}
	.block-item .item_list .item-top > li .heading {margin-top: 0;}
 .block-item .item_list .item-top > li:nth-child(2){padding-bottom: 0px;margin-top: -20px}
	.block-item .item_list .item-bottom {margin-top: 30px;}
	.block-item .item_list .item-bottom > li {width: calc(50% - 5px);}
	.block-item .item_list .btnarea {margin-top: 20px;}
	.block-item .item_list .btnarea a {padding: 9px 30px; font-size: 15px;}

	/* --------------------------------------------------------------- */
	/* menu */
	/* --------------------------------------------------------------- */
	#block-menu .banner .sp{display:block;}
	#block-menu .banner .pc{display:none;}

	#block-menu .list-menu{padding:15px 0;}
	#block-menu .list-menu > li a{font-size:10px;letter-spacing:0;padding:7px 0 14px;}
	#block-menu .list-menu > li a::after{border-width:5px 5px 0 5px;margin-left:-5px;bottom:6px;}

	/* --------------------------------------------------------------- */
	/* ranking */
	/* --------------------------------------------------------------- */
	#block-ranking{padding-top: 0px;padding-bottom: 20px;}
	#block-ranking .ranking_wrap {margin-top: 25px;}
	#block-ranking .ranking_contents + .ranking_contents {margin-top: 30px;}
	#block-ranking .ranking_ttl h3 {font-size: 19px;padding: 15px 0px;}
	#block-ranking .ranking_list .slick-list {padding-right: 20%;}
	#block-ranking .ranking_list li {width: auto; margin-right: 14px;}
	#block-ranking .ranking_list li:last-of-type {margin-right: 0;}
	#block-ranking .slick-arrow {position: absolute; top: 50%; width: 23.5px; height: 40px; background-color: rgba(51,51,51,0.5); transform: translateY(-50%); z-index: 1; text-indent: -9999px;}
	#block-ranking .slick-arrow::before {content: ""; position: absolute; top: 50%; width: 11px; height:11px; transform: translate(-50%, -50%) rotate(45deg);}
	#block-ranking .slick-prev {left: 0;}
	#block-ranking .slick-prev::before {left: 60%; border-bottom: 2px solid #fff; border-left: 2px solid #fff;}
	#block-ranking .slick-next {right: 0;}
	#block-ranking .slick-next::before {left: 40%; border-top: 2px solid #fff; border-right: 2px solid #fff;}
	#block-ranking .ranking_list li::before {width: 30px; height: 30px; font-size: 18px;}
	#block-ranking .ranking_list li img{width: 100%;}

	/* --------------------------------------------------------------- */
	/* search */
	/* --------------------------------------------------------------- */
	#block-contents{padding:10px 0 35px;}
	#block-contents .common-h2 {margin-bottom: 15px;}
	#block-contents .search_lead {font-size: 14px;}
	#block-contents .search_price {justify-content: space-between; padding: 0 20px; margin-top: 30px;}
	#block-contents .search_price > li {width: calc(50% - 5px); margin: 0;}
	#block-contents .search_price > li:nth-of-type(n+3) {margin-top: 10px;}
	#block-contents .search_price > li a {min-width: auto; padding: 8px; font-size: 11px; letter-spacing: 2.2px;}
	#block-contents .search_kind {margin-top: 30px;}
	#block-contents .search_kind li {width: calc(50% - 5px);}
	#block-contents .search_kind li:nth-of-type(odd) {margin-right: 10px;}
	#block-contents .search_kind li:nth-of-type(n+3) {margin-top: 15px;}
	#block-contents .search_kind li .txt {padding: 10px 8px 85px;}
	#block-contents .search_kind li .txt .name {font-size: 16px;}
	#block-contents .search_kind li .txt .explanation {margin-top: 8px; font-size: 14px;}
	#block-contents .search_kind li .txt .btn {left: 10px; bottom: 14px; width: calc(100% - 20px); height: 28px; padding: 10px 20px 10px 10px; font-size: 12px;}
	#block-contents .search_kind li .txt .btn::after {right: 12px; width: 7px; height: 7px;}
 
 #block-contents ul{margin-top: 0px;justify-content: space-between;}
 #block-contents ul li{width: calc(49.2% - 0px);margin-right: 0px;}
 #block-contents ul li:nth-of-type(1n) {margin-left: 0;}
 #block-contents ul li:nth-of-type(2n) {margin-left: 0px;}
 #block-contents ul li:nth-of-type(n+3) {margin-top: 30px;}
 #block-contents ul .menu{width: 100%;}

	/* --------------------------------------------------------------- */
	/* review */
	/* --------------------------------------------------------------- */
	#block-review {margin-top: 45px;}
	#block-review .review_inner {padding: 25px 20px 30px;}
	#block-review .review_h2 {margin-bottom: 20px; font-size: 18px;}
	#block-review .review_list li:nth-of-type(n+2) {margin-top: 15px;}
	#block-review .review_list li .txt {width: 61%; padding: 10px;}
	#block-review .review_list li .txt .ttl .photo {width: 35px;}
	#block-review .review_list li .txt .ttl .name {width: calc(100% - 45px); font-size: 14px;}
	#block-review .review_list li .txt .lead {font-size: 14px;}
	#block-review .review_list li .img {width: 39%;}
	#block-review .review_inner--movie {padding: 40px 20px 35px;}
	#block-review .review_movie {width: 100%;}

	/* --------------------------------------------------------------- */
	/* recommend */
	/* --------------------------------------------------------------- */
	#block-recommend .recommend_inner{padding: 20px 25px 40px;}
	#block-recommend .recommend_h2 {padding-top: 70px; margin-bottom: 20px; font-size: 19px;}
	#block-recommend .recommend_h2::before {width: 118.5px; height: 56.5px;}
	#block-recommend .recommend_list li {width: calc(33% - 6px); margin-right: 10px;}
	#block-recommend .recommend_list li:nth-of-type(n+4) {margin-top: 10px;}
	#block-recommend .recommend_list li .txt {padding: 5px;}
	#block-recommend .recommend_list li .txt .name {font-size: 14px;}
	#block-recommend .recommend_list li .txt .price {font-size: 12px;}
	#block-recommend .recommend_list li .txt .price .num {font-size: 18px;}

	/* --------------------------------------------------------------- */
	/* kodawari */
	/* --------------------------------------------------------------- */
	#block-kodawari {padding: 45px 0 60px; margin-top: 55px;}
	#block-kodawari .kodawari_h3 {font-size: 18px;}
	#block-kodawari .kodawari_lead {font-size: 14px;}
	#block-kodawari .kodawari_owner_list li {width: calc(33% - 7px);}
	#block-kodawari .kodawari_owner_list li:nth-of-type(n+4) {margin-top: 10px;}
	#block-kodawari .kodawari_owner_list li .txt {padding: 5px;}
	#block-kodawari .kodawari_owner_list li .txt .farm {font-size: 12px;}
	#block-kodawari .kodawari_owner_list li .txt .name {font-size: 10px;}
	#block-kodawari .kodawari_yamagata {margin-top: 55px;}
	#block-kodawari .kodawari_yamagata_col .txt p {font-size: 14px;}

	/* --------------------------------------------------------------- */
	/* gift */
	/* --------------------------------------------------------------- */
	#block-gift{padding:30px 0 60px;}
	#block-gift .ttl{max-width:65%;margin:0 auto 15px;}
	#block-gift .lead{font-size:10px;margin-bottom:15px;}
	#block-gift .sub-ttl{margin-bottom:30px;}
	#block-gift .sub-ttl span{font-size:16px;padding:0 15px;}
	#block-gift .list-gift{display:block;max-width:90%;margin:auto;}
	#block-gift .list-gift > li{padding:20px 25px 40px;}
	#block-gift .list-gift > li + li{margin-left:0;margin-top:20px;}
	#block-gift .list-gift > li .img{max-width:80%;margin:0 auto 15px;}
	#block-gift .list-gift > li .list-ttl{font-size:11px;margin-bottom:10px;}
	#block-gift .list-gift > li p{font-size:10px;}
	#block-gift .list-gift + .sub-ttl{margin-top:30px;}
 
 #block-kodawari .kodawari_owner_list .place h4{
  font-size: 20px;
  margin-top: 35%;
 }
 
 #block-kodawari .kodawari_owner_list .place .arrow::before{
  width: 32%;
  right: 35%;
 }
 #block-kodawari .kodawari_owner_list .place .arrow::after{
  right: 35%;
 } 
 
 #block-pickup .pickup_list li img{
 height: 33%; 
 }
 
#block-pickup .pickup_list li .txt{
 height: 65%;
 padding: 10px 14px 55px;
 }
 
}


@media screen and (max-width:1300px){
 
 #block-package .package_list li .close .mask{
  width: 100%;
  height: 80%;
 }
 
#block-ziten .detail{
 width: 56%; 
 }
 
#block-ziten .keyword .last{
 margin-left: 0px; 
 }
 
}

@media screen and (max-width:1100px){
 
#block-package .package_list li .close .end{
 width: 120px;
 font-size: 14px;
 top: 28%
 }
 
#block-package .package_list li .name{
 font-size: 14px; 
 }
 
#block-ziten .keyword li:first-child{
 margin: auto; 
 }
 
#block-ziten .keyword li{
 margin-bottom: 10px; 
 }
 
}

@media screen and (max-width:900px){
 
#block-ziten .graph{
 width: 100%;
 margin-bottom: 40px;
 }
 
#block-ziten .graph .text{
 width: 49%;
 float: left;
 }
 
#block-ziten .graph h4{
 font-size: 24px;
 letter-spacing: 2px;
 }
 
#block-ziten .season li:first-child{
 width: 100%;
 text-align: left;
 }
 
#block-ziten .graph{
 margin-left: 0; 
 } 
 
#block-ziten .graph img{
 width: 45%;
 float: right;
 margin: auto;
 }
 
#block-ziten .detail{
 float: none; 
 width: 100%;
 margin-right: 0px;
 }
 
#block-ziten .keyword .last{
 padding: 5px 12px; 
 }
 
}

@media screen and (max-width:770px){
 
#block-package .package_list li .close .mask{
 width: 200px;
 height: 86%;
 left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
 }
 
#block-package .package_list li .name{
 font-size: 15px; 
 }
 
#block-package .package_list li .close .end{
 width: 150px;
 top: 35%;
 left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
 }
 
#block-ziten .graph img{
 width: 48%; 
 }
 
#block-ziten br{
 display: none;
 }
 
}

@media screen and (max-width:600px){
 
.accodion .inner {
 display: none; 
 }
 
.accodion label{
 pointer-events: fill;
 right: 50px;
 transition: 0.6s;
 }
 
.accodion_toggle:after {
 content: "";
 display: inline-block;
 width: 20px;
 height: 20px;
 background:url(../images/202311/arrow.png) no-repeat right top;
 position:absolute;
 top: 50%;
 right: -30px;
 background-size: contain;
 transform: translateY(-50%);
}
 
.accodion_toggle.selected:after {
 transform: translateY(-50%) rotate(180deg);
}
 
 #block-ziten .detail{
  display: block;
  width: 100%;
 }
 
.accodion label{
 top:auto;
  bottom: 10px;
 }
 
.accodion label::after{
  bottom: 15px;
 }
 
#block-ziten .item{
 margin-bottom: 70px; 
 }
 
#block-ziten .tag li a{
 padding: 2px 30px;
 }
 
#block-ziten .name img{
 width: 58px;
 height: 58px;
 }
 
#block-ziten .name{
 margin-top: 10px;
 margin-bottom: 10px; 
 }
 
#block-ziten .name h3{
 font-size: 28px;
 margin-left: 10px;
 letter-spacing: 2px;
 }
 
#block-ziten .graph h4{
 font-size: 19px;
 letter-spacing: 1px;
 }
 
#block-ziten .season{
 padding-top: 10px;
 padding-bottom: 10px;
 }
 
#block-ziten .season li{
 font-size: 14px; 
 }
 
#block-ziten .keyword li{
 font-size: 14px; 
 }
 
#block-ziten .graph{
 margin-bottom: 0px; 
 } 
 
#block-ziten .graph img{
 width: 50%;
 padding-top: 20px;
 }
 
.accodion{
 padding: 12px 18px; 
 }
 
.accodion{
 padding-bottom: 30px; 
 }
 
}

@media screen and (max-width:425px){
 
 #block-mv .container{padding-bottom: 400px;}
 
 #block-mv .mv-logo{width: 32%;}
 
 #block-mv .box .main-lead{top: 46%;left: 49%;}
 
 #block-mv .box .main-lead span{font-size: 25px;}
 
 #block-mv .box .main-lead span big{font-size: 55px;line-height: 90px;}
 
 #block-ranking .ranking_list li img{height: 120px;}
 
 .container{padding: 0 15px;}
 
 #block-mv .box .main-ttl img{width: 60%;padding-top: 20px;}
 
 #block-contents{padding-bottom: 0px;}
 
 #block-contents ul li:nth-of-type(n+3){margin-top: 15px;}
 
 #block-contents ul .frame{padding-top: 150px;}
 
 #block-contents ul .frame .logo{width: 55px;}
 
 #block-ranking .ranking_list li .txt .name{font-size: 14px;padding-bottom: 105px;}
 
 #block-contents ul li .txt{padding: 15px 10px 48px 10px;}
 
 #block-contents ul > li .txt .catch{font-size: 15px;}
 
 #block-contents ul li .txt .name{width: 95%; font-size: 15px;line-height: 21px;}
 
 #block-contents ul li .num{font-size: 18px;}
 
  #block-contents ul li .price{font-size: 14px;bottom: 12px;}
 
#block-pickup .pickup_list li .heading{
 font-size: 14px; 
 }
 
#block-pickup .pickup_list li .explanation{
 margin-top: 0.5em;
 font-size: 12px;
 }
 
#block-pickup .pickup_list li .txt{
 padding-bottom: 75px; 
 } 
 
.drawer-open{
 width: 55px;
 height: 45px;
 margin-top: 3px;
}
 
.drawer-open span, .drawer-open span:before, .drawer-open span:after{
 width: 40px; 
 }
 
.drawer-open span:before {
 bottom: 8px;
}
 
.drawer-open span:after {
 top: 8px;
}
 
#block-mv .btn-close a{
 width: 330px; 
 }
 
#block-first-mother .box{
 background-size: auto 200px;
 }
 
#block-package .package_list li .close .mask{
 width: 185px;
 }
 
#block-ziten .tag li a{
 padding: 2px 20px;
 }
 
#block-ziten .name img{
 width: 48px;
 height: 48px;
 }
 
#block-ziten .name h3{
 font-size: 26px;
 }
 
#block-ziten .graph{
 position: relative;
 }
 
#block-ziten .graph .text{
 width: 53%;
 }
 
#block-ziten .graph h4{
 font-size: 18px;
 }
 
#block-ziten .season li:first-child{
 font-size: 14px;
 letter-spacing:1px;
 }
 
#block-ziten .season li{
 font-size: 14px; 
 padding: 2px 10px 3px; 
 }
 
#block-ziten .keyword li:first-child{
 font-size: 13px; 
 }
 
#block-ziten .keyword li{
 font-size: 13px;
 padding: 2px 6px;
 }
 
#block-ziten .graph img{
 width: 52%;
 top:0;
 right: 0;
 padding-top: 15px;
 position: absolute;
 }
 
#block-ziten .detail h5{
 font-weight: 600; 
 }
 
.accodion{
 padding: 12px 15px;
 padding-bottom: 30px;
 }
 
.accodion label{
 font-weight: 500;
 right: 45px;
 }
 
.accodion_toggle:after{
 width: 18px;
 height: 18px;
 top:60%;
 right: -30px;
 }
 
#block-ziten .keyword .last{
 margin-top: 0px;
 padding: 2px 6px;
 }
 
#block-ziten .graph{
 margin-bottom: 10px; 
 }
 
 #block-kodawari .kodawari_owner_list .place h4{
  font-size: 15px;
  margin-top: 38%;
 }
 
#block-kodawari .kodawari_owner_list .place .arrow::before{
 width: 45%;
 right: 28%; 
 }
 
#block-kodawari .kodawari_owner_list .place .arrow::after{
 right: 28%; 
 }
 
}

@media screen and (max-width:410px){
 
 #block-contents ul .frame{padding-top: 120px;}
 
 #block-contents ul li .txt .num{font-size: 17px;}
 
 #block-mv .box .main-lead span{font-size: 20px}
 
 #block-mv .box .main-lead span big{font-size: 50px}
 
}

@media screen and (max-width:375px){
 
 #block-contents ul .frame{padding-top: 120px;}
 
 #block-contents ul li .txt{padding-left: 5px; padding-right: 5px;}
 
 #block-ranking .ranking_list li .txt .name{font-size: 14px;padding-bottom:110px;}

 
 #block-pickup .pickup_list br{
  display: none;
 }
 
#block-pickup .pickup_list li .txt{
 padding-bottom: 90px; 
 }
 
.drawer-open{
 margin-top: 0px;
 margin-right: 10px;
}
 
.drawer-open span:before {
 bottom: 7px;
}
 
.drawer-open span:after {
 top: 7px;
}
 
#block-mv .btn-close a{
 width: 300px; 
 }
 
#block-pickup .pickup_list .close .end{
 width: 70%;
 left: 15%;
 }
 
#block-package .package_list li .close .mask{
 height: 83%;
 }
 
#block-package .package_list li .close .end{
 width: 120px; 
 }
 
#block-ziten .graph h4{
 font-size: 16px;
 letter-spacing: 0px;
 }
 
#block-ziten .keyword li{
 font-size: 12px;
 }
 
#block-ziten .graph .text{
 width: 55%; 
 }
 
#block-ziten .detail h5{
 font-size: 14px; 
 }
 
.accodion{
 padding-bottom: 40px;
 }
 
.accodion p{
 font-size: 14px; 
 }
 
#block-ziten .season li{
 font-size: 13px;
 padding: 1px 12px 3px
 }
 
}

/* ======================================================================================================================= */
/* for IE */
/* ======================================================================================================================= */
@media screen\0 {
	#wrapper .serif{font-family:"游明朝体","Yu Mincho",YuMincho,"ヒラギノ明朝 Pro","Hiragino Mincho Pro","MS P明朝","MS PMincho",serif;}
	#block-mv .btn a{padding-top:14px;padding-bottom:10px;}
	#block-ranking .tab-ranking > li{padding-top:14px;padding-bottom:7px;}

}

@media screen and (max-width:1200px){
 
#block-mv .box .banner{
 right: 20px; 
 }
 
}

@media screen and (max-width:1000px){
 
#block-mother::before{
 width: 140px;
 height: 160px;
 }
 
#block-mother::after{
 width: 140px;
 height: 160px;
 }
 
#block-first::before{
 width: 200px;
 height: 200px;
 }
 
#block-first::after{
 width: 200px;
 height: 200px;
 } 
 
#block-advance::before{
 width: 180px;
 height: 180px;
 }
 
#block-advance::after{
 width: 180px;
 height: 180px;
 }
 
}

@media screen and (max-width:750px){
 
#block-mv .box .banner{
 top: 0px;
 margin-top: 10px;
 width: 120px;
 }
 
#block-mother::before{
 width: 100px;
 height: 100px;
 }
 
#block-mother::after{
 width: 100px;
 height: 100px;
 }
 
#block-first::before{
 width: 180px;
 height: 180px;
 }
 
#block-first::after{
 width: 180px;
 height: 180px;
 }
 
.block-item .item_title .note{
 font-size: 14px; 
 }
 
#block-advance .ac_content03 .item_list{
 width: 100%; 
 }
 
}

@media screen and (max-width: 620px){
 
 
#block-mother::before{
 width: 80px;
 height: 80px;
 left: 10px;
 top: 10px;
 }
 
#block-mother::after{
 width: 80px;
 height: 80px;
 right: 10px;
 top: 10px;
 } 
 
#block-first::before{
 width: 120px;
 height: 120px;
 }
 
#block-first::after{
 width: 120px;
 height: 120px;
 }
 
#block-advance::before{
 width: 140px;
 height: 140px;
 }
 
#block-advance::after{
 width: 140px;
 height: 140px;
 } 
 
#block-mother .item_title .date{
 width: 250px;
 font-size: 20px; 
 }
 
.block-item .item_list .item-top h5{
 width: 60%;
 margin: auto;
 margin-top: 40px;
 }
 
 .block-item .item_list .item-top > li:nth-child(2) h5{
  margin-top: 0px;
 }
 
#block-mother .item_title h2{
 font-size: 34px;
 margin-bottom: 20px;
 }
 
 #block-first .item_title h2{
 font-size: 34px;
 margin-bottom: 20px;
 }
 
.block-item .item_list .item-top h6{
 font-size: 23px; 
 }
 
.block-item .item_list .item-top > li .img{
 width: 45%; 
 }
 
.block-item .item_list .item-top > li .inner{
 width: 55%; 
 }
 
.block-item .item_list .item > li .name{
 font-size: 15px; 
 }
 
.block-item .item_list .item > li .feature > li{
 font-size: 13px; 
 }
 
.block-item .item_list .item > li .price{
 font-size: 15px; 
 }

.block-item .item_list .item > li .feature > li{
 padding: 4px;
}
 
 
.block-item .item_list .item03 > li{
 width: calc((100% - 20px) / 2);
 }

 
}

@media screen and (max-width: 425px){
 
#block-mv .box .banner{
 width: 100px;
 }
 
#block-mother::before{
 width: 60px;
 height: 60px;
 }
 
#block-mother::after{
 width: 60px;
 height: 60px;
 }
 
#block-first::before{
 width: 100px;
 height: 100px;
 }
 
#block-first::after{
 width: 100px;
 height: 100px;
 }
 
#block-advance::before{
 width: 120px;
 height: 120px;
 }
 
#block-advance::after{
 width: 120px;
 height: 120px;
 }
 
#block-advance .item_title .date{
 width: 150px;
 font-size: 18px;
 }
 
#block-advance .item_title h2{
 font-size: 32px;
 } 
 
#block-advance .ac_content03 .price{
 padding-top: 30px; 
 }
 
#block-advance .ac_content03 .price h6{
 font-size: 30px; 
 }
 
#block-advance .ac_content03 .price p{
 font-size: 23px; 
 }
 
 #block-advance .block-item .item_list .btnarea{
  margin-top: 20px;
 }
 
#block-first .item_title .date{
 width: 150px;
 font-size: 18px;
 }
 
#block-first .item_title h2{
 font-size: 30px;
 }
 
#block-mother .item_title .date{
 width: 220px;
 font-size: 18px;
}
 
#block-mother .item_title h2{
 font-size: 30px; 
 }
 
.block-item .item_title .note{
 font-size: 14px; 
 }
 
#block-mother .item_benefits > li .heading{
 font-size: 16px; 
 }
 
.block-item .item_benefits > li{
 margin: 0px;
 padding: 8px;
 }
 
 .block-item .item_benefits > li:nth-child(1){
  margin-right: 5px;
 }
 
 .block-item .item_benefits > li:nth-child(2){
  margin-left: 5px;
 }
 
.block-item .item_list .item-top h5{
 font-size: 18px; 
 }
 
.block-item .item_list .item-top h6{
 font-size: 20px; 
 }
 
.block-item .item_list .item-top > li .img{
 width: 50%; 
 }
 
.block-item .item_list .btnarea{
 width: 100%; 
 } 
 
.block-item .item_list .btnarea a{
 width: 100%; 
 }
 
.block-item .item_list .btnarea a{
 padding: 15px 30px; 
 }
 
.hanpu{
 width: 55px;
 height: 55px;
 margin-top: 5px;
 margin-left: 5px;
}

.hanpu h5{
 font-size: 24px;
 padding-top: 1px;
}

.hanpu p{
 font-size: 13px;
 margin-top: -3px;
} 
 
}