@charset "utf-8";

/*/////////////////////////////////////////////////////////////
 NestedList
//////////////////////////////////////////////////////////////*/

#contents {
	display: none;
	background-color: #f7f7f7;
}


.nestedList {
	width: 100%;
	display: block;
	position: absolute;
	left: 0;
	background-color: #f7f7f7;
}




#searchList {
	font-size: 13.5px;
	top: 63px;
}

#highlightList {
	font-size: 12px;
	top: 63px;
}

body[type="android"] #searchList {
	font-size: 13.5px;
	top: 80px;
}

body[type="android"] #highlightList {
	font-size: 12px;
	top: 80px;
}

#textindexList {
	font-size: 12px;
	top: 42px;
}

.list {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
	-webkit-transform: translate(0px, 0px);
	-webkit-transition-property: -webkit-transform;
	-webkit-transition-duration: 0;
}

.list li {
	display: block;
	padding: 15px;
	color: #000;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #767676;
	background-color: #eee;
}

.list li:nth-child(even){
	border-top: 1px solid #ececec;
	border-bottom: 1px solid #7f7f7f;
	background-color: #e2e2e2;
}

.list strong {
	color: #cf3e3e;
}

.list li dt {
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	white-space: nowrap;
	width: 75%;
}

.list li dd {
	width: 18%;
	float: right;
	text-align: right;
	color: #000;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	white-space: nowrap;
}

dd.searchLabel {
	padding-right: 0px;
}

dd.textindexLabel {
	padding-right: 19px;
}

.list li.listItemSelected, .list li.listLinkItemSelected {
	color: #fff;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #767676;
	background-color: #eee;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #0d9bff), color-stop(100%, #0B7ECE));
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
}

.list li.listLinkItemSelected dd, .list li.listLinkItemSelected strong, .list li.listItemSelected dd, .list li.listItemSelected strong {
	font-weight: normal;
	color: #fff;
}

.listItem, .listItemSelected {
    background: url("../images/list-arrow.png") #f7f7f7 no-repeat right center;
}

.listItem {
    background-size: 25px 20px;
}

.listItemSelected {
    background-size: 100% 100%;
}
