@charset "utf-8";

body { display:none; }

/*-----------------------------------------------------------
共通
-----------------------------------------------------------*/

main { background:url(../img/main_bg.jpg) top left repeat; }
#sel-wrapper { padding-bottom:60px; }
#sel-containerA { width:1036px; }
#sel-wrapMainR { background:#fff;width:796px;padding:20px; }

@media print,screen and (min-width:1001px) {
	.header-nav { /*width:221px;*/left:15px; }
	.header-nav .inner { float:none; }
	.header-nav .nav-wrap { max-height:calc(100vh - 240px); }
}
@media print,screen and (max-width:1000px) {
	.header-nav { width:100%; }
	#sel-wrapper { padding-left:0; }
	#sel-containerA { width:100%; }
	#sel-wrapMainR { float:none;margin:auto; }
}
@media screen and (max-width: 599px) {
	/*main { margin-top:50px; }*/
	.header-nav .logo a { box-sizing:border-box; }
	#sel-wrapMainR { width:100%;padding:0; }
}

#kiwami {
	height: auto;
	margin: 0;
	padding: 0;
	color: #343434;
	font-size: 13px;
	line-height: 1.6;
	text-align: left;
	/*font-family: "Hiragino Kaku Gothic Pro","メイリオ", Osaka, "ＭＳ Ｐゴシック", Helvetica, Arial, sans-serif;*/
	font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "游ゴシック", YuGothic, "メイリオ", Meiryo, sans-serif;
	font-weight:normal;
	letter-spacing: normal;
}

#kiwami li {
	list-style:none;
}
#kiwami a:hover img {
	opacity: 0.7;
}
#kiwami img {
	border: none;
	vertical-align: top;
}

.clearfix:after { content: "."; display: block; clear: both; height: 0; visibility: hidden; }
* html .clearfix { display: inline-block; }
*+html .clearfix { display: inline-block; }


/*PC表示／非表示*/

#header_pc{ display: block; }
#ins-sidebar{ display: block; }
#sel-sidebar{ display: block; }
#footer_pc{ display: block; }
#header_sp{ display: none; }
#footer_sp{ display: none; }


#sub_tl {
	margin: 0;
	padding: 10px 0 20px;
	text-align:center;
	border-top:#d08e29 10px solid;
}
#sub_tl span {
	display:inline-block;
	min-height:45px;
	margin: 0;
	padding: 0 0 0 100px;
	color:#d08e29;
	font-size:15px;
	font-weight:normal;
	background-position:left 50%;
	background-repeat:no-repeat;
	background-size:80px auto;
}
#sub_tl span.icon_yamagata {
	background-image:url(../images/common_kiwami/logo_yamagata.png)
}
#sub_tl span.icon_nihon {
	background-image:url(../images/common_kiwami/logo_nihon.png)
}
#main_tl {
	margin: 0;
	padding: 0;
}
#main_tl img.img_pc {
	display:inline;
}
#main_tl img.img_sp {
	display:none;
}

.wrap {
	margin: 60px 0 0;
	padding: 0;
}

#point {
	margin-top:20px;
	padding: 20px;
	color: #906b43;
	background: #f9eee0;
	background: -moz-linear-gradient(-45deg, #f9eee0 50%, #f6e6d2 51%);
	background: -webkit-linear-gradient(-45deg, #f9eee0 50%, #f6e6d2 51%);
	background: linear-gradient(135deg, #f9eee0 50%, #f6e6d2 51%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9eee0', endColorstr='#f6e6d2',GradientType=1 );
}
#point .point_tl {
	margin: 0;
	padding: 0 0 15px;
	font-size: 1.2em;
	font-weight: bold;
	text-align: center;
}
#point .point_list {
	padding: 20px;
	background-color: #fff;
}
#point .point_list ul {
	margin: 0 0 0 10px;
	padding: 0 100px 0 0;
	background-position:right bottom;
	background-repeat:no-repeat;
	background-size:80px auto;
}
#point .point_list ul li {
	margin: 5px 0 0 0;
	list-style: disc outside !important;
}
#point .point_list ul li:first-child {
	margin: 0;
}
#point .point_list ul.icon_yamagata {
	background-image:url(../images/common_kiwami/logo_yamagata.png)
}
#point .point_list ul.icon_nihon {
	background-image:url(../images/common_kiwami/logo_nihon.png)
}
#lead {
	margin-top:20px;
}
#lead .txt {
	margin:0 0 15px;
	padding:0;
}
#lead .btn {
	position:relative;
	margin:20px auto 0;
	padding:0;
	width:300px;
}
#lead .btn a {
	display:block;
	margin: 0px;
	padding: 15px 10px;
	text-align:center;
	background-color:#000;
	color:#FFF;
	font-size:1;
	font-weight:bold;
	text-decoration: none;
	line-height:1;
}
#lead .btn a:hover {
	text-decoration: none;
	background-color:#333;
}
#lead .btn a:before {
	display: block;
	content: "";
	position: absolute;
	top: 50%;
	right: 2%;
	width: 0;
	height: 0;
	margin-top: -5px;
	border: 5px solid transparent; 
	border-left: 5px solid #FFF;
}

.movie {
	display:table;
	margin-top:30px;
}
.movie .float_left {
	width:423px;
	text-align:center;
	box-sizing:border-box;
	display:table-cell;
	vertical-align:middle;
}
.movie .float_rignt {
	padding-left:30px;
	width:calc(100% - 423px);
	box-sizing:border-box;
	display:table-cell;
	vertical-align:middle;
}
.movie dt {
	margin:0;
	font-weight:bold;
}
.movie dd {
	margin:10px 0 0;
}

#features {
}
.features_tl {
	margin: 0 0 15px;
	text-align: center;
}
.features_tl span {
	display: inline-block;
	font-size:1.4em;
	font-weight:bold;
	position: relative;
	padding: 0 .4em .1em;
	z-index: 1;
}
.features_tl span:after {
	content: '';
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 10px;
	background: #fff7cc;
}
.feature_box + .feature_box {
	margin: 30px 0 0;
}
.feature_box .feature_box_tl {
	margin: 0 0 15px;
	font-size: 1.3em;
	font-weight: bold;
	color: #d08e29;
}
.feature_box .feature_box_thumb {
	width:300px;
	float:right;
	box-sizing:border-box;
	margin-left:15px;
}
.feature_box .feature_box_thumb img {
	margin-top:10px;
}
.feature_box .feature_box_thumb img:first-child {
	margin-top:0;
}
.feature_box .feature_box_thumb .caption {
	margin:0;
	padding: 20px;
	background-color:#dadada;
	font-size:0.8em;
}
.feature_box .feature_box_txt {
}
.feature_box .feature_box_txt p {
	margin:10px 0 0;
}
.feature_box .feature_box_txt p:first-child {
	margin-top:0;
}
.feature_box .feature_box_txt p.highlight {
	font-weight:bold;
	font-size:1.1em;
}

#voices {
}
#voices .voices_tl {
	margin: 0 0 15px;
	text-align: center;
}
#voices .voices_tl span {
	font-size:1.4em;
	font-weight:bold;
	position: relative;
	padding: 0 .4em .1em;
	z-index:1;
}
#voices .voices_tl span::after {
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: -1;
	content: '';
	width: 100%;
	height: 10px;
	background-color: #fff7cc;
}
#voices .voice_staff,
#voices .voice_customer {
  padding: 20px;
}
#voices .voice_staff {
  background-color: #e5e0d8;
}
#voices .voice_customer {
	margin-top: 5px;
	background-color: #ede7db;
}
#voices h4 {
	margin: 0;
	padding: 0 0 20px;
	font-size: 1.2em;
	font-weight: bold;
	text-align: center;
}
#voices .column{
}
#voices dl {
	display:inline-block;
	width:calc(50% - 5px);
	margin: 0;
	padding: 15px;
	background-color: #fff;
	box-sizing:border-box;
	vertical-align:text-top;
}
#voices dl:nth-child(2n) {
	margin-left: 5px;
}
#voices dl:nth-child(n+3){
	margin-top: 5px;
}
#voices dt {
	margin: 0;
}
#voices dd {
	margin: 0;
	text-align: right;
	font-weight: bold;
}

#order {
}
.order_tl {
	margin: 0 0 15px;
	text-align: center;
}
.order_tl span {
	font-size:1.4em;
	font-weight:bold;
	position: relative;
	padding: 0 .4em .1em;
	z-index:1;
}
.order_tl span::after {
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: -1;
	content: '';
	width: 100%;
	height: 10px;
	background-color: #fff7cc;
}
.order_list {
	margin:0;
	padding:0;
}
.order_list li {
	margin-top:10px;
	padding:20px;
	border:#CCC 1px solid;
	display:table;
	width:100%;
	box-sizing:border-box;
}
.order_list li:first-child {
	margin-top:0px;
}
.order_list li .order_list_thumb {
	width:300px;
	text-align:center;
	box-sizing:border-box;
	display:table-cell;
	vertical-align:middle;
}
.order_list li .order_list_thumb img {
	max-width:100%;
	height:auto;
}
.order_list li .order_list_info {
	padding-left:40px;
	width:calc(100% - 300px);
	box-sizing:border-box;
	display:table-cell;
	vertical-align:middle;
}
.order_list li .order_list_info p {
	margin-top:15px;
}
.order_list li .order_list_info p:first-child {
	margin-top:0;
}
.order_list li .order_list_info .limit {
	display:inline-block;
	padding:10px;
	font-weight:bold;
	font-size:1.2em;
	color: #FFF;
	background-color:#F00;
}
.order_list li .order_list_info .name {
	font-weight:bold;
	font-size:1.2em;
}
.order_list li .order_list_info .price {
	color:#333;
	font-size:1.2em;
}
.order_list li .order_list_info .price span {
	font-size:0.7em;
}
.order_list li .order_list_info .attention {
	color: #d42b2b;
}
.order_list li .order_list_info .btn {
	position:relative;
	margin:20px auto 0;
	padding:0;
	width:100%;
}
.order_list li .order_list_info a {
	display:block;
	margin: 0px;
	padding: 15px 10px;
	text-align:center;
	background-color:#000;
	color:#FFF;
	font-size:1;
	font-weight:bold;
	text-decoration: none;
	line-height:1;
}
.order_list li .order_list_info a:hover {
	text-decoration: none !important;
	background-color:#333;
}
.order_list li .order_list_info a:before {
	display: block;
	content: "";
	position: absolute;
	top: 50%;
	right: 2%;
	width: 0;
	height: 0;
	margin-top: -5px;
	border: 5px solid transparent; 
	border-left: 5px solid #FFF;
}



/*-----------ver2-----------*/

.area {
	margin: 80px 0 0;
	padding: 0;
}
.area .area_border {
	width: 200px;
	height: 5px;
	background-color: #f5e1cd;
	margin: auto;
}
.area .area_tl {
	margin: 30px 0 0;
	padding:0;
	font-size:1.8em;
	font-weight:bold;
	line-height:1;
	font-family: Georgia,游明朝,"Yu Mincho",YuMincho,"Hiragino Mincho ProN",HGS明朝E,メイリオ,Meiryo,serif;
	text-align:center;
	color:#d96c00;
	letter-spacing:0.1em;
}
.area .area_tl span {
	display:inline-block;
	margin:0 10px;
	font-size:0.7em;
}
.area .lead_box {
	display:table;
	margin: 30px 0 0;
	padding: 0;
}
.area .visual {
	margin: 30px 0 0;
	padding: 0;
}
.area .lead_box .visual {
	width:360px;
	text-align:center;
	box-sizing:border-box;
	display:table-cell;
	vertical-align:top;
}
.area .visual img {
	max-width:100%;
	height:auto;
}
.area .lead {
	margin: 30px 0 0;
	padding: 0;
}
.area .lead_box .lead {
	padding-left:40px;
	width:calc(100% - 360px);
	box-sizing:border-box;
	display:table-cell;
	vertical-align:top;
}
.area .lead dt {
	font-size:1.1em;
	font-weight:bold;
	margin-bottom:10px;
}
.point {
	margin-top: 30px;
	padding: 20px;
	color: #906b43;
	background: #f9eee0;
	background: -moz-linear-gradient(-45deg, #f9eee0 50%, #f6e6d2 51%);
	background: -webkit-linear-gradient(-45deg, #f9eee0 50%, #f6e6d2 51%);
	background: linear-gradient(135deg, #f9eee0 50%, #f6e6d2 51%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9eee0', endColorstr='#f6e6d2',GradientType=1 );
}
.point .point_tl {
	margin: 0;
	padding: 0 0 15px;
	font-size: 1.2em;
	font-weight: bold;
	text-align: center;
}
.point .point_list {
	padding: 20px;
	background-color: #fff;
}
.point .point_list ul {
	margin: 0 0 0 10px;
	padding: 0 100px 0 0;
	background-position:right bottom;
	background-repeat:no-repeat;
	background-size:80px auto;
	min-height:44px;
	box-sizing:border-box;
}
#kiwami .point .point_list ul li {
	margin: 5px 0 0 0;
	list-style: disc outside !important;
}
.point .point_list ul li:first-child {
	margin: 0;
}
.point .point_list ul.icon_yamagata {
	background-image:url(../images/common_kiwami/logo_yamagata.png)
}
.point .point_list ul.icon_nihon {
	background-image:url(../images/common_kiwami/logo_nihon.png)
}

.area .shohin {
	margin:0;
	padding: 0;
}
.area .shohin li {
	margin: 40px 0 0;
	padding:0;
	display:table;
	width:100%;
	box-sizing:border-box;
}
.area .shohin li .shohin_thumb {
	width:360px;
	text-align:center;
	box-sizing:border-box;
	display:table-cell;
	vertical-align:top;
}
.area .shohin li .shohin_thumb img {
	max-width:100%;
	height:auto;
}
.area .shohin li .shohin_info {
	padding-left:40px;
	width:calc(100% - 360px);
	box-sizing:border-box;
	display:table-cell;
	vertical-align:top;
}
.area .shohin li .shohin_info p {
	margin-top:10px;
}
.area .shohin li .shohin_info p:first-child {
	margin-top:0;
}
.area .shohin li .shohin_info .name {
	font-weight:bold;
	font-size:1.2em;
}
.area .shohin li .shohin_info .price {
	color:#333;
	font-size:1.2em;
}
.area .shohin li .shohin_info .price span {
	font-size:0.7em;
}
.area .shohin li .shohin_info .attention {
	color: #d42b2b;
}
.area .shohin li .shohin_info .btn {
	position:relative;
	margin:20px auto 0;
	padding:0;
	width:100%;
}
.area .shohin li .shohin_info a {
	display:block;
	margin: 0px;
	padding: 15px 10px;
	text-align:center;
	background-color:#000;
	color:#FFF;
	font-size:1;
	font-weight:bold;
	text-decoration: none;
	line-height:1;
}
.area .shohin li .shohin_info a:hover {
	text-decoration: none !important;
	background-color:#333;
}
.area .shohin li .shohin_info a:before {
	display: block;
	content: "";
	position: absolute;
	top: 50%;
	right: 2%;
	width: 0;
	height: 0;
	margin-top: -5px;
	border: 5px solid transparent; 
	border-left: 5px solid #FFF;
}
.area .shohin li .shohin_info .soldout {
	padding: 15px 10px;
	text-align: center;
	background-color: #CCC;
	color: #C00;
	font-size: 1;
	font-weight: bold;
	text-decoration: none;
	line-height: 1;
	box-sizing:border-box;
}

.bnr p {
	margin:0;
	padding:0;
	text-align:center;
}


/*-----------ver3-----------*/

#hinshu {
	margin: 30px 0px 0px;
	padding: 20px 20px 0;
	box-sizing:border-box;
	background-color:#e5b8b8;
}
#hinshu h3 {
	margin: 0 0 10px;
	padding: 0;
	text-align: center;
	font-size: 1.3em;
	font-weight: bold;
	color: #bf1313;
}
#hinshu ul {
	margin:0;
	padding: 0;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
#hinshu li {
	margin: 0px 0px 20px;
	padding: 10px;
	width:32%;
	vertical-align:top;
	background-color:#FFF;
	box-sizing:border-box;
}
#hinshu li .name {
	margin: 0px 0px 10px;
	padding:5px;
	text-align:center;
	font-size:1.1em;
	font-weight:bold;
	box-sizing:border-box;
	line-height:1;
	color:#FFF;
	background-color:#C00;
	border-radius:20px;
}
#hinshu li .txt {
	margin: 0px;
	padding: 0px;
}

.list {
	margin:0;
	padding:20px 30px 30px;
	display:flex;
	flex-wrap: wrap;
	background-color:#e5e4df;
	justify-content: space-between;
}
.list li {
	margin:10px 0 0;
	padding:0;
	width:32%;
}
.list li a {
	display:block;
	margin:0;
	padding:15px;
	background-color:#a6a598;
	height:100%;
	box-sizing:border-box;
	color:#FFF;
	border-radius:3px;
	font-size:1.1em;
	font-weight:bold;
	text-align:center;
	text-decoration:none;
}
.list li a:hover {
	background-color:#807f75;
}


#ranking {
	margin:4em 0 0;
	padding:0;
}
#ranking h4 {
	margin:0;
	padding:0 0 5px;
	font-size:1.8em;
	line-height:1;
	letter-spacing: 0.05em;
	text-align:center;
	font-family: 游明朝,"Yu Mincho",YuMincho,"Hiragino Mincho ProN","Hiragino Mincho Pro",HGS明朝E,メイリオ,Meiryo,serif;
	border-bottom:4px #ccaf1f solid;
}
#ranking h4 span {
	display:inline-block;
	margin-right:0.5em;
	font-size:0.8em;
}
#ranking ul {
	margin:1em 0 0;
	padding:0;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
#ranking ul li {
	margin:0;
	padding:0;
	width:18%;
	position:relative;
}
#ranking ul li::before {
	content: "";
	display:block;
	position:absolute;
	top:1px;
	left:1px;
	width:30px;
	height:30px;
	margin:auto;
	font-size:18px;
	color:#FFF;
	text-align:center;
	line-height:30px;
}
#ranking ul li:first-child::before {
	content: "1";
	background-color:#e3c30f;
}
#ranking ul li:nth-child(2)::before {
	content: "2";
	background-color:#808080;
}
#ranking ul li:nth-child(3)::before {
	content: "3";
	background-color:#e35610;
}
#ranking ul li:nth-child(4)::before {
	content: "4";
	background-color:#663014;
}
#ranking ul li:nth-child(5)::before {
	content: "5";
	background-color:#663014;
}
#ranking ul li a {
	color:#1a1a1a;
	text-decoration:none;
}
#ranking ul li a:hover {
	text-decoration:underline;
}
#ranking ul li a p {
	margin:0;
	padding:0;
	font-size:1em;
}
#ranking ul li a p.image {
	border:#CCC 1px solid;
}
#ranking ul li a p span {
	font-size:0.8em;
}



#shohin {
	margin:2em 0 0;
	padding:0;
}
#shohin h4 {
	margin:2em 0 0;
	padding:0;
	font-size:1.8em;
	line-height:1;
	letter-spacing: 0.3em;
	font-family: 游明朝,"Yu Mincho",YuMincho,"Hiragino Mincho ProN","Hiragino Mincho Pro",HGS明朝E,メイリオ,Meiryo,serif;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
    }
#shohin h4:before, #shohin h4:after {
	content: "";
	flex-grow: 1;
	border-top: dashed 1px #333;
	display: block;
}
#shohin h4:before {
	margin-right: 15px;}
#shohin h4:after {
	margin-left: 15px;
}
#shohin .txt_sub {
	margin:1em 0 0;
	font-size:1em;
	text-align:center;
}
#shohin .txt_sub span {
	display:block;
	margin:0 0 0.5em;
	font-size:1.2em;
	font-weight:bold;
	color:#6fba2c;
}
#shohin ul {
	margin:0;
	padding:0;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
#shohin ul::after{
  content:"";
  display: block;
  width:32%;
}
#shohin ul li {
	position: relative;
	width: 32%;
	margin: 15px 0 0 0;
	padding: 20px;
	box-sizing: border-box;
	background-color: #f2eeda;
}
#shohin ul li a {
	position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    text-indent:-999px;
}
#shohin ul li a:hover {
	background-color:#FFF;
    opacity: 0.4;
}
#shohin ul li .end {
	position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    text-indent:-999px;
	background-color:#000;
    opacity: 0.4;
}
#shohin ul li .ic {
	position:absolute;
    top:-5px;
    left:-5px;
    width:80px;
    height:auto;
}
#shohin ul li p {
	margin:10px 0 0;
	padding:0;
}
#shohin ul li p.image {
	margin:0;
	text-align:center;
}
#shohin ul li p.image img {
	max-width:100%;
	height:auto;
}
#shohin ul li p.name {
	padding:0;
	font-size:1.2em;
	font-weight:bold;
}
#shohin ul li p.price {
	padding:0;
	font-weight:bold;
}
#shohin ul li p.variety span {
	display:inline-block;
	margin-left:2px;
	padding:5px;
	font-size:0.7em;
	color:#87355f;
	line-height:1;
	border-radius:20px;
	border:#87355f 1px solid;
	background-color:#FFF;
}
#shohin ul li p.variety span:first-child {
	margin-left:0;
}
#shohin ul li p.price span {
	font-size:0.8em;
}
#shohin ul li p.sales {
	padding: 8px;
	color: #FFF;
	background-color: #00a0e9;
}
#shohin ul li p.delivery {
	padding:8px;
	color:#FFF;
	background-color:#9ad239;
}

#giftconcierge {
	margin:4em 0 0;
	padding:30px;
	background-color:#e6e4cf;
}
#giftconcierge h4 {
	margin:0;
	padding:0;
	text-align:center;
}
#giftconcierge .catch {
	margin:1em 0 0;
	padding:0;
	text-align:center;
}
#giftconcierge ul {
	margin:1.5em 0 0;
	padding:0;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
#giftconcierge ul li {
	margin:0;
	padding:20px;
	background-color:#FFF;
	width:48%;
	box-sizing:border-box;
	position:relative;
}
#giftconcierge ul li a {
	position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    text-indent:-999px;
}
#giftconcierge ul li a:hover {
	background-color:#FFF;
    opacity: 0.4;
}
#giftconcierge ul li p {
	margin:10px 0 0;
	padding:0;
}
#giftconcierge ul li p.image {
	margin:0;
	text-align:center;
	height:220px;
	overflow:hidden;	
}
#giftconcierge ul li p.image img {
	max-width:100%;
	height:auto;
}
#giftconcierge ul li p.title {
	font-size:1.1em;
	font-weight:bold;
}
#giftconcierge ul li p.lead {
}




@media screen and (max-width: 599px) {
	
/*PC表示／非表示*/
#header_pc{ display: none; }
#ins-sidebar{ display: none; }
#sel-sidebar{ display: none; }
#footer_pc{ display: none; }
#header_sp{ display: block; }
#footer_sp{ display: block; }

* {
	margin:0;
	padding:0;
}

#ins-main img{
	max-width: 100% ;
	height: auto ;
}
#ins-wrapper {
    padding: 0 !important;
	overflow:hidden;
}
#ins-containerA {
    width: 100% !important;
}
#ins-containerA #ins-main {
    float: none;
    width: 100%;
}

#kiwami img{
	max-width: 100% ;
	height: auto ;
}

#sub_tl {
	padding: 5px 0 10px;
}
#sub_tl span {
	min-height:auto;
	padding: 35px 0 0 0;
	font-size:0.8em;
	background-position:top center;
	background-size:55px auto;
}
#sub_tl span.icon_yamagata {
}
#sub_tl span.icon_nihon {
}
#main_tl {
}
#main_tl img.img_pc {
	display:none;
}
#main_tl img.img_sp {
	display:inline;
}

.wrap {
	margin: 30px 0 0;
}

#point {
	margin-top:10px;
	padding: 10px;
}
#point .point_tl {
	padding: 0 0 10px;
	font-size: 1em;
}
#point .point_list {
	padding: 10px;
}
#point .point_list ul {
	padding: 0;
}
#point .point_list ul.icon_yamagata {
	background-image: none;
}
#point .point_list ul.icon_nihon {
	background-image: none;
}

#lead {
	margin-top:10px;
	padding:0 4%;
}
#lead .txt {
	margin:0 0 5px;
}
#lead .btn {
	margin:15px auto 0;
	width:100%;
}
#lead .btn a {
}
#lead .btn a:hover {
}
#lead .btn a:before {
}


.movie {
	display: block;
	margin-top:20px;
}
.movie .float_left {
	width:100%;
	display:block;
	float:none;
	position:relative;
	padding-top:56.25%;
}
.movie iframe {
	position:absolute;
	top:0;
	right:0;
	width:100%;
	height:100%;
}

.movie .float_rignt {
	width:100%;
	display:block;
	padding:0;
	margin-top:15px;
	float:none;
}
.movie dt {
}
.movie dt {
}

#features {
	padding:0 4%;
}
.features_tl {
	margin: 0 0 10px;
}
.features_tl span {
	font-size:1.2em;
}
.features_tl span::after {
}
.feature_box + .feature_box {
	margin: 15px 0 0;
}
.feature_box .feature_box_tl {
	margin: 0 0 10px;
	font-size: 1em;
}
.feature_box .feature_box_thumb {
	width:100%;
	float:none;
	text-align:center;
	margin:0;
}
.feature_box .feature_box_thumb img {
	margin-top:10px;
}
.feature_box .feature_box_thumb img:first-child {
}
.feature_box .feature_box_thumb .caption {
	padding: 10px;
}
.feature_box .feature_box_txt {
}
.feature_box .feature_box_txt p {
	margin-top:10px;
}
.feature_box .feature_box_txt p:first-child {
	margin-top:10px;
}

#voices {
}
#voices .voices_tl {
	margin: 0 0 10px;
}
#voices .voices_tl span {
	font-size:1.2em;
}
#voices .voices_tl span::after {
}
#voices .voice_staff,
#voices .voice_customer {
  padding: 10px;
}
#voices .voice_staff {
}
#voices .voice_customer {
}
#voices h4 {
	padding: 0 0 10px;
	font-size: 1em;
}
#voices .column{
}
#voices dl {
	width:100%;
	padding: 10px;
	margin-top:5px;
}
#voices dl:nth-child(2n) {
	margin-left: 0;
}
#voices dl:nth-child(n+3){
}
#voices dl:first-child{
	margin-top: 0;
}
#voices dt {
}
#voices dd {
}

#order {
}
.order_tl {
	margin: 0 0 10px;
}
.order_tl span {
	font-size:1.2em;
}
.order_tl span::after {
}
.order_list {
}
.order_list li {
	margin-top:0px;
	padding:30px 20px;
	border-top:none;
	border-bottom:#CCC 1px solid;
	border-left:none;
	border-right:none;
	position:relative;
}
.order_list li:first-child {
	border-top:#CCC 1px solid;
}
.order_list li:first-child {
}
.order_list li .order_list_thumb {
	width:160px;
}
.order_list li .order_list_info {
	width:calc(100% - 160px);
	padding-left:10px;
}
.order_list li .order_list_info p {
	margin-top:10px;
}
.order_list li .order_list_info p:first-child {
}
.order_list li .order_list_info .name {
	font-size:1em;
}
.order_list li .order_list_info .price {
	font-size:1em;
}
.order_list li .order_list_info .btn {
	position: static;
	margin:0;
}
.order_list li .order_list_info a {
	font-size:0;
	padding:0;
	background-color: transparent;
	position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    text-indent:-999px;
}
.order_list li .order_list_info a:hover {
	background-color: transparent;
}
.order_list li .order_list_info a:before {
	display: none;
}



/*-----------ver2-----------*/

.area {
	margin: 40px 0 0;
}
.area .area_border {
	width:150px;
}
.area .area_tl {
	margin: 20px 0 0;
	font-size:1.4em;
	letter-spacing:0.1em;
}
.area .lead_box {
	display: block;
	margin: 20px 0 0;
	padding:0 5px;
}
.area .lead {
	margin: 20px 0 0;
	padding:0 5px;
}
.area .lead_box .visual {
	width:100%;
	display:block;
}
.area .lead_box .visual img {
}
.area .lead_box .lead {
	padding-left:5px;
	width:100%;
	display:block;
}
.point {
	margin-top: 20px;
	padding: 10px;
}
.point .point_tl {
	padding: 0 0 10px;
	font-size: 1.1em;
}
.point .point_list {
	padding: 10px;
}
.point .point_list ul {
}
#kiwami .point .point_list ul li {
}
.point .point_list ul li:first-child {
}
.area .shohin {
}
.area .shohin li {
	margin: 30px 0 0;
	padding:0 5px;
	display: block;
}
.area .shohin li .shohin_thumb {
	width:100%;
	display:block;
}
.area .shohin li .shohin_thumb img {
}
.area .shohin li .shohin_info {
	padding:10px 0 0;
	width:100%;
	display:block;
}
.area .shohin li .shohin_info p {
	margin-top:5px;
}
.area .shohin li .shohin_info p:first-child {
}
.area .shohin li .shohin_info .name {
	font-size:1.1em;
}
.area .shohin li .shohin_info .price {
	font-size:1.1em;
}
.area .shohin li .shohin_info .price span {
	font-size:0.8em;
}
.area .shohin li .shohin_info .attention {
}
.area .shohin li .shohin_info .btn {
	margin:10px auto 0;
}
.area .shohin li .shohin_info a {
	text-align:center;
}
.area .shohin li .shohin_info a:hover {
	background-color:#000;
}
.area .shohin li .shohin_info a:before {
}
.area .shohin li .shohin_info .soldout {
	background-color: #CCC;
	color: #C00;
}


/*-----------ver3-----------*/

#hinshu {
	margin: 2em 0px 0px;
	padding: 10px;
}
#hinshu ul {
}
#hinshu li {
	margin: 0px 0px 1em;
	width:49%;
}
#hinshu li .name {
	font-size:1em;
}
#hinshu li .txt {
}

.list {
	margin:0;
	padding:5px 10px 10px;
}
.list li {
	margin:5px 0 0;
	width:49%;
}
.list li a {
}
.list li a:hover {
}

#ranking {
	margin:2em 0 0;
}
#ranking h4 {
	font-size:1.6em;
}
#ranking h4 span {
}
#ranking ul {
	padding:1em 0.5em 0;
	-webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
#ranking ul::after{
  content:"";
  display: block;
  width:31%;
}
#ranking ul li {
	width:31%;
}
#ranking ul li::before {
	width:24px;
	height:24px;
	font-size:14px;
	line-height:24px;
}
#ranking ul li:first-child::before {
}
#ranking ul li:nth-child(2)::before {
}
#ranking ul li:nth-child(3)::before {
}
#ranking ul li:nth-child(4)::before {
}
#ranking ul li:nth-child(5)::before {
}
#ranking ul li a {
}
#ranking ul li a:hover {
	text-decoration:none;
}
#ranking ul li a p {
}
#ranking ul li a p.image {
}
#ranking ul li a p span {
}


#shohin {
	margin:1em 0 0;
}
#shohin h4 {
	margin:1.5em 0 0;
	font-size:1.6em;
}
#shohin h4:before, #shohin h4:after {
}
#shohin h4:before {
}
#shohin h4:after {
}
#shohin .txt_sub {
	text-align:left;
}
#shohin .txt_sub span {
}
#shohin ul {
	padding:0 0.5em;
}
#shohin ul::after{
  width:48.5%;
}
#shohin ul li {
	width:48.5%;
	margin:1em 0 0 0;
	padding:10px;
}
#shohin ul li a {
}
#shohin ul li a:hover {
    opacity: 0;
}
#shohin ul li .end {
}
#shohin ul li .ic {
    width:60px;
}
#shohin ul li p {
	margin:8px 0 0;
}
#shohin ul li p.image {
}
#shohin ul li p.image img {
}
#shohin ul li p.name {
	font-size:1em;
}
#shohin ul li p.price {
}
#shohin ul li p.price span {
}
#shohin ul li p.sales {
	padding:5px;
	font-size:0.75em;
}
#shohin ul li p.delivery {
	padding:5px;
	font-size:0.75em;
}

#giftconcierge {
	margin:2em 0 0;
	padding:1.5em 1em 1em;
}
#giftconcierge h4 {
}
#giftconcierge h4 img {
	max-width:80%;
}
#giftconcierge .catch {
	text-align:left;
}
#giftconcierge ul {
	display: block;
	margin-top:0;
}
#giftconcierge ul li {
	margin-top:1em;
	padding:1em;
	width:100%;
}
#giftconcierge ul li a {
}
#giftconcierge ul li a:hover {
    opacity: 0;
}
#giftconcierge ul li p {
	margin:8px 0 0;
}
#giftconcierge ul li p.image {
}
#giftconcierge ul li p.image img {
	max-width:80%;
}
#giftconcierge ul li p.title {
	font-size:1em;
}
#giftconcierge ul li p.lead {
	font-size:0.9em;
}



}


/* recommend */
.section_recommend {
	margin: 0;
	padding: 40px 0 0;
}
.section_recommend h2 {
	margin: 0 0 20px;
	padding: 0 0 7px;
	font-family: "Hiragino Mincho ProN",'Noto Serif JP',"HG明朝E","ＭＳ Ｐ明朝", serif;
	font-weight:normal;
	font-size:2em;
	text-align:center;
	line-height:1;
	border-bottom:#333 1px solid;
}
.section_recommend h3 {
	padding: 0;
	margin: 0 0 20px;
	font-family: "Hiragino Mincho ProN",'Noto Serif JP',"HG明朝E","ＭＳ Ｐ明朝", serif;
	font-weight:normal;
	font-size:1.4em;
	text-align:center;
}
.section_recommend .comment {
	padding: 20px 40px;
	background: #f2efde;
}
.section_recommend .comment + .comment {
	margin-top: 10px;
}
.section_recommend .comment > a {
	display: inline-block;
	width: 240px;
	float: left;
}
.section_recommend .comment > a > span {
	display:block; width:240px; height:0; padding-top:60%; position:relative;
}
.section_recommend .comment > a > span img {
	position:absolute; top:50%; left:50%; transform: translate(-50%, -50%);
}
.section_recommend .comment > div {
	width: 416px;
	float: right;
}
.section_recommend .comment .title {
	color: #6b4e2e;
	font-family: "Hiragino Mincho ProN","HG明朝E","ＭＳ Ｐ明朝", serif;
	font-size:1.2em;
}
.section_recommend .comment .name {
	margin: 10px 0 20px;
	font-size: 1em;
}
.section_recommend .comment .btn {
	width: 80%;
	margin: auto;
}
.section_recommend .comment .btn a {
	display:block;
	margin: 0px;
	padding: 8px;
	text-align:center;
	font-size:1em;
	background:#000;
	color:#FFF;
	text-decoration: none;
	line-height:1;
	border-radius:30px;
	position: relative;
}
.section_recommend .comment .btn a:hover {
	text-decoration: none;
	background:#333;
}
.section_recommend .comment .btn a:before {
	display: block;
	content: "";
	position: absolute;
	top: 50%;
	right: 2%;
	width: 0;
	height: 0;
	margin-top: -5px;
	border: 5px solid transparent;
	border-left: 5px solid #FFF;
}

.caption_box { margin-top:20px; padding:20px; background:#dadada; }
.caption_box p:first-child { margin-top:0!important; }
.caption_box .bold { font-weight:bold; }

@media screen and (max-width: 599px) {
	.section_recommend {
		padding: 30px 0;
		margin: 0;
	}
	.section_recommend h2 {
		font-size:1.4em;
		margin-bottom:10px;
		padding:0 10px 7px;
	}
	.section_recommend h3 {
		font-size:1.2em;
		margin-bottom:10px;
	}
	.section_recommend .comment {
		padding: 15px;
	}
	.section_recommend .comment > a {
		float: none;
		display: block;
		max-width: 80%;
		margin: 0 auto 10px;
	}
	.section_recommend .comment > div {
		float: none;
		width: 100%;
	}
	.section_recommend .comment .title {
		font-size: 1.1em;
	}
	.section_recommend .comment .title br {
		display: none;
	}
	.section_recommend .comment .name {
		margin: 0 0 10px;
	}
	.section_recommend .comment .btn {
		width: 100%;
	}
	.section_recommend .comment .btn a {
		padding: 14px;
	}
}
