/* ボタンのスタイル */
.button-a {
    padding: 10px 60px;
    font-size: 1rem;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.button-a:hover {
    background-color: #999;
}

.button-b {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.button-b a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35%;
  background-color: #7f7f7f;
  color: #fff;
  text-align: center;
  text-decoration: none;
  padding: 10px;
  position: relative;
  border: 2px solid #7f7f7f; /* ボタンに枠線を追加 */
}

.button-b a::after {
  content: '\E415'; /* Unicode for the specified icon */
  font-family: 'Material Icons';
  font-size: 1.5em; /* アイコンのサイズを大きく */
  position: absolute;
  right: 10px;
  color: #fff;
}

.button-b a:hover {
  background-color: #fff;
  color: #7f7f7f;
}

.button-b a:hover::after {
  color: #7f7f7f;
}

@media (max-width: 768px) {
  .button-b {
    flex-direction: column;
    align-items: center; /* 配置を中央寄せに */
  }

  .button-b a {
    width: 60%; /* ボタン幅を60%に修正 */
  }
}
