/* memberセクションのスタイル */
.member {
    background-color: #f5f5f5; /* 背景色を設定 */
    padding: 20px 40px;
    margin: 20px 0;
}

/* h2のスタイル */
.member h2 {
    font-size: 2.5rem; /* 40pxを2.5remに置き換え */
    color: #003366;
    text-align: center;
    margin-bottom: 20px;
}

/* 本文のスタイル */
.member p {
    margin-bottom: 20px;
    text-align: center;
}

.center-text {
    text-align: center; /* 中央寄せ */
}

/* memberセクション内のcontent-wrapperのスタイル */
.member .content-wrapper {
    display: flex;
    flex-direction: column; /* 縦並び */
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: left; /* 左揃え */
}

.member .content-wrapper p {
    text-align: left; /* 左揃え */
}

/* memberセクション内のcontent-blockのスタイル */
.member .content-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: left; /* 左揃え */
}

.member .content-block .column {
    width: 49%; /* 2列で表示 */
}

.member .content-block p {
    text-align: left; /* 左揃え */
}

/* 768px以下では1列に */
@media (max-width: 768px) {
    .member .content-block .column {
        width: 100%;
        text-align: center; /* 画像を中央寄せ */
    }
    .member .content-block img {
        width: 70%; /* 横幅を70%に設定 */
        height: 200px; /* 縦幅を200pxに固定 */
        object-fit: cover; /* 画像のトリミング */
    }
}

/* 左側の画像 */
.member .content-block img {
    max-width: 100%;
    height: auto;
}

/* 右側のh4と本文 */
.member .content-block .text-content {
    width: 48%;
}

@media (max-width: 768px) {
    .member .content-block .text-content {
        width: 100%;
    }
}

.member .content-block h4 {
    font-size: 1.25rem; /* 20pxを1.25remに置き換え */
    color: #003366;
    margin-bottom: 10px;
}

.member .content-block p {
    font-size: 1rem; /* 16pxを1remに置き換え */
    color: #333;
    text-align: left; /* 左揃え */
}
