/* セクションのスタイル */
#mv {
    width: 100%;
    padding: 0.6rem 2rem 0;
    background-color: #FFF2F2;
    display: flex;
    justify-content: center; /* 中央配置 */
    align-items: center;
    margin: 0 auto;
}

/* スマートフォン用のスタイル */
@media (max-width: 768px) {
    #mv {
    }
}

/* 左側（h1と画像）のスタイル */
#mv .section-left {
    display: flex;
    flex-direction: column;
    align-items: center; /* 中央配置 */
}

/* 見出しのスタイル */
#mv .section-left h1 {
    font-size: 2rem;
    color: #fff;
    margin-bottom: 20px;
}

/* テキスト画像のスタイル */
#mv .section-left img {
    width: 90%;
    height: auto;
	margin-top:50px; 
}

/* 画像を切り替えるスタイル */
@media (max-width: 768px) {
    #mv .section-left img {
        content: url('../img/mv-sp.png'); /* スマホ用画像 */
    }
}

/* 右側（円形装飾パーツ）のスタイル */
#mv .section-right {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* 円形内のテキストのスタイル */
#mv .section-right p {
    margin: 0;
    color: #003366;
    font-size: 1.5rem;
}

/* スマートフォン用の調整 */
@media (max-width: 768px) {
    #mv .section-right {
        width: 250px;
        height: 250px;
    }
}
