/* quarterのスタイル */
.quarter {
    background-color: #fff; /* 背景色を#e0e2eaに設定 */
    padding: 0 20px;
    text-align: center; /* 内部の要素を中央揃え */
    margin-bottom: 80px;
}

/* Quarterboxのスタイル */
.quarterbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; /* ボックスを左揃えに */
    background-color: #fff; /* quarterboxの背景色を設定 */
    margin: 0 auto;
    max-width: 1200px;
}

.quarterbox .box {
    background-color: #fff; /* 各ボックスの背景色 */
    border: 1px solid #000; /* 1pxの線 */
    padding: 20px;
    box-sizing: border-box;
    margin: 10px;
    display: flex; /* フレックスボックスを適用 */
    flex-direction: column; /* 縦方向に配置 */
    align-items: center; /* 子要素を中央揃え */
    justify-content: center; /* 子要素を上下中央に配置 */
    text-decoration: none; /* リンクの下線を削除 */
    color: inherit; /* 親要素の色を継承 */
}

/* オンマウス時のスタイル */
.quarterbox .box:hover {
    cursor: pointer;
    background-color: #555;
    color: #fff;
}

.quarterbox .box h4 {
    margin-bottom: 0px;
    font-size: 1.2rem;
}

.quarterbox .box img {
    width: 100%;
    height: auto;
}

.quarterbox .box p {
    margin: 10px 0;
    font-size: 1rem;
    align-self: flex-start; /* ボックス内容を右揃えに追加 */
    text-align: left; /* 「ボックス1の内容です。」を右揃えに */
}

/* PC表示時（1025px以上）：横4列 */
@media (min-width: 1025px) {
    .quarterbox .box {
        width: calc(25% - 20px); /* 4つのボックス */
    }
}

/* タブレット表示時（768px以上1024px以下）：横2列 */
@media (min-width: 768px) and (max-width: 1024px) {
    .quarterbox .box {
        width: calc(50% - 20px); /* 2つのボックス */
    }
}

/* スマートフォン表示時（768px以下）：縦並び */
@media (max-width: 767px) {
    .quarterbox {
        flex-direction: column;
        align-items: center;
    }
    .quarterbox .box {
        width: 100%;
        margin: 10px 0;
    }
}
