/* Single01 */
.single01 {
    padding: 0 20px;
    text-align: center;
    margin: 0 0 20px;
}

.single01 p {
    text-align: left;
}

/* SingleBoxのスタイル */
.single01 .singlebox {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 0 auto;
    max-width: 1200px;
}

.single01 .singlebox .box {
    background-color: #FDFFC5;
    border: 3px solid #000;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    margin: 10px 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.single01 .singlebox .box .heading {
    flex: 1 1 20%;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-right: 10px; /* paddingを追加 */
}

.single01 .singlebox .box .heading h4 {
    margin-bottom: 10px;
    font-size: 1.2rem;
}

.single01 .singlebox .box .article-text {
    flex: 1 1 80%;
    text-align: left;
    padding-left: 20px;
    border-left: 1px solid #000; /* 縦の罫線を追加 */
}

.single01 .singlebox .box .article-text p {
    margin: 10px 0;
    font-size: 1rem;
}

/* メディアクエリ: 768px以下 */
@media (max-width: 768px) {
    .single01 .singlebox .box {
        flex-direction: column;
        margin: 10px 0;
    }

    .single01 .singlebox .box .heading {
        padding-right: 0; /* paddingをリセット */
        border-left: none;
        border-bottom: 1px solid #000; /* 横の罫線を追加 */
    }

    .single01 .singlebox .box .article-text {
        border-left: none; /* 縦の罫線をリセット */
        padding-left: 0; /* paddingをリセット */
    }
}




/* Single02 */
.single02 {
    padding: 30px 20px 0;
    text-align: center; 
    margin: 20px 0;
    background-color: #FFF2F2;
}
.single02 p {
    text-align: center; 
}

/* SingleBoxのスタイル */
.single02 .singlebox {
    display: flex;
    flex-direction: column; /* 縦方向に配置 */
    padding: 10px;
    margin: 0 auto;
    max-width: 1200px;
}


.single02 .singlebox .box {
    background-color: #fff; /* 各ボックスの背景色 */
    border: 1px solid #000; /* 1pxの線 */
	border-radius: 10px;
    padding: 20px 30px;
    box-sizing: border-box;
    margin: 10px auto;
    display: flex; /* フレックスボックスを適用 */
    flex-direction: column; /* 縦方向に配置 */
    align-items: center; /* 子要素を中央揃え */
	width: 700px;
}

.single02 .singlebox .box h4 {
    margin-bottom: 10px;
    font-size: 1.6rem;
}

.single02 .singlebox .box img {
    width: 100%;
    height: auto;
}

.single02 .singlebox .box p {
    margin: 10px 0;
    font-size: 1rem;
}


/* メディアクエリ：PC、タブレット、スマートフォンすべてで縦並び */
@media (min-width: 1025px) {
    .single02 .singlebox .box img {
        width: 70%; /* 横幅を70%に設定 */
        height: 400px; /* 縦幅を400pxに設定 */
        object-fit: cover; /* 画像のトリミング */
    }
}
@media (min-width: 768px) and (max-width: 1024px) {
    .single02 .singlebox .box img {
        width: 70%; /* 横幅を70%に設定 */
        height: 400px; /* 縦幅を400pxに固定 */
        object-fit: cover; /* 画像のトリミング */
    }
}
@media (max-width: 767px) {
	.single02 .singlebox .box {
	width: 100%;
}
    .single02 .singlebox .box img {
        width: 70%; /* 横幅を70%に設定 */
        height: 300px; /* 縦幅を300pxに固定 */
        object-fit: cover; /* 画像のトリミング */
    }
}


.single03 {
    margin-top: -10px;
    text-align: center; 
	padding: 40px 0 0;
}


.single03 .content-wrapper {
    display: flex;
    align-items: flex-start;
	margin-top: 40px;
	padding: 0 10%;
}

.single03 .circle {
    width: 60px;
    height: 60px;
    background-color: #F7F780;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
    margin-right: 20px;
}

.single03 .circle .material-icons {
    font-size: 40px; /* サイズを40に設定 */
    color: black; /* 色を白に設定 */
}

.single03 .text-container {
    flex: 1;
}

.single03 h4 {
    margin: 0;
    font-size: 1.4rem;
    text-align: left; 
}

.single03 p {
    margin-top: 10px;
    text-align: center;
}

.single03 .text-container p {
    text-align: left;
}


@media (max-width: 767px) {
	.single03 .content-wrapper {
    padding: 0 3%;
}

.single03 .circle {
    width: 50px;
    height: 50px;
}

.single03 .circle .material-icons {
    font-size: 40px; 
}

.single03 .text-container {
    flex: 1;
}

.single03 h4 {
    font-size: 1.1rem;
}

.single03 p {
    margin-top: 10px;
    text-align: center;
}

.single03 .text-container p {
    text-align: left;
}

}
