@charset "utf-8";

body {
    width: 100%;
    min-width: 320px;
    margin: 0;
    font-family: "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "游明朝", "Yu Mincho", YuMincho, 'Noto Serif JP', "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
    font-weight: 400;
    -webkit-text-size-adjust: 100%;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0.1em;
    color: #222;
    /*background:url("../img/bg_check.jpg") #000;*/
}

#home .wrap {
    margin: 0 !important;
}

/* home
------------------------------------------------------------*/

@media screen and (min-width: 1001px) {

    .con {
        width: 56.8%;
        margin: auto;
    }

    .offset-l {
        margin-left: 240px;
    }

    .hover_elem a:hover {
        filter: alpha(opacity=80);
        opacity: 0.8;
    }

    .hover_img a:hover img {
        filter: alpha(opacity=80);
        opacity: 0.8;
    }

    .hover {
        -webkit-transition: .2s linear;
        -moz-transition: .2s linear;
        -o-transition: .2s linear;
        transition: .2s linear;
    }

    .hover:hover {
        filter: alpha(opacity=80);
        opacity: 0.8;
    }
}

#home {
    padding: 0 0 50px;
    background: #eae3dc;
}

#home .home-title {
    background: url("../images/ouchigohan/home-title-bg.jpg") center no-repeat;
    background-size: cover;
}

#home .home-title .wrap {
    padding: 30px 20px;
    display: flex;
    justify-content: center;
}

#home .home-title h2 {
    width: 50%;
    padding: 6% 50px 0 0;
    text-align: center;
}

#home .home-title li {
    background: #fff;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.5);
    border-right: 25px solid #000;
    position: relative;
}

#home .home-title li:after {
    content: "";
    display: block;
    width: 12px;
    height: 13px;
    background: url("../images/ouchigohan/home-title-arrow.png") no-repeat;
    background-size: contain;
    position: absolute;
    top: 50%;
    right: -19px;
    margin-top: -6px;
}

#home .home-title li+li {
    margin-top: 12px;
}

#home .home-title a {
    display: block;
    padding: 5px 15px 5px 30px;
    font-size: 21px;
    font-weight: bold;
    text-align: right;
    letter-spacing: 0.1em;
}

#home .home-title a:hover {
    background: #000;
    color: #fff;
}

#home .inner {
    margin: 0 20px;
}

#home .home-box h3 {
    background: #000;
}

#home .home-box h3 img {
    width: 100%;
}

#home .home-box h3 a:hover img {
    opacity: 0.8;
}

#home .home-box .item {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

#home .home-box .item li {
    width: 18.5%;
}

#home .home-box .item li a {
    display: block;
}

#home .home-box .item li a:hover {
    opacity: 0.7;
}

#home .home-box .item li .txt {
    margin-top: 15px;
}

#home .home-box .item h4 {
    font-size: 16px;
    font-weight: normal;
}

#home .home-box .item .price {
    margin-top: 8px;
    font-size: 16px;
}

#home .home-box .item .price small {
    font-size: 14px;
}

#home .home-box+.home-box {
    margin-top: 50px;
}

#home .home-box#justprice .item {
    flex-wrap: wrap;
}

#home .home-box#justprice .item li {
    width: 49%;
}

#home .home-box#justprice .item li:nth-child(n+3) {
    margin-top: 20px;
}

#home .home-bnr {
    margin-top: 40px;
    padding-top: 40px;
    text-align: center;
    border-top: 1px solid #d4ccc4;
}

#home .home-bnr li+li {
    margin-top: 20px;
}

#home .home-bnr a:hover {
    opacity: 0.8;
}

@media screen and (min-width:1600px) {
    #home .home-box#justprice .item {
        justify-content: flex-start;
    }

    #home .home-box#justprice .item li {
        width: 32%;
        margin-right: 2%;
    }

    #home .home-box#justprice .item li:nth-child(3n) {
        margin-right: 0;
    }

    #home .home-box#justprice .item li:nth-child(n+3) {
        margin-top: 0;
    }

    #home .home-box#justprice .item li:nth-child(n+4) {
        margin-top: 20px;
    }
}

@media screen and (max-width:1000px) {
    .catalog {
        padding: 20px;
        background-size: 48% auto;
        background-position: top 50% right 5%;
    }

    .vi .vi-logo {
        display: block;
    }

    #top-mv .mv-btn {
        top: 20px;
        right: 20px;
        transform: none;
    }

    #top-mv .txt h2 {
        font-size: 30px;
    }

    #top-mv .txt p {
        font-size: 18px;
    }

    #top-mv .txt p br.sp {
        display: inline;
    }

    #home .home-title .wrap {
        flex-wrap: wrap;
    }

    #home .home-title h2 {
        width: 100%;
        margin-bottom: 30px;
        padding: 0;
    }

    #home .home-title h2 img {
        width: 400px;
    }

    #home .home-title ul {
        display: inline-block;
    }

    #home .home-box .item {
        justify-content: flex-start;
        flex-wrap: wrap;
    }

    #home .home-box .item li {
        width: 32%;
        margin-right: 2%;
    }

    #home .home-box .item li:nth-child(3n) {
        margin-right: 0;
    }

    #home .home-box .item li:nth-child(n+4) {
        margin-top: 2%;
    }

    #home .home-box#justprice .item {
        justify-content: space-between;
    }

    #home .home-box#justprice .item li {
        margin-right: 0;
    }
}

@media screen and (max-width:599px) {
    #home .home-title h2 img {
        width: 300px;
    }

    #home .home-title a {
        padding: 5px 15px;
        font-size: 15px;
        text-align: left;
    }

    #home .home-box+.home-box {
        margin-top: 20px;
    }

    #home .home-box:not(#justprice) .item li {
        width: 100%;
        margin-right: 0 !important;
    }

    #home .home-box:not(#justprice) .item li:nth-child(n+2) {
        margin-top: 10px !important;
    }

    #home .home-box:not(#justprice) .item li:nth-child(n+4) {
        display: none;
    }

    #home .home-box:not(#justprice) .item li a {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #home .home-box:not(#justprice) .item li img {
        width: 33%;
    }

    #home .home-box:not(#justprice) .item li .txt {
        width: 64%;
        margin: 0;
    }

    #home .home-box#justprice .item li:nth-child(n+3) {
        margin-top: 10px;
    }

    #home .home-bnr {
        margin-top: 20px;
        padding-top: 20px;
    }

    #home .home-bnr li+li {
        margin-top: 10px;
    }
}