@charset "utf-8";

#sel-wrapMainR {
    background: none;
    padding: 0;
    overflow:hidden;
    width: 100%;
}

#sel-containerA {
    width: 100%;
}

#sel-wrapper {
    padding: 0;
}

.header-nav .nav-main .tokusyu {
    display: block;
    box-sizing: border-box;
    text-align: center;
    background: #e8462e;
}

.header-nav .nav-main .tokusyu a {
    display: block;
    color: #fff;
    font-weight: 700;
    letter-spacing: .02em;
    width: 100%;
    height: 100%;
    padding: .7em 20px .7em 20px;
    box-sizing: border-box;
    position: relative;
}

.header-nav .nav-main .tokusyu a:hover {
    background: #e27c6c;
}

.wrapper {
}

.mv .inner {
    text-align: center;
}

.mv .inner p {
    font-size: 18px;
    color: #fff;
    text-shadow:4px 4px 4px rgba(0, 0, 0, .5);
}

.mv .inner h3 {
    font-family:"ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO";
    font-size: 16px;
    text-align: center;
    color: #fff;
    margin: 16px 0 8px;
    text-shadow:4px 4px 4px rgba(0, 0, 0, .5);
}

.wrapper p,dd {
    line-height: 1.8;
}

.bg_white {
    position: relative;
}

.wrapper .news {
    position: relative;
    background: #333333;
}

.contact {
    position: relative;
    background: #FFF;
}

.rank {
    position: relative;
    background: #DDD7BD;
}

.variety {
    position: relative;
    background: #fff;
}

.package {
    position: relative;
    background: #333333;
}

.kodawari {
    position: relative;
    background: #E8E7CA;
}

.package * {
    color: #fff;
}

.package .size .size_wrap dd,
.package .size .size_wrap dd span {
    color: #000;
}

/* .wrapper:nth-of-type(n+2) {
    margin-top: 20px;
} */

.wrapper h3 {
    text-align: center;
    font-weight: 400;
    letter-spacing: 2px;
    position: relative;
    display: flex;
    align-items: center;
	color: #444;
	font-size: 24px;
}

.mv p, dt, dd ,h2 {
    font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
}

.wrapper p, dt, dd ,h3 {
    font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
}

.wrapper h3:before {
	margin-right: 1.6em;
}
.wrapper h3:after {
	margin-left: 1.6em;
}

.package h3 {
    color: #fff;
}

.package h3 {
    color: #fff;
}

.package h3:before {
	margin-right: 1.6em;
}

.package h3:after {
	margin-left: 1.6em;
}

.wrapper .kodawari h4 {
    position: relative;
    font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
    font-size: 22px;
    padding: 4px;
    background: #336600;
    color: #fff;
    font-weight: normal;
    text-align: center;
}

.wrapper .news .inner p {
    color: #fff;
    font-size: 13px;
    font-family: 'Yu Gothic', 'YuGothic', 'Hiragino Kaku Gothic ProN', 'Meiryo', sans-serif;
}

.wrapper .news .inner a {
    padding-top: 2px;
    padding-bottom: 2px;
    text-decoration: none;
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.8);
}

.wrapper .news .inner a:hover {
    opacity: .7;
}

.wrapper .contact ul {
	display: flex;
}

.wrapper .contact li {
	flex: 1;
	border: 2px solid #000;
	padding: 20px;
	text-align: center;
}

.wrapper .contact li + li {
	margin-left: 20px;
}

.wrapper .contact li h4 {
	font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
	font-size: 20px;
}

.wrapper .contact li h4:after {
	content: '';
	width: 60%;
	height: 1px;
	display: block;
	background-color: #000;
	margin: 5px auto 15px;
}

.wrapper .contact li .tel {
	display: block;
	font-weight: bold;
	font-size: 38px;
	font-family: 'Yu Gothic', 'YuGothic', 'Hiragino Kaku Gothic ProN', 'Meiryo', sans-serif;
	line-height: 1;
	margin-bottom: 5px;
}

.wrapper .contact li a {
	display: block;
	background-color: #000;
	color: #fff;
	font-size: 16px;
	letter-spacing: .05em;
	padding: .5em;
	margin: auto;
	max-width: 270px;
	transition: .3s;
	position: relative;
}

.wrapper .contact li a:hover {
	background: #666;
}

.wrapper .contact li a:after {
	content: '';
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 4px 0 4px 10px;
	border-color: transparent transparent transparent #fff;
	display: inline-block;
	position: absolute;
	right: 10px;
	top: 0;
	bottom: 0;
	margin: auto;
}

.wrapper .contact li br.sp {
	display: none;
}

.wrapper .rank .inner p {
    font-size: 14px;
}

.wrapper .rank .inner ul figure {
    text-align: left;
    padding-left: 12px;
}

.wrapper .rank .inner ul figure img {
    height: 28px;
}

.wrapper .rank .inner ul dl {
  display: flex;
  flex-direction: column;
}

.wrapper .rank .inner ul dl dt {
    margin-top: 10px;
    border: 1px solid #e5e5e5;
}

.wrapper .rank .inner ul dl dd {
    margin-top: 12px;
    padding: 0 2px;
    font-size: 12px;
    text-align: left;
    line-height: 1.5;
    font-family: 'Yu Gothic', 'YuGothic', 'Hiragino Kaku Gothic ProN', 'Meiryo', sans-serif;
}

.wrapper .rank .inner ul dl .price {
    margin-top: auto;
    padding: 6px 0 0;
    font-size: 14px;
    text-align: left;
    color: #ee333c;
}

.wrapper .rank .inner ul dl .item_name {
    font-size: 15px;
    font-weight: bold;
}

.wrapper .rank .inner ul li img {
    /* border-radius: 50%; */
}

.wrapper .rank .inner ul li.soldout dt {
    position: relative;
	background: #fff;
}
.wrapper .rank .inner ul li.soldout dt img {
    opacity: .4;
}
.wrapper .rank .inner ul li.soldout dt:before {
    content: "販売終了";
    position: absolute;
    top: 50%;
    left: 50%;
    display: inline-block;
    width: 7em;
    height: 1.5em;
    margin: -1em 0 0 -4.25em;
    padding: .5em;
    background: #9b8239;
    border: solid 2px #fff;
    color: #fff;
    line-height: 1.5;
	letter-spacing: .1em;
    font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "游ゴシック", YuGothic, "メイリオ", Meiryo, sans-serif;
    font-size: 1rem;
	z-index: 1;
}

.wrapper .rank .inner ul li.soldout dd {
    color: #2d2d2d;
}

.wrapper .variety ul li dl:hover {
    opacity: .7;
    transition: .2s;
}

.wrapper .producer>p {
    font-size: 14px;
}

.modal_trigger {
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.modal_trigger .modal_btn {
    cursor: pointer;
}

.modal_trigger .modal_btn img:hover {
    opacity: .8;
    transition: .3s;
}

.modal_block .modal_contents .badge {
    display: inline-block;
    background: #336600;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    padding: 4px 8px;
    margin-top: 12px;
}

.pagetop_btn .inner {
    text-align: center;
    margin: 40px 0;
}

.pagetop_btn .inner a {
    padding: 16px 24px;
    color: #fff;
    background: #000;
    border: 1px solid #000;
    font-size: 18px;
    text-align: center;
    font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
}

.pagetop_btn .inner a:before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 14px;
    margin: -3px 8px 0 0px;
    background: url(../images/arrow_back.png) no-repeat;
    background-size: contain;
    vertical-align: middle;
}

.pagetop_btn .inner a:hover {
    opacity: .6;
}


@-webkit-keyframes slideRightBg {
    0% {
        opacity: 0;
        left: -50%;
    }

    100% {
        opacity: 1;
        left: 0;
    }
}

@keyframes slideRightBg {
    0% {
        opacity: 0;
        left: -50%;
    }

    100% {
        opacity: 1;
        left: 0;
    }
}

.modal_box {
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}

.modal_bg {
    background-color: rgba(30, 30, 30, 0.9);
    height: 100%;
    width: 100%;
}

.modal_inner {
    background-color: #fff;
    left: 50%;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    /* max-width: 900px; */
    width: 750px;
}

@media screen and (min-width:768px) {

    #sel-wrapMainR {
        background: none;
        padding-top: 0;
    }

    .is-pc {
        display: block;
    }

    .is-sp {
        display: none;
    }

    .img_sp {
        display: none;
    }

    .mv {
        background: url(../images/top/mv.png) center center no-repeat;
        background-size: cover;
        height: 362px;
    }

    .mv .inner {
        width: 756px;
        margin-left: 260px;
    }

    .mv .inner h2 {
        text-align: center;
    }

    .mv .inner h2 img{
        width: 412px;
        padding-top: 25px;
    }

    .mv .inner div>a img {
    width: 400px;
    }

    .mv .inner ul {
        width: 400px;
        margin: 0 auto;
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: space-between;
        justify-content: space-between;
    }

    .mv .inner ul li {
        width: 50%;
    }

    .wrapper h3:before, .wrapper h3:after {
        content: "";
        flex-grow: 1;
        height: 1px;
        background: #444;
        display: block;
    }

    .package h3:before, .package h3:after {
        content: "";
        flex-grow: 1;
        height: 1px;
        background: #fff;
        display: block;
    }

    .bg_beige {
        position: relative;
        background: #e5e2d7;
    }

    .white_wave img {
        position: relative;
        z-index: 999;
    }

    .point_link_btn ul {
        display: flex;
        justify-content: space-between;
    }

    .point_link_btn li {
        width: 368px;
        text-align: center;
        height: 50px;
        line-height: 50px;
        margin-right: 2px;
    }

    .point_link_btn li a {
        position: relative;
        display: block;
        text-decoration: none;
        color: #fff;
        background-color: #333333;
        font-size: 18px;
        letter-spacing: 1px;
        font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
    }

    .point_link_btn li a:hover {
        text-decoration: none;
        color: #fff;
        background-color: #000000;
        font-size: 18px;
    }

    .point_link_btn li a::after {
        position: absolute;
        content: "";
        display: inline-block;
        right: 46px;
        width: 18px;
        height: 10px;
        background: url(../images/arrow_active.png) no-repeat;
        background-size: contain;
        margin-left: 0.3em;
        top: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
    }

    .point_link_btn li a:hover::after {
        position: absolute;
        content: "";
        display: inline-block;
        right: 46px;
        width: 18px;
        height: 10px;
        background: url(../images/arrow_active.png) no-repeat;
        background-size: contain;
        margin-left: 0.3em;
        top: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
    }

    .wrapper .inner {
        width: 756px;
        margin-left: 260px;
    }

    .wrapper h3 {
        font-size: 26px;
    }

    .wrapper h3 img {
        height: 24px;
    }

    section {
        padding: 40px 0 64px;
    }

    .wrapper .news {
        padding: 12px 0;
    }

    .wrapper .contact {
		padding-top: 20px;
		padding-bottom: 20px;
    }

    .wrapper .rank .inner ul li {
        width: 178px;
        text-align: center;
    }

    .wrapper .rank .inner ul {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 8px;
    }

    .wrapper .rank .inner li {
        margin-top: 28px;
    }

    .wrapper .rank .inner>p {
        text-align: center;
        margin-bottom: 8px;
    }

    .wrapper .rank .inner ul dl .item_name {
        /* height: 76px; */
    }

    .wrapper .rank .inner>p img {
        width: 36px;
    }

    .wrapper .size .size_wrap {
        display: flex;
        justify-content: space-between;
        -webkit-align-items: flex-start;
        align-items: flex-end;
    }

    .wrapper .size {
        padding-top: 40px;
    }

    .wrapper .size_left {
        width: 50%;
    }

    .wrapper .size_left p {
        font-size: 14px;
    }

    .wrapper .size_left dl {
        position: relative;
        background: #CBCBCB;
        margin-top: 24px;
    }

    .wrapper .size_wrap>img {
        width: 46%;
    }

    .wrapper .size_left dl dt {
        font-size: 18px;
        font-weight: bold;
        color: #fff;
        font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
        padding: 8px 14px 8px 28px;
        background: #000000;
        text-align: left;
    }

    .wrapper .size_left dl dd {
        padding-top: 14px;
        font-size: 14px;
        font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
        padding: 14px;
        text-align: left;
    }

    .wrapper .package .inner {
        text-align: center;
    }

    .wrapper .kodawari .producer>p {
        display: inline-block;
        margin: 20px 16px 12px;
        text-align: left;
        font-size: 14px;
    }

    .wrapper .kodawari .producer {
        background: #fff;
        margin-top: 32px;
        padding-bottom: 32px;
    }

    .wrapper .kodawari .pride {
        background: #fff;
        margin-top: 32px;
        padding-bottom: 32px;
    }

    .wrapper .kodawari .pride>p {
        padding: 0 20px;
    }

    .wrapper .kodawari .pride .pride_wrap {
        margin-top: 20px;
        padding: 0 20px;
    }

    .wrapper .package .inner>p {
        display: inline-block;
        margin: 20px auto;
        text-align: left;
        font-size: 14px;
    }

    .wrapper .package .inner .size>p {
        display: inline-block;
        margin: 20px auto;
        text-align: left;
        font-size: 14px;
    }

    .wrapper .package ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        -webkit-align-items: flex-start;
        align-items: flex-start;
        text-align: left;
    }

    .wrapper .package ul li {
        display: flex;
        align-items: flex-start;
        width: 48%;
        padding-top: 24px;
    }

    .wrapper .package ul li img {
        padding-right: 16px;
        max-width: 125px;
        max-height: 125px;
    }

    /* @supports (-ms-ime-align: auto) {
        .wrapper .package ul li img {
            min-width: 125px;
            min-height: 125px;
        }
    } */

    .wrapper .package ul li dl dt {
        font-size: 26px;
        /* font-weight: bold; */
        font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
    }

    .wrapper .package ul li dl dd {
        font-size: 14px;
    }

    .wrapper .variety ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        -webkit-align-items: flex-start;
        align-items: flex-start;
    }

    .wrapper .variety ul li {
        width: 49%;
        padding-top: 32px;
    }

    .wrapper .variety ul li dl {
        text-align: center;
    }

    .wrapper .variety ul li dl dt {
        font-size: 16px;
        font-weight: bold;
        font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
    }

    .wrapper .variety ul li dl dd {
        font-size: 14px;
        text-align: left;
        padding: 12px 8px;
    }

    .wrapper .variety ul li dl .variety_btn {
        display: inline-block;
        text-align: center;
        border: 1px solid #000;
        padding: 4px 8px;
    }

    .wrapper .producer ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0 20px;
    }

    .wrapper .producer li {
        /* width: 24%; */
        margin-top: 12px;
    }

    .wrapper .pride .y_txt p {
        font-size: 14px;
        margin-bottom: 22px;
        width: 354px;
        font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
    }

    .wrapper .pride p>span {
        font-weight: bold;
        font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
    }

    .wrapper .pride>p {
        font-size: 14px;
        font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
    }

    .wrapper .pride .y_map {
        width: 352px;
        /* position: absolute;
        right: 0;
        top: -44px; */
    }

    .wrapper .pride .y_map ul {
        display: flex;
        justify-content: space-between;
    }

    .wrapper .pride .y_map ul li {
        margin-top: 12px;
    }

    .wrapper .pride .pride_wrap {
        display: flex;
        justify-content: space-between;
        position: relative;
    }

    .modal_block .modal_ttl {
        padding: 8px;
        font-size: 18px;
        color: #fff;
        text-align: center;
        font-weight: bold;
        background: #336600;
        font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
    }

    .modal_block .modal_contents {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding: 40px;
    }

    .modal_block .modal_contents img {
        width: 44%;
    }

    .modal_block .modal_contents dl {
        width: 52%;
    }

    .modal_block .modal_contents dl dt {
        font-size: 20px;
        font-weight: bold;
        font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
    }

    .modal_block .modal_contents dl dd {
        font-size: 14px;
        font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
        margin-top: 8px;
    }

    .modal_close {
        cursor: pointer;
        position: absolute;
        right: 14px;
        top: -6px;
        color: #fff;
        font-size: 2rem;
    }

}

@media screen and (max-width: 1024px) and (orientation: portrait)
{
    .mv .inner {
        width: 100%;
        margin: 0;
    }

    .wrapper .inner{
        width: 100%;
        margin: 0;
        padding: 0 20px;
    }
}

@media screen and (max-width:767px) {

    .img_pc {
        display: none;
    }

    .is-pc {
        display: none;
    }

    .is-sp {
        display: block;
    }

    .wrapper {
        /* padding: 4%; */
    }

    .wrapper .inner{
        padding: 6%;
    }

    .wrapper .news .inner{
        padding: 14px 6%;
    }

    .wrapper .inner h3 {
        padding-top: 20px;
    }

     .mv {
        background: url(../images/top/mv_s.png) no-repeat;
        background-size: cover;
        height: 362px;
    }

    .mv .inner {
        width: 336px;
        margin: 0 auto;
    }

    .mv .inner p {
    font-size: 15px;
    color: #fff;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, .5);
    margin-top: 16px;
    }

    .mv .inner h2 {
        text-align: center;
    }

    .mv .inner h2 img{
        padding-top: 25px;
    }

    .mv .inner h3 {
    font-family: "ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO";
    font-size: 15px;
    text-align: center;
    color: #fff;
    margin: 16px 0 8px;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, .5);
    }

    .mv .inner>a img {
    /* width: 400px; */
    }

    .mv .inner ul {
        /* width: 400px; */
        margin: 0 auto;
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: space-between;
        justify-content: space-between;
    }

    .wrapper h3:before {
        content: "";
        flex-grow: 1;
        height: 1px;
        background: #444;
        display: block;
        margin-left: -50%;
    }

    .wrapper h3:after {
        content: "";
        flex-grow: 1;
        height: 1px;
        background: #444;
        display: block;
        margin-right: -50%;
    }

    .package h3:before {
        content: "";
        flex-grow: 1;
        height: 1px;
        background: #fff;
        display: block;
        margin-left: -50%;
    }

    .package h3:after {
        content: "";
        flex-grow: 1;
        height: 1px;
        background: #fff;
        display: block;
        margin-right: -50%;
    }
    
    .bg_beige {
        position: relative;
        background: #e5e2d7;
        margin-top: -36px !important;
        padding-bottom: 44px;
    }

	.wrapper .contact ul {
		flex-direction: column;
	}
	
	.wrapper .contact ul li + li {
		margin-left: 0;
		margin-top: 20px;
	}
	
	.wrapper .contact li h4 {
		font-size: 18px;
	}
	
	.wrapper .contact li .tel {
		font-size: 30px;
	}
	
	.wrapper .contact li a {
		font-size: 15px;
	}
	
	.wrapper .contact li br.sp {
		display: block;
	}
	
    .wrapper .rank {
        padding-bottom: 48px;
    }

    .wrapper .rank .inner ul figure img {
        height: 32px !important;
    }

    .wrapper .rank .inner>p {
        text-align: center;
        margin-bottom: -6px;
    }

    .wrapper .rank .inner>p img {
        width: 36px;
    }


    .wrapper h3 img {
        height: 22px !important;
    }

    .wrapper h3 {
        font-size: 22px;
        font-weight: 500;
    }

    .wrapper .rank .inner ul {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 12px;
    }

    .wrapper .rank .inner li {
        width: 48%;
        text-align: center;
        margin-top: 20px;
    }

    .wrapper .rank .inner ul dl .price {
        font-weight: bold;
    }

    .wrapper .rank .inner ul dl .item_name {
        font-weight: normal;
    }

    .wrapper .variety {
        padding-bottom: 48px;
    }

    .wrapper .variety ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        -webkit-align-items: flex-start;
        align-items: flex-start;
    }

    .wrapper .variety ul li {
        padding-top: 32px;
    }

    .wrapper .variety ul li dl {
        text-align: center;
    }

    .wrapper .variety ul li dl dt {
        font-size: 16px;
        font-weight: bold;
        font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
    }

    .wrapper .variety ul li dl dd {
        font-size: 13px;
        text-align: left;
        padding: 12px 8px;
    }

    .wrapper .variety ul li dl .variety_btn {
        display: inline-block;
        text-align: center;
        border: 1px solid #000;
        padding: 4px 8px;
    }

    .wrapper .size {
        padding-bottom: 48px;
    }

    .wrapper .size_left p {
        font-size: 14px;
    }

    .wrapper .size_left dl {
        position: relative;
        background: #e5e2d7;
        margin-top: 0;
    }

    .wrapper .size_left dl img {
        content: "";
        display: inline-block;
        width: 46px;
        height: 26px;
        position: absolute;
        top: 12px;
        left: 0;
    }

    .wrapper .size .size_wrap>img {
        width: 100%;
        margin-top: 24px;
    }

    .wrapper .size_left dl dt {
        font-size: 18px;
        font-weight: bold;
        text-align: center;
        font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
        padding: 8px 14px 8px;
        background: #000000;
    }

    .wrapper .size_left dl dd {
        padding: 14px;
        font-size: 14px;
        font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
    }

    .wrapper .package ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        -webkit-align-items: flex-start;
        align-items: flex-start;
    }

    .wrapper .package ul li {
       	display: -webkit-flex;
        display: flex;
        -webkit-justify-content: flex-start;
        justify-content: flex-start;
        -webkit-align-items: center;
        align-items: center;
        margin-bottom: 24px;
    }

    .wrapper .package ul li img {
        padding-right: 20px;
        max-width: 110px;
        max-height: 110px;
    }

    .wrapper .package ul li dl dt {
        font-size: 26px;
        font-weight: normal;
        font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
    }

    .wrapper .package ul li dl dd {
        font-size: 14px;
    }

    .wrapper .package .inner>p {
        display: inline-block;
        margin: 20px auto;
        text-align: left;
        font-size: 14px;
    }

    .wrapper .package .inner .size>p {
        display: inline-block;
        margin: 20px auto;
        text-align: left;
        font-size: 14px;
    }

    .wrapper .producer ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .wrapper .producer li {
        width: 48%;
        margin-top: 12px;
    }

    

    .wrapper .pride .y_txt p {
        font-size: 14px;
        font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
    }

    .wrapper .pride p>span {
        font-weight: bold;
        font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
    }

    .wrapper .kodawari h4 {
        font-size: 18px;
        padding: 4px;
    }

    .wrapper .kodawari .producer {
        margin-top: 32px;
        background: #fff;
    }

    .wrapper .kodawari .producer>p {
        padding: 12px 4% 4px;
    }

   .wrapper .kodawari .producer ul {
        padding: 0 4% 20px;
    }

    .wrapper .kodawari h4 {
        font-size: 18px;
        padding: 6px;
    }

    .wrapper .kodawari .pride {
        margin-top: 32px;
        background: #fff;
        padding-bottom: 20px;
    }

    .wrapper .kodawari .pride p {
        padding: 0 4% 4px;
    }

    .wrapper .kodawari .pride_wrap p {
        padding: 12px 4% 4px;
    }

    .wrapper .pride>p {
        font-size: 14px;
        margin-top: 16px;
    }

    .wrapper .pride .y_map {
        margin-top: 16px;
        width: 100%;
    }

    .wrapper .pride .y_map ul {
        display: flex;
        justify-content: space-between;
    }

    .wrapper .pride .y_map ul li {
        margin-top: 12px;
    }

    .wrapper .pride .y_map ul li:nth-of-type(n+2) {
        margin-left: 12px;
    }

    .modal_trigger {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    .modal_trigger li {
        width: 47.5%;
        margin-top: 20px;
        max-width: inherit;
    }

    .modal_trigger li+li {
        margin-left: 0;
    }

    .modal_inner {
        width: 90%;
        max-height: 80%;
        overflow-y: scroll;
        /* padding: 25px; */
    }

    .modal_close {
        top: 5px;
        font-size: 2.2rem;
    }

    .modal_block .modal_ttl {
        padding: 8px;
        font-size: 18px;
        color: #fff;
        text-align: center;
        font-weight: bold;
        background: #336600;
        font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
    }

    .modal_block .modal_contents {
        /* display: flex;
        justify-content: space-between;
        align-items: flex-start; */
        padding: 25px;
        overflow: scroll;
    }

    .modal_block .modal_contents img {
    }

    .modal_block .modal_contents dl {
    }

    .modal_block .modal_contents dl dt {
        margin-top: 16px;
        font-size: 18px;
        font-weight: bold;
        font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
    }

    .modal_block .modal_contents dl dd {
        font-size: 14px;
        font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
        margin-top: 8px;
    }

    .modal_close {
        cursor: pointer;
        position: absolute;
        right: 10px;
        top: -6px;
        color: #fff;
        font-size: 2rem;
    }

}


@media all and (-ms-high-contrast:none) {
    .wrapper h4 {
        font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
        padding-top: 4px;
    }

    .rank dl img {
        flex-shrink: 0;
        height: 176px;
        width: 176px; 
    }

    .wrapper .package ul li img {
        max-width: 125px;
        max-height: 125px;
    }

    .point_link_btn li a {
        position: relative;
        display: block;
        text-decoration: none;
        color: #333333;
        background-color: #fff;
        font-size: 18px;
        padding-top: 6px;
        letter-spacing: 1px;
        font-family: 'Noto Serif JP', "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
    }

    .point_link_btn li {
        width: 368px;
        text-align: center;
        border: 2px solid #333333;
        border-bottom: 4px solid #333333;
        height: 52px;
        line-height: 46px;
        margin-right: 2px;
    }

    .wrapper .rank .inner ul li p {
        display: inline-block;
        background: #336600;
        color: #fff;
        padding: 4px 6px 0px;
        border-radius: 4px;
        font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
        font-weight: bold;
    }

    .wrapper .size_left dl dt {
        font-size: 16px;
        font-weight: bold;
        font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
        padding-left: 2.6em;
    }

    .wrapper .size_left dl dd {
        padding-top: 14px;
        font-size: 14px;
        font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
    }

    .wrapper .package ul li dl dt {
        font-size: 16px;
        font-weight: bold;
        font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
    }

    .wrapper .pride .y_txt p {
        font-size: 14px;
        margin-bottom: 26px;
        width: 334px;
        font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
    }

    .wrapper .pride p>span {
        font-weight: bold;
        font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
    }

    .modal_block .modal_ttl {
        padding: 12px 8px 8px;
        font-size: 18px;
        color: #fff;
        text-align: center;
        font-weight: bold;
        background: #336600;
        font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
    }

    .modal_block .modal_contents dl dt {
        font-size: 20px;
        font-weight: bold;
        font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
    }

    .modal_block .modal_contents dl dd {
        font-size: 14px;
        font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
        margin-top: 8px;
    }

    .modal_block .modal_contents p {
        display: inline-block;
        background: #336600;
        color: #fff;
        font-weight: bold;
        font-size: 14px;
        padding: 4px 8px 0px;
        margin-top: 12px;
    }

    .modal_close {
        cursor: pointer;
        position: absolute;
        right: 14px;
        top: 5px;
        color: #fff;
        font-size: 2rem;
    }
    
}

@-moz-document url-prefix() {
  .wrapper .package ul li img {
    width: 125px;
    height: 125px;
}