#AddHandler php7.2-script .html
#AddHandler fcgid-script .html
AddHandler fcgid-script .html
AddType application/x-httpd-php .php .html

<Files ~ "^.ht|\.(inc|csv)$">
    Order allow,deny
    Deny from all
    Satisfy All
</Files>
