@charset "utf-8";


/*/////////////////////////////////////////////////////////////
 Base
//////////////////////////////////////////////////////////////*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ul, ol, li,
fieldset, form, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, figure, footer, header,
hgroup, menu, nav, section,
time, mark, audio, video, canvas {
	margin: 0;
	padding: 0;
}

html {
	-webkit-text-size-adjust: none;
}

body {
	font-family: ArialMT, "Arial", "ヒラギノ角ゴ ProN W3";
	font-size: 16px;
	background-color: #666666;
	-webkit-user-select: none;
	-webkit-user-drag: none;
	overflow: hidden;
	border: none;
}

body[orient="normal"] {
	min-height: 416px;
}

body[orient="wide"] {
	min-height: 268px;
}

a {
	color: #A3D200;
	-webkit-tap-highlight-color: rgba(00,33,99,0.3);
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;

}

ul, ol {
	list-style: none;
}

caption, th, td {
	text-align: left;
	vertical-align: top;
	font-weight: normal;
}


fieldset {
	border: none;
}

input, textarea, select, label {
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 0;
	padding-bottom: 0;
	vertical-align: middle;
}

label, button {
	cursor: pointer;
}

textarea {
	overflow: auto;
}


header, hgroup, footer,
article, section,
nav, aside, figure {
	display: block;
}

a {
	vertical-align: baseline;
}

img {
	border: none;
	vertical-align: middle;
}

