@charset "UTF-8";
@media screen and (max-width: 768px) {
  .pc {
    display: none; }
  .sp {
    display: block; } }


@media screen and (min-width: 769px) {
  .pc {
    display: block; }
  .sp {
    display: none; } }

h2 {
  font-size: 2.6rem;
  list-style: 1.5; }
  h2 span {
    font-size: 2.6rem; }

p {
  font-size: 1.8rem;
  line-height: 1.7;
  margin: 0px}
  @media screen and (max-width: 1080px) {
    p {
      font-size: 1.4rem; } }

a {
  color: #222222;
  text-decoration: none; }

.button {
  display: block;
  text-align: center;
  text-decoration: none;
  margin: auto;
  transition: 0.3s; }

.button01 {
  width: 380px;
  padding: 0.5em 1.5em;
  font-size: 2.2rem;
  font-weight: bold;
  background: #003F73;
  color: #fff;
  margin-bottom: 40px;
  border: none;}
  .button01:hover {
    transform: scale(1.1, 1.1); }
  @media screen and (max-width: 1080px) {
    .button01 {
      width: 100%;
      max-width: 300px;
      font-size: 1.6rem;
      letter-spacing: 0.1rem;
      border: 2px solid #fff;
      padding: 1rem; } }
  .button01__close {
    width: 470px;
    padding: 0.5em 1.5em;
    border-radius: 4rem;
    font-size: 2.6rem;
    font-weight: bold;
    border: 4px solid #dedede;
    background: #b5b5b5;
    color: #fff; }
  @media screen and (max-width: 768px) {
    .button01__close {
      width: 80%;
    font-size: 1.6rem;} }

.button03 {
  width: 380px;
  padding: 0.5em 1.5em;
  font-size: 1.6rem;
  background: #a9a9a9;
  color: #fff;
  margin-bottom: 80px;
	margin-top: -20px;
  border: none;}
  .button03:hover {
    transform: scale(1.1, 1.1); }
  @media screen and (max-width: 1080px) {
    .button03 {
      width: 100%;
      max-width: 300px;
      font-size: 1.6rem;
      letter-spacing: 0.1rem;
      padding: 1rem; } }

.button02 {
  position: relative;
  width: 320px;
  padding: 0.5em 1.5em;
  border-radius: 4rem;
  font-size: 2rem;
  letter-spacing: 0.3rem;
  font-weight: bold;
  border: 4px solid #fff;
  background: #696969;
  color: #fff; }
  .button02:hover {
    color: #696969;
    background: #fff;
    border: 4px solid #696969; }
    .button02:hover:after {
      color: #696969; }
  .button02:after {
    content: "\f078";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    color: #fff;
    line-height: 1;
    width: 0;
    z-index: 0;
    position: absolute;
    top: 50%;
    right: 4rem;
    transform: translateY(-50%); }
    @media screen and (max-width: 1080px) {
      .button02:after {
        right: 2rem;
        font-size: 1.2rem; } }
  @media screen and (max-width: 1280px) {
    .button02 {
      width: 100%;
      padding: 0.7em 1em;
      font-size: 1.6rem;
      letter-spacing: 0.3rem; } }
  @media screen and (max-width: 600px) {
    .button02 {
      width: 100%;
      text-align: start;
      border: 2px solid #fff;
      letter-spacing: 0;
      padding: 0.5em 1em;
      font-size: 1.2rem; } }

.button04 {
  width: 380px;
  padding: 0.5em 1.5em;
  font-size: 2.2rem;
  font-weight: bold;
  background: #000;
  color: #fff;
  margin-bottom: 40px;
  border: none;}
  .button04:hover {
    transform: scale(1.1, 1.1); }
  @media screen and (max-width: 1080px) {
    .button04 {
      width: 100%;
      max-width: 300px;
      font-size: 1.6rem;
      letter-spacing: 0.1rem;
      border: 2px solid #fff;
      padding: 1rem; } }

html {
  font-size: 62.5%;
  font-family: "Noto Sans JP", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif; }

* {
  box-sizing: border-box; }

body {
  position: relative;
  background-color: #F2F2F2;
  color: #222222;
  font-size: 1.8rem;
  line-height: 1.5;
  margin: 0; }

.wrap {
  position: relative;
  max-width: 1080px;
  margin-right: auto;
  margin-left: auto; }
  @media screen and (max-width: 1080px) {
    .wrap {
      width: 100%;
      margin: 0 auto;
      padding-right: 2rem;
      padding-left: 2rem; } }

.goTop {
  position: fixed;
  display: inline-block;
  width: fit-content;
  right: 1rem;
  bottom: 2rem;
  z-index: 2; }
  @media screen and (max-width: 1080px) {
    .goTop img {
      width: 80px; } }

header {
  background-color: #fff; }
  header .header-inner__logo {
    padding: 1rem 1rem 0;}
    @media screen and (max-width: 1080px) {
      header .header-inner__logo {
        padding: 1.2rem 0; } 
      header .header-inner__logo img {
        margin-right: 20px; 
        width: 120px;} }

  header .header-inner__nav {
    width: 100%; }
    header .header-inner__nav ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: start;
      list-style: none;
      margin: 0;
      padding: 0 1rem 1rem; }
      @media screen and (max-width: 1080px) {
        header .header-inner__nav ul {
          padding: 0 0 1rem; } }
      header .header-inner__nav ul li {
        width: fit-content; }
        header .header-inner__nav ul li:first-child::after {
          content: "\f054";
          font-family: "Font Awesome 5 Free";
          font-weight: 900;
          display: inline-block;
          font-style: normal;
          font-variant: normal;
          font-size: 1.3rem;
          text-rendering: auto;
          line-height: 1;
          color: #f15272;
          padding: 0 0.5rem; }
        header .header-inner__nav ul li a,
        header .header-inner__nav ul li span {
          font-size: 1.6rem; }
          @media screen and (max-width: 1080px) {
            header .header-inner__nav ul li a,
            header .header-inner__nav ul li span {
              font-size: 1.3rem; } }

.mainVisual {
  position: relative;
  line-height: 1;
  background-color: #f0f8f6;}
 .mainVisual__img {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto; }
  .mainVisual__button {
    position: absolute;
    width: 224px;
    right: -15rem;
    top: -12rem; }
    @media screen and (max-width: 1400px) {
      .mainVisual__button {
        position: absolute;
        width: 175px;
        right: 0;
        top: -10rem; } }
    @media screen and (max-width: 768px) {
      .mainVisual__button {
        width: 85px;
        right: 2rem;
        top: -7rem; } }

.contents-section {
  margin-bottom: 5rem; }
  @media screen and (max-width: 1080px) {
    .contents-section {
      margin-right: 2rem;
      margin-left: 2rem;
      margin-bottom: 2rem; } }
  .contents-section .wrap {
    background: #fff;
    padding: 2rem 4rem; }
    @media screen and (max-width: 1080px) {
      .contents-section .wrap {
        padding: 2rem; } }
  .contents-section h2 {
    background-color: #ECE9E4;
    position: relative;
    max-width: 1080px;
    margin: 0 auto;
    font-size: 3.2rem;
    text-align: center;
    letter-spacing: 0.2rem;
    color: #003F73;
    padding: 1rem 0; }
    @media screen and (max-width: 1080px) {
      .contents-section h2 {
        width: 100%;
        margin: 0 auto;
        font-size: 2rem;
        padding-right: 2rem;
        padding-left: 2rem; } }
  .contents-section h3 {
    border-bottom: 3px solid #003F73;
    padding-bottom: 1rem;
    font-size: 2.4rem; }
    @media screen and (max-width: 1080px) {
      .contents-section h3 {
        font-size: 1.6rem; } }
   /* .contents-section h3 i {
      color: #2EABBC;
      padding-right: 1rem; }*/
  .contents-section dl dt span {
    display: block;
    padding: 1rem 1rem;
    background-color: #C7E4E8;
    border-radius: 1rem;
    font-weight: bold;
    color: #222;
    text-align: center; }

.about {
  margin-top: 5rem; }
  @media screen and (max-width: 1080px) {
    .about {
      margin-top: 2rem; } }
  .about dl {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    .about dl dt {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      width: 10%;
      margin-bottom: 2rem; }
      @media screen and (max-width: 1080px) {
        .about dl dt {
          width: 20%; } }
      .about dl dt span {
        width: 100%;
        font-size: 2rem;
        letter-spacing: 0.2rem; }
        @media screen and (max-width: 1080px) {
          .about dl dt span {
            font-size: 1.3rem;
            padding: 1rem 0.5rem; } }
    .about dl dd {
      /*display: flex;*/
      flex-wrap: wrap;
      align-items: center;
      width: 38%;
      padding-left: 2%;
      margin-left: 0;
      margin-bottom: 2rem;
      letter-spacing: 0.1rem; }
      @media screen and (max-width: 1080px) {
        .about dl dd {
          width: 78%;
          font-size: 1.4rem; } }
      .about dl dd span {
        font-size: 3rem; }
        @media screen and (max-width: 1080px) {
          .about dl dd span {
            font-size: 2rem; } }
      .about dl dd div {
        width: 100%; }
  .about__button {
    margin: 4rem 0 0; }

.section-nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  margin-bottom: 4rem;
  padding: 0; }
  @media screen and (max-width: 1080px) {
    .section-nav ul {
      margin-bottom: 2rem; } }
  .section-nav ul li {
    width: 320px; }
    @media screen and (max-width: 1080px) {
      .section-nav ul li {
        width: calc(33% - 0.1rem);
		margin: 0 auto;} }

.speaker {
  padding-bottom: 6rem; }
  @media screen and (max-width: 1080px) {
    .speaker {
      padding-bottom: 2rem; } }
.speaker__inner {
  padding-bottom: 6rem; }
  @media screen and (max-width: 1080px) {
    .speaker {
      padding-bottom: 2rem; } }
  .speaker h3 {
    position: relative;}
    @media screen and (max-width: 1080px) {
      .speaker h3 {
        margin-top: 0; } }
    .speaker h3 i {
      position: absolute;
      color: #2EABBC;
      padding-right: 1rem;
      left: 3px;
      top: 10px; }
      @media screen and (max-width: 1080px) {
        .speaker h3 i {
          left: 7px;
          top: 5px;
          font-size: 1.8rem; } }
  .speaker h4 {
    position: relative;
    margin-bottom: 5px;}
    @media screen and (max-width: 1080px) {
      .speaker h4 {
		font-size: 1.6rem;} }
  .speaker__item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2rem; }
    @media screen and (max-width: 1080px) {
      .speaker__item {
        padding: 2rem 0; } }
    .speaker__item-img {
      width: 240px; }
      @media screen and (max-width: 1080px) {
        .speaker__item-img {
          max-width: 240px;
          width: 85%;
          margin: 0 auto; } }
      .speaker__item-img img {
        width: 100%; }
    .speaker__item-text {
      width: calc(100% - 280px); }
      @media screen and (max-width: 1080px) {
        .speaker__item-text {
          width: 100%; } }
      .speaker__item-text h4 {
        font-size: 2.4rem;
        margin: 1rem 0; }
        @media screen and (max-width: 1080px) {
          .speaker__item-text h4 {
            font-size: 1.8rem;
            text-align: center; } }
        .speaker__item-text h4 span {
          font-size: 1.8rem;
          padding-left: 1rem; }
      .speaker__item-text h5 {
        font-size: 1.8rem;
        margin: 2rem 0;
        font-weight: normal; }
      .speaker__item-text p {
        font-size: 1.4rem; }
  .speaker__button {
    margin: 2rem auto; }
  .speaker__bottom {
	  text-align: right;
	  width: 100%;
	  display: inline-block; }
	  @media screen and (max-width: 1080px) {
		  .speaker__bottom {
			  text-align: left; } }

.program dl {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  .program dl dt {
    width: 18%;
    margin-bottom: 2rem; }
    @media screen and (max-width: 1080px) {
      .program dl dt {
        width: 100%; } }
    .program dl dt span {
      padding: 1.2rem 1rem;
      font-size: 1.8rem;
      letter-spacing: 0.1rem; }
      @media screen and (max-width: 1080px) {
        .program dl dt span {
          width: fit-content;
          padding: 0.5em 2rem;
          font-size: 1.4rem;
          letter-spacing: 0.1rem; } }
  .program dl dd {
    /*display: flex;*/
    align-items: center;
    width: 76%;
    padding-top: 8px;
    margin-left: 0;
    margin-bottom: 2rem;
    font-size: 1.8rem;
    line-height: 2; }
    @media screen and (max-width: 1080px) {
      .program dl dd {
        width: 100%;
        font-size: 1.4rem; } }
.program .program__bottom {
  text-align: right;
  width: 100%;
  display: inline-block; }
  @media screen and (max-width: 1080px) {
    .program .program__bottom {
      text-align: left; } }
.program .event-participant {
  font-size:0.8em;
  background-color: #C7E4E8;
  padding: 0 10px;
	display: inline-block; 
	border-radius: 20px;
	margin-top: 20px;
	line-height: 1.6;
}
  /*@media screen and (max-width: 1080px) {
    .program .event-participant {
      font-size: 100px; } }*/

.flow h3 {
  position: relative;
  padding-left: 1rem; }
 /* .flow h3 i {
    position: absolute;
    color: #f5bf49;
    padding-right: 1rem;
    left: 3px;
    top: 10px; }
    @media screen and (max-width: 1080px) {
      .flow h3 i {
        left: 7px;
        top: 0px;
        font-size: 2.4rem; } }*/
.flow ul {
  padding-left: 2rem; }
  @media screen and (max-width: 1080px) {
    .flow ul {
      font-size: 1.4rem; } }
  .flow ul li {
    align-items: center;
    padding-left: 1rem;
    line-height: 2; }
    .flow ul li::marker {
      content: "●";
      color: #2EABBC;
      font-size: 1.6rem;
      line-height: 1; }
.flow p {
  margin: 2rem 0 4rem; }
.flow__caution {
  width: 100%;
  text-align: right;
  font-size: 1.4rem;
  margin: 0 0 4rem; }
  @media screen and (max-width: 1080px) {
    .flow__caution {
      text-align: unset; } }
.flow__img {
  width: fit-content;
  margin: 4rem; }
  @media screen and (max-width: 1080px) {
    .flow__img {
      max-width: 350px;
      width: 60%;
      margin: 4rem auto; } }
.flow__button {
  margin: 2rem auto; }

.contact p {
  margin-top: 0; }
.contact ul {
  padding-left: 2rem; }
  @media screen and (max-width: 1080px) {
    .contact ul {
      font-size: 1.4rem; } }
  .contact ul li {
    align-items: center;
    padding-left: 1rem;
    line-height: 2; }
    .contact ul li::marker {
      content: "●";
      color: #003F73;
      font-size: 1.6rem;
      line-height: 1; }

@media screen and (max-width: 1080px) {
  .link {
    margin: 4rem 2rem; } }
.link .wrap {
  background-color: unset;
  padding: 0; }
  .link .wrap a {
    width: fit-content;
    margin: 0 auto;
    display: block;
    transition: 0.3s; }
    .link .wrap a:hover {
      opacity: 0.8; }
    @media screen and (max-width: 1080px) {
      .link .wrap a img {
        width: 100%; } }

footer {
  background-color: #fff; }
  footer .wrap {
    padding: 2rem 0;
    text-align: center; }
    footer .wrap span {
      font-size: 1.6rem; }
      @media screen and (max-width: 1080px) {
        footer .wrap span {
          font-size: 1.1rem; } }