@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; /*font: inherit;*/ vertical-align: baseline; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after,q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }

/*
HTML5 display-role reset for older browsers
*/
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after,q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }
button { -webkit-appearance: button; appearance: none; background-color: transparent; border: none; cursor: pointer; outline: none; padding: 0; -webkit-tap-highlight-color: rgba(0,0,0,0); box-sizing: border-box; }
input, textarea, select { -webkit-appearance: none; appearance: none; outline: none; }
input:focus,textarea:focus { outline: none; }
input:: -moz-focus-inner,button:: -moz-focus-inner { border: 0; }
a { color: #000000; text-decoration: none; -webkit-tap-highlight-color: rgba(0,0,0,0); }
a,a:focus { outline: none; }
img { border: none; vertical-align: bottom; }

body { width: 100%; min-width: 320px; margin: 0; font-family: "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "游明朝", "Yu Mincho", YuMincho, "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif; font-weight: 400; -webkit-text-size-adjust: 100%; font-size: 14px; line-height: 1.5; letter-spacing: 0.1em; color: #222;}
body, ol, ul, dl, dt, dd, h1, h2, h3, h4, h5, h6, h7, form, p,div { margin:0; padding:0; box-sizing: border-box; }
img { border: 0; user-select: none; -webkit-user-select: none; -moz-user-select: none; -khtml-user-select: none; -webkit-user-drag: none; -khtml-user-drag: none; vertical-align: bottom; }
img { max-width:100%; height:auto; }
li { list-style-type: none; }
table, tr, td { border-style: none; vertical-align: top; }
html { font-size: 100%; }

/* IE,Android */
body.ie {font-family: 'Noto Sans JP', Meiryo, sans-serif;}

/* a-link */
a { text-decoration: none; color: inherit; overflow: hidden; -webkit-transition: .2s linear; -moz-transition: .2s linear; -o-transition: .2s linear; }
a img { -webkit-transition: .2s linear; -moz-transition: .2s linear; -o-transition: .2s linear; transition: .2s linear; }
/*a:hover { opacity: 0.7;}*/

/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */

/* IE */
body.ie {
  font-family: Verdana, Meiryo, sans-serif;
}

body { position:relative; }
.header-nav * { font-family: "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "游明朝", "Yu Mincho", YuMincho, 'Noto Serif JP', "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif; }
footer * { font-family:"ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "游ゴシック", YuGothic, "メイリオ", Meiryo, sans-serif; }


/* notice
------------------------------------------------------------*/
.notice { position: relative; padding: 15px; color: #fff; text-align: center; background-color: #d08e29; z-index: 99; cursor:pointer; }
.notice p { font-family: "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "游明朝", "Yu Mincho", YuMincho, 'Noto Serif JP', "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;}
.notice_ttl { font-size: 1.4rem; font-weight: bold;}
.notice br.sp{
	display:none;
}

@media print,screen and (max-width:1000px) {
.notice { margin-top:65px; }
}

@media print,screen and (max-width:599px) {
.notice_ttl { font-size: 1.2rem;}
.notice br.sp{
	display:block;
}
}

/* modal
------------------------------------------------------------*/
/* チェックボックスを非表示 */
#my_modal1{
	display: none;
}
/* モーダル */
.my_modal_body1{    
	display: none;
	position: fixed;
	z-index: 100000;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
	-webkit-transform: translateY(-50%) translateX(-50%);
	display: none;
	background-color: #FFF;
	overflow-y: auto;
	/* スマホ用スクロール */
	-webkit-overflow-scrolling: touch;
	overflow-scrolling: touch;
	/* お好みで */
	width: 90%;
	max-height: 80%;
	max-width: 600px;
}

/* モーダル内ヘッダー */
.my_modal_header{
	padding: 15px 10px;
	background-color: #d08e29;
	color: #FFF;
	font-weight: bold;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	z-index: 1;
	text-align: center;
}

/* クローズアイコン */
.my_modal_close{
	position: absolute;
	width: 20px;
	height: 20px;
	top: 50%;
	right: 10px;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	cursor: pointer;
}
.my_modal_close_icon{
	display: inline-block;
	width: 20px;
	height: 20px;
	position: relative;
	cursor: pointer;
}
.my_modal_close_icon span::before,
.my_modal_close_icon span::after{
	display: block;
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	width: 84%;
	height: 16%;
	margin: -8% 0 0 -42%;
	background: #FFF;
}
.my_modal_close_icon span::before{
	transform: rotate(-45deg);
}
.my_modal_close_icon span::after{
	transform: rotate(45deg);
}

/* コンテンツ表示 */
.my_modal_content{
	font-family: "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "游明朝", "Yu Mincho", YuMincho, 'Noto Serif JP', "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
	padding: 20px;
}
.my_modal_content h2 {
	text-align: center;
	margin-bottom: 1.5em;
	font-weight:bold;
	font-size:1.3em;
}
.my_modal_content h2 span {
	display:block;
	margin-bottom:0.2em;
	font-weight: normal;
	font-size:0.8em;
}
.my_modal_content br.sp{
	display:none;
}
.my_modal_content p {
	margin-top: 0.5em;
}
.my_modal_content .bottom {
	margin-top: 1.5em;
}
.my_modal_content .bottom a {
	color: #018bd1;
	text-decoration:underline;
}
.my_modal_content .txt_red {
	color:#C00;
}

@media print,screen and (max-width:599px) {
.my_modal_content h2 {
	font-size:1.2em;
}
.my_modal_content br.sp{
	display:block;
}
.my_modal_content .bottom a {
	text-decoration: none;
}
}


/* 背景を暗くする */
.my_modal_overlay{
	display: none;
	position: fixed;
	z-index: 90000;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	background-color: #111;
	opacity: 0.3;
	cursor: pointer;
}

/* チェック時オーバーレイとコンテンツを表示 */
#my_modal1:checked ~ .my_modal_body1, #my_modal1:checked ~ .my_modal_overlay{
	display: block;
}

/* header
------------------------------------------------------------*/
.header-nav {position:fixed;width:21.6%;height:auto;top:0;z-index:9999;transition:.3s}
.header-nav .inner{max-width:265px;margin:20px 0 0 auto;}
.header-nav nav{position:relative;font-size:15px;color:#222;text-align:center;}

.header-nav .logo{display:block;transition:.3s;padding:15px;background:#000;}
.header-nav .logo > span { display:block;margin-bottom:10px; }
.header-nav .logo img{transition:.3s}
.header-nav .logo a{transition:.3s;display: block;}
.header-nav .logo a:hover{opacity:.7}
.header-nav .logo a small {color: #B99524;font-size: 1em;margin-top: .8em;display: block;}
.header-nav .navbar-toggle{display:none}

.header-nav .nav-list {padding-top: 0.5em; background-color: #fff;}
.header-nav .nav-menu {padding: 0 20px 0 20px; font-size: 17px; font-weight: bold; text-align: left; letter-spacing: 0;}
.header-nav .nav-menu > a {position: relative; display: block; padding: 0.5em 0 0.5em 55px;}
.header-nav .nav-menu > a:before {content: ""; position: absolute; left: 10px; top: 50%; background-size: 100% auto; background-repeat: no-repeat; transform: translateY(-50%);}
.header-nav .nav-menu-pickup > a {color: #cc0000;}
.header-nav .nav-menu-pickup > a:before {content: "Pick Up"; left: 0; padding: 2px 4px; color: #fff; line-height: 1; font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "游ゴシック", YuGothic, "メイリオ", Meiryo, sans-serif; font-size: 8px; letter-spacing: 0; background-color: #cc0000;}
.header-nav .nav-menu-new > a:before {width: 26px; height: 28px; background-image: url(../img/nav_new.png);}
.header-nav .nav-menu-ranking > a:before {width: 22px; height: 16px; background-image: url(../img/nav_ranking.png);}
.header-nav .nav-menu-fruits > a:before {width: 23px; height: 26px; background-image: url(../img/nav_fruits.png);}
.header-nav .nav-menu-sweets > a:before {width: 22px; height: 26px; background-image: url(../img/nav_sweets.png);}
.header-nav .nav-menu-meat > a:before {width: 25px; height: 21px; background-image: url(../img/nav_meat.png);}
.header-nav .nav-menu-sidedish > a:before {width: 21px; height: 27px; background-image: url(../img/nav_sidedish.png);}
.header-nav .nav-menu-seafood > a:before {width: 23px; height: 28px; background-image: url(../img/nav_seafood.png);}
.header-nav .nav-menu-drink > a:before {top: 40%; width: 26px; height: 29px; background-image: url(../img/nav_drink.png);}
.header-nav .nav-menu-sake > a:before {width: 26px; height: 25px; background-image: url(../img/nav_sake.png);}
.header-nav .nav-menu-other {padding-bottom: 1em;}
.header-nav .nav-menu-other > a:before {width: 22px; height: 22px; background-image: url(../img/nav_other.png);}
.header-nav .nav-menu-mother > a {color: #E5567A;}
.header-nav .nav-menu-mother > a:before {width: 24px; height: 27px; background-image: url(../img/nav_mother.png);}
.header-nav .nav-menu-review > a:before {width: 24px; height: 20px; background-image: url(../img/nav_review.png);}

.header-nav .submenu{display:none;padding-bottom:5px;}
.header-nav .submenu li {text-align: right;}
.header-nav .submenu li a {display: block; padding-top:.3em;padding-bottom:.3em;font-size:14px;font-weight:400;}
.header-nav .nav-list li.has-submenu.sub-open{background:#f1f1f1}
.header-nav .nav-list li.has-submenu.sub-open > a{background:#f1f1f1;color: #000;font-weight: bold;}

.header-nav .nav-list li.insta_nav {margin: 5px 23px 13px 34px; padding: 1px; background: transparent linear-gradient(30deg, #FEC01E 0%, #FDB21C 6%, #FA8F19 17%, #F75615 32%, #F2090E 50%, #F2010E 52%, #EE0116 53%, #DE0146 65%, #D1016C 75%, #C70187 85%, #C20198 93%, #C0019E 100%) 0% 0% no-repeat padding-box;}
.header-nav .nav-list li.insta_nav a {display: flex; align-items: center; height: 42px; padding: 0 0 0 10px; color: #000; font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "游ゴシック", YuGothic, "メイリオ", Meiryo, sans-serif; font-size: 15px; letter-spacing: 0; background-color: #fff;}
.header-nav .nav-list li.insta_nav a::before {content: ""; display: inline-block; width: 26px; height: 26px; margin-right: 10px; -webkit-mask: url("../img/ico_instagram.svg"); mask: url("../img/ico_instagram.svg"); -webkit-mask-size: cover; mask-size: cover; background: transparent linear-gradient(30deg, #FEC01E 0%, #FDB21C 6%, #FA8F19 17%, #F75615 32%, #F2090E 50%, #F2010E 52%, #EE0116 53%, #DE0146 65%, #D1016C 75%, #C70187 85%, #C20198 93%, #C0019E 100%) 0% 0% no-repeat padding-box;}
.header-nav .nav-list li.insta_nav a:hover {color: #fff; background-color: transparent;}
.header-nav .nav-list li.insta_nav a:hover::before {background: #fff;}

.header-nav .nav-list li.youtube_nav a {display: flex; align-items: center; height: 42px; margin: 5px 23px 13px 34px;  padding: 0 0 0 10px; color: #000; font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "游ゴシック", YuGothic, "メイリオ", Meiryo, sans-serif; font-size: 15px; letter-spacing: 0; border: 1px solid #F81C24; background-color: #fff;}
.header-nav .nav-list li.youtube_nav a::before {content: ""; display: inline-block; width: 25px; height: 18px; margin-right: 10px; background: url("../img/ico_youtube.png") left top / 100% auto no-repeat;}
.header-nav .nav-list li.youtube_nav a:hover {color: #fff; background-color: #F81C24;}
.header-nav .nav-list li.youtube_nav a:hover::before {background-image: url("../img/ico_youtube_on.png");}

.header-nav .nav-list li.all_nav a {display: block;text-align:center; background:#e2e2e3;color:#000;padding:.9em 1em}

.header-nav .nav-list li.guide_nav{/*margin-top:.5em;*/text-align:center}
.header-nav .nav-list li.guide_nav a{display: block; background:#222;color:#FFF;padding:1em;position:relative;}
.header-nav .nav-list li.guide_nav > a:after { content:"＋";color:#fff;position:absolute;top:50%;right:15px;transform:translateY(-50%); }
.header-nav .nav-list li.guide_nav.guide-open > a:after { content:"－" }
.header-nav .nav-list li.guide_nav span:before{content:"";display:inline-block;width:10px;height:15px;background:url(../img/icon-guide.png) center /cover;vertical-align:-.2em;margin-right:.5em}
.header-nav .nav-list li.guide_nav a:hover { color:#fff;background:#666; }
.header-nav .nav-list li.guide_nav .submenu { padding:0; }
.header-nav .nav-list li.guide_nav .submenu a { padding:.5em 1em; }

.header-nav .bnr { margin-top:20px; }
.header-nav .bnr li + li { margin-top:10px; }
.header-nav .bnr a:hover { opacity:0.7; }

@media print,screen and (min-width:1001px) {
	.header-nav .nav-wrap { max-height:calc(100vh - 100px);overflow-y:auto;-ms-overflow-style:none;scrollbar-width:none; }
	.header-nav .nav-wrap::-webkit-scrollbar { display:none; }
	.header-nav .logo .no-pc{display: none;}
	.header-nav .nav-main > li.icon-new a:before {content: '';background-color: #FF0000;width: 10px;height: 10px;border-radius: 10px;display: inline-block;vertical-align: text-top;transform: scale(0.7);margin-right: 5px;}
	.header-nav .nav-main > li:nth-child(n+3):not(.cart_link):not(.guide_nav):not(.main_link) a {color: #666;}
}
@media print,screen and (max-width:1000px) {
	.header-nav{padding:0;position:fixed;top:0;left:0;width:100%}
	.header-nav .inner{float:none;margin:0;padding:0;max-width:inherit}
	.header-nav nav { text-align:left; }
	.header-nav .logo{padding:0;height: 65px;background: rgba(0, 0, 0, 0.9);/*margin:10px;background:none;display:none;*/}
	.header-nav .logo a{max-width:160px;display:block;padding: 24px 15px 22px;}
	.header-nav .logo a small {display: none;}
	.header-nav .logo .no-sp{display: none;}
	.header-nav nav{font-size:13px;padding:0;background:none;height:0}
	.header-nav .nav-wrap{
		display:none;
		background:url("../img/bg_check.jpg") #000;width:100%;height:100vh; height: calc( 100vh - 65px );/*position:fixed;*/top:0;left:0;text-align:center;overflow-y:auto;
		-webkit-transform:translate3d(0px, 0px, 0px);
		-ms-transform:translate3d(0px, 0px, 0px);
		transform:translate3d(0px, 0px, 0px);
		z-index:9998;
	}
	.header-nav .nav-menu > a {border-bottom: 1px solid #999;}
	.header-nav .nav-menu-other > a {border-bottom: none;}
	.header-nav .navbar-toggle{position:fixed;top:10px;right:10px;width:50px;height:45px;z-index:10000;border:none;/*background:#fff;*/-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-box-shadow:none;box-shadow:none;outline:none;transition:all .4s;border-radius:0;}
	.header-nav .navbar-toggle,.navbar-toggle span{display:inline-block;}
	.header-nav .navbar-toggle span{position:absolute;left:10px;width:30px;height:1px;background-color:#fff;/*background-color:#333;*/border-radius:4px}
	.header-nav .navbar-toggle span:nth-of-type(1){top:14px}
	.header-nav .navbar-toggle span:nth-of-type(2){top:22px}
	.header-nav .navbar-toggle span:nth-of-type(3){bottom:14px}
	.header-nav .navbar-toggle.active {
		-webkit-transform:translate3d(0px, 0px, 100px) rotateY(180deg);
		-ms-transform:translate3d(0px, 0px, 100px) rotateY(180deg);
		transform:translate3d(0px, 0px, 100px) rotateY(180deg);
		z-index:10000;}
	.header-nav .navbar-toggle.active span:nth-of-type(1){top:12px;-webkit-transform:translateY(10px) rotate(-45deg);-ms-transform:translateY(10px) rotate(-45deg);transform:translateY(10px) rotate(-45deg)}
	.header-nav .navbar-toggle.active span:nth-of-type(2){-webkit-transform:translateY(0) rotate(45deg);-ms-transform:translateY(0) rotate(45deg);transform:translateY(0) rotate(45deg)}
	.header-nav .navbar-toggle.active span:nth-of-type(3){opacity:0}
	.header-nav .submenu li {text-align: left;}
	
	.header-nav .nav-list li.insta_nav a, .header-nav .nav-list li.youtube_nav a {justify-content: center; padding: 0;}

	.header-nav .bnr { display:none; }
}
@media print,screen and (max-width:599px) {
	.header-nav .logo a{/*max-width:70px;padding:10px;*/}
}

/* footer
------------------------------------------------------------*/
footer { letter-spacing:normal; }
.footer-wrap { position: relative;padding: 28px 0 30px 0; }
.pagetop { position: absolute;top: -31px;left: 50%;margin-left: -20px; }
.pagetop02 { display:none;position: fixed;right:20px;bottom:20px;transition:.3s;z-index:100;}
.pagetop02:hover{opacity:0.6;}

@media print,screen and (min-width:600px) {
	.footer-inner { width:995px;margin: 0 auto; }
	.footer-nav-guide { display: flex;margin: 0 0 20px 0; }
	.footer-nav-guide dt { margin: 0 30px 0 0;font-weight: bold; }
	.footer-nav-guide ul { display: flex; }
	.footer-nav-guide ul li ~ li { position: relative;margin-left: 36px; }
	.footer-nav-guide ul li ~ li:before { content: "";position: absolute;display: block;background-position: left top;background-repeat: no-repeat;top: 3px;left: -20px;width: 1px;height: 13px;background-color: #9d9d9d; }
	.footer-nav-guide ul a { color: #000; }
	.footer-nav-bnr { display: flex; }
	.footer-nav-bnr .bn_sp { display:none; }
	.footer-nav-bnr li { transition: opacity 0.3s ease 0s; }
	.footer-nav-bnr li:hover { opacity: 0.5; }
	.footer-nav-bnr li ~ li { margin-left: 10px; }
	.footer-nav-bnr li img { width:100%; }
	.footer { margin: 32px 0 0 0;padding: 13px 0 0 0;border-top: 1px solid #eee; }
	.footer .footer-inner { display: flex; box-sizing:border-box; }
	.footer .nav { /*flex-basis: 82.9%;width: 82.9%;*/width:calc(100% - 170px); margin: 14px 0 0 0; }
	.footer-nav-aside { display: flex;flex-wrap: wrap; }
	.footer-nav-aside li { font-size: 12px; }
	.footer-nav-aside li ~ li { position: relative;margin-left: 30px; }
	.footer-nav-aside li ~ li:before { content: "";position: absolute;display: block;background-position: left top;background-repeat: no-repeat;top: 4px;left: -15px;width: 1px;height: 11px;background-color: #333; }
	.footer-nav-aside a { color: #333; letter-spacing:normal; }
	.copy-pc { margin: 7px 0 0 0;font-size: 12px; }
	.copy-sp { display:none; }
	.footer-bottom { /*flex-basis:17.1%;width:17.1%;*/width:167px; margin: 0 3px 0 auto; }
	.footer-bottom ul { display:flex; }
	.footer-bottom ul li ~ li { margin-left:14px; }
	.footer-bottom ul a { display: block;background-position: left top;background-repeat: no-repeat;text-indent: -9999px; }
	.footer-bottom ul .ci a { width: 83px;height: 70px;background-image: url(../img/footer/ci.png); }
	.footer-bottom ul .privacy a { width: 70px;height: 70px;background-image: url(../img/footer/privacy_img.png); }
}
@media print,screen and (min-width:600px) and (max-width:1000px) {
	.footer-inner { width:100%; padding:0 20px; }
}
@media print,screen and (max-width:599px) {
	footer { font-size:12px!important; }
	footer a { color:#0654ba; }
	.footer-wrap { padding:0; }
	.footer-nav-guide { padding: 28px 4.2% 20px 4.2%; }
	.footer-nav-guide dt { margin: 0 0 9px 0;font-weight: bold; }
	.footer-nav-guide ul { border-top: 1px solid #eee; }
	.footer-nav-guide ul li { border-bottom: 1px solid #eee; }
	.footer-nav-guide ul a { position: relative;display: block;height: 33px;line-height: 33px;color: #000; }
	.footer-nav-guide ul a:after { content: "";position: absolute;top: 12px;right: 5px;display: block;width: 0;height: 0;border: 4px solid transparent;border-left: 4px solid #000; }
	.footer-nav-bnr { padding: 0 4.2% 22px 4.2%; }
	.footer-nav-bnr .bn_pc { display:none; }
	.footer-nav-bnr li ~ li { margin-top: 13px; }
	.footer-nav-bnr li:hover { opacity: 1; }
	.footer-nav-bnr img { max-width: 100%;width: 100%;height: auto; }
	.footer-bottom { display: flex;padding: 10px 4.2% 10px 4.2%; }
	.footer-nav-aside { display: flex;flex-wrap: wrap;padding: 18px 4.7% 17px 4.7%;background-color: #eee; }
	.footer-nav-aside li {	flex-basis: 43.1%;width: 43.1%;font-size: 10px; }
	.footer-nav-aside li:nth-child(2n) { margin-left: 11.4%; }
	.footer-nav-aside li:nth-child(n+3) { margin-top: 13px; }
	.copy-pc { display:none; }
	.copy-sp { margin: 4px 0 0 0;line-height: 1.8;color: #333;font-size: 9px; }
	.footer-bottom ul { display: flex;margin-left: auto; }
	.footer-bottom ul li { background-position: left top;background-repeat: no-repeat;text-indent: -9999px; }
	.footer-bottom ul li ~ li { margin-left: 7px; }
	.footer-bottom ul a { display: block; }
	.footer-bottom ul .ci a { width: 42px;height: 35px;background-image: url(../img/footer/ci.png);background-size: 42px 35px; }
	.footer-bottom ul .privacy a { width: 35px;height: 35px;background-image: url(../img/footer/privacy_img.png);background-size: 35px 35px; }

  .pagetop02 {width:40px;height:40px;right:10px;bottom:10px;}
}
